<form
        method="post"
        action="{{ path('app_listing_remove', {'id': listing.id}) }}"
        onsubmit="return confirm('{{ 'trans.Delete' | trans }}: {{ listing.title }}?');"
        class="d-inline"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('remove' ~ listing.id) }}">
    <button class="btn btn-danger btn-mini mb-1">{{ 'trans.Delete' | trans }}</button>
</form>
