{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Payment' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'trans.Payment' | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Amount' | trans }}</th>
                <td>{{ payment.amount | moneyAsFloat }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Date' | trans }}</th>
                <td>{{ payment.datetime ? payment.datetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Payment gateway - status' | trans }}</th>
                <td>{{ payment.gatewayStatus }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Balance updated?' | trans }}</th>
                <td>
                    <span class="{{ payment.balanceUpdated | boolGreenRedClass }}">{{ payment.balanceUpdated | boolText | trans }}</span>
                </td>
            </tr>
            <tr>
                <th>{{ 'trans.Canceled?' | trans }}</th>
                <td><span class="{{ payment.canceled | boolGreenRedClass }}">{{ payment.canceled | boolText | trans }}</span></td>
            </tr>
            <tr>
                <th>{{ 'trans.Payment gateway - transaction ID' | trans }}</th>
                <td><a href="https://www.paypal.com/activity/payment/{{ payment.gatewayTransactionId }}">{{ payment.gatewayTransactionId }}</a></td>
            </tr>
            <tr>
                <th>GatewayToken</th>
                <td>{{ payment.gatewayToken }}</td>
            </tr>
            <tr>
                <th>GatewayPaymentId</th>
                <td>{{ payment.gatewayPaymentId }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.User' | trans }}</th>
                <td>
                    <a href="{{ path('admin_user_edit', {'id': payment.user.id}) }}">{{ payment.user.username }}</a>
                </td>
            </tr>
            <tr>
                <th>{{ 'trans.Listing' | trans }}</th>
                <td>
                    {% if payment.paymentForFeaturedPackage %}
                        <a href="{{ path('app_admin_listing_edit', {'id': payment.paymentForFeaturedPackage.listing.id}) }}">{{ payment.paymentForFeaturedPackage.listing.title }}</a>
                    {% else %}
                        {{ 'trans.none' | trans }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_payment_index') }}" class="btn btn-secondary">{{ 'trans.back to list' | trans }}</a>
{% endblock %}
