{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Police log' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>
            {{ 'trans.Police log for listing' | trans }}:
            <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}">
                {{ listing.title }}
            </a>
        </h1>

        <button type="button" class="btn btn-primary mb-4" id="policeLogCopyToClipboard">
            {{ 'trans.Copy to clipboard' | trans }}
        </button>

        <textarea style="width: 100%; height: fit-content; min-height: 40rem;">{{- policeLogText -}}</textarea>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('#policeLogCopyToClipboard').click(function() {
            copyTextToClipboard(({{ policeLogText | json_encode | raw }}));
        });
    </script>
{% endblock js %}
