{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Police log' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>
            {{ 'trans.Police log for listing' | trans }}:
            <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}" class="text-break">
                {{- listing.title -}}
            </a>
        </h1>

        <div>
            <button type="button" class="btn btn-primary mb-4" id="policeLogCopyToClipboard">
                {{ 'trans.Copy to clipboard' | trans }}
            </button>
        </div>

        <div>
            <textarea disabled class="police-log-textarea">{{- policeLogText -}}</textarea>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('asset/page/admin/listing/police-log.js') }}"></script>
{% endblock js %}
