{% use "bootstrap_4_layout.html.twig" %}

{% block file_simple_widget -%}
    <{{ element|default('div') }} class="file-simple">
    {%- set type = type|default('file') -%}
    {{- block('form_widget_simple') -}}
    </{{ element|default('div') }}>
{% endblock %}

{%- block form_start -%}
    {{ parent() }}

    {% include 'form/_flash_above_form.html.twig' %}
{%- endblock form_start -%}

{% block form_label -%}
    {{ parent() }}
    {% if required and (label is not same as(false)) and (errors|length < 1) -%}
        <span class="badge badge-primary">{{ 'trans.required' | trans }}</span>
    {% endif %}
{%- endblock form_label %}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('checkbox-custom')) -%}
    {{ parent() }}
{%- endblock checkbox_widget %}

{% block checkbox_radio_label -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('checkbox-custom')) -%}
    {{ parent() }}
{%- endblock checkbox_radio_label %}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {%- set form_group_attr = form_group_attr | default({}) |merge({class: (form_group_attr.class|default('') ~ ' form-group')|trim}) -%}
    <{{ element|default('div') }} {% with { attr: form_group_attr } %}{{ block('attributes') }}{% endwith %}>
    {{- form_label(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}

{% block _listing_widget -%}
    {%- if form is rootform -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {% if form.customFieldList.children is not empty %}
        {% for child in form|filter(child => not child.rendered) %}
            {{- form_widget(child) -}}
        {% endfor %}
    {% else %}
        {% do form.customFieldList.setRendered %}
        <div class="formCustomFieldList"></div>
    {% endif %}
    {{- form_rest(form) -}}
{%- endblock _listing_widget %}
