<form
        method="post"
        action="{{ path('app_admin_category_custom_field_join_category_delete', {'id': customFieldJoinCategory.id}) }}"
        onsubmit="return confirm('{{ 'trans.Delete category custom field' | trans }}: {{ customFieldJoinCategory.customField.name }}?');"
        class="d-inline"
>
<input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('deleteCustomFieldFromCategory' ~ customFieldJoinCategory.id) }}">
    <button class="btn btn-danger mb-1">{{ 'trans.Delete' | trans }}</button>
</form>
