{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Add custom field' | trans }}{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row mb-2">
        <div class="col-md-6">
            <h1>{{ 'trans.Add custom field' | trans }}</h1>
            <h5 class="text-break">{{ 'trans.for category' | trans }}: {{ customFieldJoinCategory.category.parent.name }} ⇾ {{ customFieldJoinCategory.category.name }}</h5>
        </div>
        <div class="col-md-6 text-md-right">
            <a href="{{ path('app_admin_category_edit', {'id':customFieldJoinCategory.category.id}) }}">{{ 'trans.back to list' | trans }}</a>
        </div>
    </div>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-5">
            {{ form_row(form.customField) }}
        </div>
        <div class="col-md-7">
            <a
                    href="{{ path('app_admin_custom_field_new', {'categoryId': customFieldJoinCategory.category.id}) }}"
                    class="btn btn-primary col-checkbox-pull-down"
            >
                {{ 'trans.Add missing custom field' | trans }}
            </a>
        </div>
    </div>

    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('trans.Save') | trans }}</button>
    {{ form_end(form) }}

</div>
{% endblock %}
