{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Edit Category' | trans }}{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row mb-2">
        <div class="col-md-6">
            <h1>{{ 'trans.Edit Category' | trans }}</h1>
        </div>
        <div class="col-md-6 text-md-right">
            <a href="{{ path('app_admin_category') }}">{{ 'trans.back to list' | trans }}</a>

            <a href="{{ path('app_admin_category_new', {'parentCategory': category.parent.id}) }}" class="btn btn-primary mb-1">
                {{ 'trans.Add category' | trans }}
            </a>

            {{ include('admin/category/_delete_form.html.twig') }}
        </div>
    </div>

    {{ include('admin/category/_form.html.twig', {'button_label': 'trans.Update'}) }}

    {% if category.picture is not empty %}
        <div class="my-2">
            <img src="{{ asset(category.picture) }}" alt="">
        </div>
    {% endif %}
</div>

<div class="container mt-3">
    <div class="row mb-2">
        <div class="col-md-6">
            <h1>{{ 'trans.Custom fields' | trans }}</h1>
            <h5>{{ 'trans.to fill for listings in category' | trans }}</h5>
        </div>
        <div class="col-md-6 text-md-right">
            <button class="btn btn-success saveOrder mb-1">{{ 'trans.Save order' | trans }}</button>

            <a href="{{ path('app_admin_category_add_custom_field', {'id': category.id}) }}" class="btn btn-primary mb-1">
                {{ 'trans.Add custom field' | trans }}
            </a>
        </div>
    </div>

    <table class="table table-responsive-sm">
        <thead>
        <tr>
            <th style="width: 2rem;"></th>
            <th>{{ 'trans.Name' | trans }}</th>
            <th>{{ 'trans.Type' | trans }}</th>
            <th>{{ 'trans.Required?' | trans }}</th>
            <th>{{ 'trans.Searchable?' | trans }}</th>
            <th>{{ 'trans.Unit' | trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="sortable">
        {% for customFieldJoinCategory in category.customFieldsJoin %}
            {% set customField = customFieldJoinCategory.customField %}
            <tr data-id="{{ customFieldJoinCategory.id }}">
                <td><i class="fas fa-arrows-alt sortableHandle"></i></td>
                <td>
                    {{ customField.name }}
                </td>
                <td>
                    {{ ('trans.customFieldType.'~customField.type) | trans }}
                </td>
                <td>
                    <span class="{{ customField.required | boolGreenRedClass }}">
                        {{ customField.required | boolText | trans }}
                    </span>
                </td>
                <td>
                    <span class="{{ customField.searchable | boolGreenRedClass }}">
                        {{ customField.searchable | boolText | trans }}
                    </span>
                </td>
                <td>
                    {{ customField.unit }}
                </td>
                <td>
                    <a href="{{ path('app_admin_custom_field_edit', {'id': customField.id}) }}" class="btn btn-dark mb-1">{{ 'trans.Edit' | trans }}</a>

                    {% include 'admin/category/_delete_custom_field_join_category_form.html.twig' %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99">{{ 'trans.no records found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
    <!-- CSRF -->
    <script type="text/javascript">
        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': '{{ csrf_token('adminCustomFieldsInCategorySaveSort') }}',
            }
        });
    </script>
    <script>
        $('.sortable').sortable({
            handle: '.sortableHandle'
        });

        $('.saveOrder').click(function () {
            let orderedIdList = $('.sortable').sortable('widget').toArray();

            $.ajax(Routing.generate('app_admin_category_custom_fields_save_order', []), {
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({
                        orderedIdList: orderedIdList
                    })
                }
            );
        });
    </script>
{% endblock %}
