{% extends 'admin/base.html.twig' %}
{% import _self as macros %}

{% block title %}{{ 'trans.Categories' | trans }}{% endblock %}

{% macro categoryLevel(parentCategory) %}
    {% import _self as macros %}
    {# @var parentCategory \App\Entity\Category #}
    <li class="nested-sortable-group" data-id="{{ parentCategory.id }}">
        <div class="nested-sortable-item">
            <i class="fas fa-arrows-alt sortableHandle"></i>
            {{ parentCategory.name }}
            <div class="float-md-right ml-md-5 d-md-inline-block">
                <a href="{{ path('app_admin_category_edit', {'id': parentCategory.id}) }}" class="btn btn-dark mb-1">
                    {{- 'trans.Edit' | trans -}}
                </a>
                <a href="{{ path('app_admin_category_new', {'parentCategory': parentCategory.id}) }}" class="btn btn-success mb-1">
                    {{- 'trans.Add subcategory' | trans -}}
                </a>
            </div>
        </div>

        {% for category in parentCategory.children  %}
            <ul class="nested-sortable"  data-sortable-group="parent_{{ parentCategory.id }}">
                {{- macros.categoryLevel(category) -}}
            </ul>
        {% endfor %}
    </li>
{% endmacro %}

{% block body %}
    <div class="container mt-3">
        <div class="row mb-2">
            <div class="col-md-6">
                <h1>{{ 'trans.Categories' | trans }}</h1>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="{{ path('app_admin_category_new') }}" class="btn btn-primary">{{ 'trans.Add category' | trans }}</a>
            </div>
        </div>

        {% if categoryList %}
            <button class="btn btn-primary w-100 mb-2 saveOrder">{{ 'trans.Save order of categories' | trans }}</button>

            <ul class="nested-sortable mb-2 pl-0" data-sortable-group="root">
                {# @var category1 \App\Entity\Category #}
                {%- for category in categoryList -%}
                    {{ macros.categoryLevel(category) }}
                {%- endfor -%}
            </ul>

            <button class="btn btn-primary w-100 mb-2 saveOrder">{{ 'trans.Save order of categories' | trans }}</button>
        {% else %}
            <div class="alert alert-info w-100">{{ 'trans.no records found' | trans }}</div>
        {% endif %}
    </div>

{% endblock %}

{% block js %}
    <!-- CSRF -->
    <script>
        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': '{{ csrf_token('adminCategorySaveSort') }}',
            }
        });
    </script>
    <script>
        $('.nested-sortable').each(function (i, el) {
            $(el).sortable({
                group: $(el).data('sortable-group'),
                handle: '.sortableHandle'
            });
        });

        $('.saveOrder').click(function () {
            let orderedIdList = [];
            $('.nested-sortable').each(function (i, el) {
                orderedIdList = orderedIdList.concat($(el).sortable('widget').toArray());
            });

            $.ajax(Routing.generate('app_admin_category_save_order', []), {
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({
                        orderedIdList: orderedIdList
                    })
                }
            );
        });
    </script>
{% endblock %}
