{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Invoice' | trans }}: {{ invoice.invoiceNumber }}{% endblock %}

{% block body %}
    <h1>{{ 'trans.Invoice' | trans }}: {{ invoice.invoiceNumber }}</h1>

    <table class="table table-responsive-sm">
        <tbody>
            <tr>
                <th>{{ 'trans.Invoice number' | trans }}</th>
                <td>{{ invoice.invoiceNumber }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Date on invoice' | trans }}</th>
                <td>{{ invoice.invoiceDate | date(dateFormatYmd) }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Tax ID' | trans }}</th>
                <td>{{ invoice.clientTaxNumber }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Payment' | trans }}</th>
                <td>
                    {% if invoice.payment %}
                        <a href="{{ path('app_admin_payment_show', {'id': invoice.payment.id}) }}">
                            {{ 'trans.Payment' | trans }}{{ ' ' }}
                            #{{ invoice.payment.id }}
                        </a>
                    {% endif %}
                    <div>{{ 'trans.Gateway Payment ID' | trans }}:</div>
                    <div>{{ invoice.payment.gatewayPaymentId }}</div>
                </td>
            </tr>
            <tr>
                <th>{{ 'trans.Client details' | trans }}</th>
                <td>
                    <div>{{ invoice.companyName }}</div>
                    <div>{{ invoice.street }}, {{ invoice.buildingNumber }} / {{ invoice.unitNumber }}</div>
                    <div>{{ invoice.zipCode }} {{ invoice.city }}</div>
                </td>
            </tr>
            <tr>
                <th>{{ 'trans.Seller details' | trans }}</th>
                <td>
                    <div>{{ invoice.sellerCompanyName }}</div>
                    <div>{{ invoice.sellerStreet }}, {{ invoice.sellerBuildingNumber }} / {{ invoice.sellerUnitNumber }}</div>
                    <div>{{ invoice.sellerZipCode }} {{ invoice.sellerCity }}</div>
                </td>
            </tr>
            <tr>
                <th>{{ 'trans.Export date' | trans }}</th>
                <td>
                    {% if invoice.exportDate %}
                        {{ invoice.exportDate | date(dateFormatYmdHis) }}
                    {% else %}
                        {{ '-' }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'trans.Sent to user date' | trans }}</th>
                <td>
                    {% if invoice.sentToUser %}
                        {{ invoice.sentToUserDate | date(dateFormatYmdHis) }}
                    {% else %}
                        {{ '-' }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'trans.Display to user' | trans }}</th>
                <td>
                    {% if invoice.displayToUser %}
                        {{ invoice.sentToUserDate | date(dateFormatYmdHis) }}
                    {% else %}
                        {{ '-' }}
                    {% endif %}
                </td>
            </tr>
            {% if invoice.externalSystemReference %}
                <tr>
                    <th>{{ 'trans.External system reference' | trans }}</th>
                    <td>
                        {{ invoice.externalSystemReference }}
                    </td>
                </tr>
            {% endif %}
            {% if invoice.externalSystemReferenceSecondary %}
                <tr>
                    <th>{{ 'trans.External system reference secondary' | trans }}</th>
                    <td>
                        {{ invoice.externalSystemReferenceSecondary }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ 'trans.Internal Payment ID' | trans }}</th>
                <td>
                    {{ invoice.id }}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_invoice_list') }}" class="btn btn-secondary">{{ 'trans.back to list' | trans }}</a>
{% endblock %}
