{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Edit Page' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">

        <div class="float-right">
            <a href="{{ path('app_admin_page_index') }}">{{ 'trans.back to list' | trans }}</a>

            <a href="{{ path('app_page', {'slug': page.slug}) }}" class="btn btn-info">{{ 'trans.Preview' | trans }}</a>

            {{ include('admin/page/_delete_form.html.twig') }}
        </div>

        <h1>{{ 'trans.Edit Page' | trans }}</h1>

        {{ include('admin/page/_form.html.twig', {'button_label': 'trans.Update'}) }}
    </div>
{% endblock %}
