{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Credits' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ 'trans.Credits' | trans }}</h2>

                <div>
                    <a href="https://www.freepik.com">www.freepik.com</a>
                </div>
                <div>
                    <a href="https://www.pexels.com">www.pexels.com</a>
                </div>
                <div>
                    <a href="https://pixabay.com">pixabay.com</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <h5 class="card-header">{{ 'trans.Relates pages' | trans }}</h5>

                    <div class="card-body">
                        {% for page in relatedPages %}
                            <div>
                                <a href="{{ path('app_page', {'slug': page.slug}) }}">{{ page.title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
