{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Balance top up' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-5">
                {% include 'user/listing/user_navigation_card.html.twig' %}
            </div>

            <div class="col-md-8 col-lg-9">
                <h3 class="mb-3">
                    {{ 'trans.Balance top up' | trans }}
                </h3>

                <div class="alert alert-info">
                    <p>
                        {{ 'trans.Do you feature many listings or feature frequently? After account top up, you will be able to feature listing by one click, using your account balance. Without need to make payment for every single listing separately' | trans }}
                    </p>
                    <p>
                        {{ 'trans.After topping up, you can feature listing using green buttons on feature listing page. They would use your account balance for payment, instead of redirecting you to payment page.' | trans }}
                    </p>
                </div>

                {% include 'form/_flash_above_form.html.twig' %}

                <div class="my-4">
                    {{ 'trans.Your balance is' | trans }}:
                    <strong class="badge badge-success">{{ userBalance | moneyAsFloat }}</strong>
                    {{ 'trans.that you can use to feature listings' | trans }}
                </div>

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="alert alert-info">
                    {{ 'trans.Funds do not expire. However, they are not subject to withdrawal. And they do not pay interest of any kind.' | trans }}
                </div>

                <button class="btn btn-primary">{{ 'trans.Top up account' | trans }}</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">
        new Cleave('.input-money', {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand',
            numeralPositiveOnly: true,
            delimiter: ' ',
            numeralDecimalMark: ','
        });
    </script>
{% endblock %}
