<form
        method="post"
        action="{{ path('app_listing_deactivate', {'id': listing.id}) }}"
        onsubmit="return confirm('{{ 'trans.Deactivate' | trans }}: {{ listing.title }}?');"
        class="d-inline"
>
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="_token" value="{{ csrf_token('deactivate' ~ listing.id) }}">
    <button class="btn btn-warning btn-mini">{{ 'trans.Deactivate' | trans }}</button>
</form>
