{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Extend featured' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-5">
                {% include 'user/listing/user_navigation_card.html.twig' %}
            </div>

            <div class="col-md-8 col-lg-9">
                <h3 class="mb-5">
                    {{ 'trans.Feature listing' | trans }}:
                    <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}">
                        {{ listing.title }}
                    </a>
                </h3>

                {% if listing.featuredActive %}
                    <div class="alert alert-success">
                        {{ 'trans.Featured until' | trans }}: {{ listing.featuredUntilDate | date }}
                    </div>
                {% endif %}

                {% include 'form/_flash_above_form.html.twig' %}

                {% if app.request.query.get('demoStarted') %}
                    <div class="alert alert-success" role="alert">
                        {{ 'trans.Listing has been featured for 30 minutes, to see how it looks click' | trans }}
                        <a href="{{ path('app_category', {'categorySlug': listing.category.slug}) }}#listing-{{ listing.id }}">{{ 'trans.HERE' | trans }}</a>
                    </div>
                {% endif %}

                <div class="row">
                    {% for package in packages %}
                        <div class="col-md-4">
                            <h4>{{ package.name }}</h4>

                            <div>
                                {{ include('user/listing/_feature_paid_form.html.twig') }}
                            </div>
                        </div>
                    {% endfor %}


                    <div class="col-md-4">
                        <h4>{{ 'trans.Featured demonstration' | trans }}</h4>

                        <div>
                            {% if listing.featuredUntilDate is null %}
                                {{ include('user/listing/_feature_as_demo_form.html.twig') }}
                            {% else %}
                                <span class="btn btn-secondary btn-sm disabled">{{ 'trans.Demonstration of featured has been used up' | trans }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
