<div class="formCustomFieldsLoaded">
    {% for customField in customFieldList %}
        {# @var customField \App\Entity\CustomField #}

        {% if customField.type == constant('\App\\Entity\\CustomField::TYPE_SELECT') %}
            <div class="form-group">
                <label class="{% if customField.required %}required{% endif %}" for="custom_field_{{ customField.id }}">{{ customField.name }}</label>
                <select id="custom_field_{{ customField.id }}" name="form_custom_field[{{ customField.id }}]" class="form-control">
                    <option value=''>{{ 'trans.Select' | trans }}</option>
                    {% for option in customField.customFieldOptions %}

                        {# @var customField \App\Entity\CustomField #}
                        <option
                                value="__form_custom_field_option_id_{{ option.id }}"
                                {% if option.value in customField.getListingCustomFieldValuesArray %}selected{% endif %}>
                            {{- option.name -}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% if customField.type == constant('\App\\Entity\\CustomField::TYPE_INTEGER_RANGE') %}
            <div class="form-group">
                <label class="{% if customField.required %}required{% endif %}" for="custom_field_{{ customField.id }}">{{ customField.name }}</label>

                <input type="number"
                       name="form_custom_field[{{ customField.id }}]"
                       value="{{ customField.listingCustomFieldValues.first.value | default }}"
                       id="custom_field_{{ customField.id }}"
                       class="form-control"
                >
            </div>
        {% endif %}
    {% endfor %}

</div>
