<div class="formCustomFieldsLoaded">
    {% for customField in customFieldList %}
        {# @var customField \App\Entity\CustomField #}

        {% if customField.type in [constant('\App\\Entity\\CustomField::TYPE_SELECT'), constant('\App\\Entity\\CustomField::TYPE_SELECT_SINGLE')] %}
            <div class="form-group">
                <label
                        class="{% if customField.required %}required{% endif %}"
                        for="custom_field_{{ customField.id }}"
                >
                    {{ customField.name }}
                </label>
                {% if customField.required %}
                    <span class="badge badge-primary">{{ 'trans.required' | trans }}</span>
                {% endif %}
                <select
                        id="custom_field_{{ customField.id }}"
                        name="listing[customFieldList][{{ customField.id }}]"
                        class="form-control"
                        {% if customField.required %}required{% endif %}
                >
                <option value=''>{{ 'trans.Select' | trans }}</option>
                    {% for option in customField.customFieldOptions %}

                        {# @var customField \App\Entity\CustomField #}
                        <option
                                value="__form_custom_field_option_id_{{ option.id }}"
                                {% if option.value in customField.getListingCustomFieldValuesArray %}selected{% endif %}
                        >
                            {{- option.name -}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% if customField.type == constant('\App\\Entity\\CustomField::TYPE_INTEGER_RANGE') %}
            <div class="form-group">
                <label class="{% if customField.required %}required{% endif %}" for="custom_field_{{ customField.id }}">
                    {{ customField.name }}
                    {%- if customField.unit is not empty %} [{{ customField.unit }}]{% endif -%}
                </label>
                {% if customField.required %}
                    <span class="badge badge-primary">{{ 'trans.required' | trans }}</span>
                {% endif %}

                <input type="number"
                       name="listing[customFieldList][{{ customField.id }}]"
                       value="{{ customField.listingCustomFieldValues.first.value | default }}"
                       id="custom_field_{{ customField.id }}"
                       class="form-control"
                       {% if customField.required %}required{% endif %}
                >
            </div>
        {% endif %}

        {% if customField.type == constant('\App\\Entity\\CustomField::TYPE_CHECKBOX_MULTIPLE') %}
            <div class="form-group">
                <label>
                    {{ customField.name }}
                </label>

                {% for option in customField.customFieldOptions %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox"
                               name="listing[customFieldList][{{ customField.id }}][]"
                               value="__form_custom_field_option_id_{{ option.id }}"
                               id="custom_field_{{ customField.id }}_option_{{ option.id }}"
                               class="custom-control-input"
                               {% if option.value in customField.getListingCustomFieldValuesArray %}checked{% endif %}
                        >
                        <label for="custom_field_{{ customField.id }}_option_{{ option.id }}" class="custom-control-label">
                            {{- option.name -}}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if customField.type == constant('\App\\Entity\\CustomField::TYPE_YEAR_RANGE') %}
            <div class="form-group">
                <label class="{% if customField.required %}required{% endif %}" for="custom_field_{{ customField.id }}">{{ customField.name }}</label>
                {% if customField.required %}
                    <span class="badge badge-primary">{{ 'trans.required' | trans }}</span>
                {% endif %}

                <select
                        name="listing[customFieldList][{{ customField.id }}]"
                        class="form-control"
                        {% if customField.required %}required{% endif %}
                >

                    <option value=''>{{ 'trans.Select' | trans }}</option>

                    {% set startYear = date().format('Y') %}
                    {% for year in startYear..1960 %}
                        <option
                                value="{{- year -}}"
                                {% if year in customField.getListingCustomFieldValuesArray %}selected{% endif %}
                        >
                            {{ year }}
                        </option>
                    {% endfor %}

                    <option
                            {% if 1959 in customField.getListingCustomFieldValuesArray %}selected{% endif %}
                            value="1959"
                    >
                        {{ 'trans.Older than 1960' | trans }}
                    </option>
                </select>
            </div>
        {% endif %}
    {% endfor %}

</div>
