{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.My listings' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <nav class="nav nav-pills nav-justified mb-2">
            <a class="nav-item nav-link active" href="{{ path('app_user_listing_index') }}">
                <i class="fas fa-list-ul"></i>
                <span class="menu-txt">{{ 'trans.Listings' | trans }}</span>
            </a>
            <a class="nav-item nav-link" href="{{ path('app_listing_new') }}">
                <i class="far fa-plus-square"></i>
                <span class="menu-txt">{{ 'trans.Create Listing' | trans }}</span>
            </a>
            <a class="nav-item nav-link" href="{{ path('app_user_change_password') }}">
                <i class="fas fa-lock"></i>
                <span class="menu-txt">{{ 'trans.Change Password' | trans }}</span>
            </a>
            <a class="nav-item nav-link" href="{{ path('app_user_change_email') }}">
                <i class="fas fa-envelope"></i>
                <span class="menu-txt">{{ 'trans.Change Email' | trans }}</span>
            </a>

            <form class="mt-2 mt-md-0 w-100-small" role="search">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="{{ 'trans.keyword' | trans }}" name="query" value="{{ app.request.get('query') }}">
                    <button type="submit" class="btn btn-primary ml-1">{{ 'trans.Search' | trans }}</button>
                </div>
            </form>
        </nav>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'trans.Title' | trans }}</th>
                        <th>{{ 'trans.Last edit' | trans }}</th>
                        <th>{{ 'trans.Status' | trans }}</th>
                        <th>
                            <a href="{{ path('app_listing_new') }}" class="btn btn-dark btn-sm float-right">
                                <i class="far fa-plus-square"></i>
                                <span class="menu-txt">{{ 'trans.Create Listing' | trans }}</span>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listing in listings %}
                        <tr>
                            <td>
                                <div class="card-thumb">
                                    <a title="{{ listing.title }}" href="{{ path('app_listing_show', {id: listing.id, 'slug': listing.slug}) }}">
                                        <img class="rounded list-small-img" alt="{{ listing.title }}" src="{{ asset(listing.mainImageInListSize | default('static/system/blank.png')) }}">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a href="{{ path('app_listing_show', {"id": listing.id, 'slug': listing.slug}) }}">{{ listing.title }}</a>
                                </div>
                                <div>
                                    <span class="mr-2">
                                        {{ listing.category.parent.name }}
                                        ⇾
                                        <a href="{{ path('app_category', {'categorySlug': listing.category.slug}) }}">
                                            {{- listing.category.name -}}
                                        </a>
                                    </span>
                                    {% if listing.featured %}
                                        <span class="badge badge-pill badge-warning">{{ 'trans.Featured' | trans }}</span>
                                    {% endif %}
                                </div>

                                {% if listing.status in [constant('\App\\Entity\\Listing::STATUS_ACTIVE'), constant('\App\\Entity\\Listing::STATUS_ACTIVE_FEATURED')] %}
                                    <div>
                                        <a
                                                href="{{ path('app_user_feature_listing', {"id": listing.id}) }}"
                                                class="user-listings-feature-this-link"
                                        >
                                            {{ 'trans.Feature this listing' | trans }}
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {{ listing.lastEditDate | date('d.m.Y') }}
                            </td>
                            <td>
                                <span class="{{ getListingStatusClass(listing) }}">{{ getListingStatus(listing) }}</span>
                            </td>
                            <td>
                                {% if not listing.adminRemoved %}
                                    <a href="{{ path('app_listing_edit', {'id': listing.id}) }}" class="btn btn-dark">{{ 'trans.Edit' | trans }}</a>

                                    {% if (listing.adminConfirmed and not listing.adminRejected and not listing.userDeactivated) or listing.status == constant('\App\\Entity\\Listing::STATUS_EXPIRED') %}
                                        <a
                                            href="{{ path('app_user_validity_extend', {'id': listing.id}) }}"
                                            class="btn btn-outline-success"
                                        >
                                            {{ 'trans.Extend' | trans }}
                                        </a>
                                    {% endif %}

                                    {% if not listing.adminRejected and listing.status != constant('\App\\Entity\\Listing::STATUS_EXPIRED') %}
                                        {% if listing.userDeactivated %}
                                            {{ include('user/listing/_activate_form.html.twig') }}
                                        {% else %}
                                            {{ include('user/listing/_deactivate_form.html.twig') }}
                                        {% endif %}
                                    {% endif %}

                                {% endif %}

                                {% if listing.userDeactivated or listing.adminRemoved or listing.adminRejected or listing.status == constant('\App\\Entity\\Listing::STATUS_EXPIRED') %}
                                    {{ include('user/listing/_delete_form.html.twig') }}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">{{ 'trans.no records found' | trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if pager.haveToPaginate %}
                    {{ pagination | raw }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
