<div class="card">
    <div class="card-header">{{ 'trans.User Dashboard' | trans }}</div>

    <ul class="list-group list-group-flush text-dark">
        <li class="list-group-item">
            <a href="{{ path('app_user_listing_index') }}" class="text-dark ">
                <i class="fas fa-list-ul"></i>
                <span>{{ 'trans.Listings' | trans }}</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_listing_new') }}" class="text-dark">
                <i class="far fa-plus-square"></i>
                <span>{{ 'trans.Create Listing' | trans }}</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_user_change_password') }}" class="text-dark ">
                <i class="fas fa-lock"></i>
                <span>{{ 'trans.Change Password' | trans }}</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_user_change_email') }}" class="text-dark ">
                <i class="fas fa-envelope"></i>
                <span>{{ 'trans.Change Email' | trans }}</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_user_balance_top_up') }}" class="text-dark ">
                <i class="fas fa-money-check-alt"></i>
                <span>{{ 'trans.Top up account' | trans }}</span>
            </a>
        </li>
    </ul>
</div>
