<div class="card">
    <div class="card-header">{{ 'trans.User Dashboard' | trans }}</div>

    <ul class="list-group list-group-flush text-dark">
        <li class="list-group-item">
            <a href="{{ path('app_user_listing_index') }}" class="text-dark ">
                <i class="fas fa-list-ul"></i>
                <span class="menu-txt">{{ 'trans.Listings' | trans }}</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_listing_new') }}" class="text-dark">
                <i class="far fa-plus-square"></i>
                <span class="menu-txt">{{ 'trans.Create Listing' | trans }}</span>
            </a>
        </li>
{#        <li class="list-group-item">#}
{#            <a href="//classifiedsplus.localhost/user/my-profile" class="text-dark ">#}
{#                <i class="fas fa-user"></i>#}
{#                <span class="menu-txt">Profile</span>#}
{#            </a>#}
{#        </li>#}
{#        <li class="list-group-item">#}
{#            <a href="//classifiedsplus.localhost/user/my-coupons" class="text-dark ">#}
{#                <i class="fas fa-tags"></i>#}
{#                <span class="menu-txt">Coupons</span>#}
{#            </a>#}
{#        </li>#}
{#        <li class="list-group-item">#}
{#            <a href="//classifiedsplus.localhost/user/my-reviews" class="text-dark ">#}
{#                <i class="fas fa-comments"></i>#}
{#                <span class="menu-txt">Reviews</span>#}
{#            </a>#}
{#        </li>#}
        <li class="list-group-item">
            <a href="{{ path('app_user_change_password') }}" class="text-dark ">
                <i class="fas fa-lock"></i>
                <span class="menu-txt">{{ 'trans.Change Password' | trans }}</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_user_change_email') }}" class="text-dark ">
                <i class="fas fa-envelope"></i>
                <span class="menu-txt">{{ 'trans.Change Email' | trans }}</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_user_balance_top_up') }}" class="text-dark ">
                <i class="fas fa-money-check-alt"></i>
                <span class="menu-txt">{{ 'trans.Top up account' | trans }}</span>
            </a>
        </li>
    </ul>
</div>
