{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Extend validity' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-5">
                {% include 'listing/user_navigation_card.html.twig' %}
            </div>

            <div class="col-md-8 col-lg-9">
                <h3>{{ 'trans.Extend listing' | trans }}: <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}" target="_blank">{{ listing.title }}</a></h3>

                {% if listing.userDeactivated %}
                    <div>
                        {{ 'trans.Listing is currently deactivated, extending will activate it and therefore show it to the public on page' | trans }}
                    </div>
                {% endif %}

                {% if not listing.adminConfirmed %}
                    <div>
                        {{ 'trans.Listing awaits activation, you can extend listing duration, but listing would only appear to the public after acceptation' | trans }}
                    </div>
                {% endif %}

                <div>
                    {{ 'trans.Listing currently valid until' | trans }}: {{ listing.validUntilDate | date }}
                </div>

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button class="btn btn-primary">{{ 'trans.Extend validity' | trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
