<link rel="stylesheet" href="{{ asset('asset/lib/fileuploader/font/font-fileuploader.css') }}">
<link rel="stylesheet" href="{{ asset('asset/lib/fileuploader/jquery.fileuploader.min.css') }}">
<script src="{{ asset('asset/lib/fileuploader/jquery.fileuploader.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {

        $('#listing_file').fileuploader({
            addMore: true,
            thumbnails: {
                onItemShow: function(item) {
                    // add sorter button to the item html
                    item.html.find('.fileuploader-action-remove').before('<a class="fileuploader-action fileuploader-action-sort" title="Sort"><i></i></a>');
                }
            },
            sorter: {
                selectorExclude: null,
                placeholder: null,
                scrollContainer: window,
                onSort: function(list, listEl, parentEl, newInputEl, inputEl) {}
            },
            onRemove: function(item, listEl, parentEl, newInputEl, inputEl) {
                $.post('{{ path('app_listing_file_delete') }}', {
                    listingFileId: item.data.listingFileId
                });

                return true;
            },
            files: {{ listingFilesForJavascript | default([]) | json_encode | raw }}
        });

    });

</script>
