<link rel="stylesheet" href="{{ asset('asset/lib/fileuploader/font/font-fileuploader.css') }}">
<link rel="stylesheet" href="{{ asset('asset/lib/fileuploader/jquery.fileuploader.min.css') }}">
<script src="{{ asset('asset/lib/fileuploader/jquery.fileuploader.min.js') }}"></script>

<script type="text/javascript">
    $('#listing_file').fileuploader({
        addMore: true,
        fileMaxSize: 1.95,
        extensions: ['jpg', 'jpeg', 'png', 'gif'],
        thumbnails: {
            onItemShow: function(item) {
                // add sorter button to the item html
                item.html.find('.fileuploader-action-remove').before('<a class="fileuploader-action fileuploader-action-sort" title="Sort"><i></i></a>');
            }
        },
        sorter: {
            selectorExclude: null,
            placeholder: null,
            scrollContainer: window,
            onSort: function(list, listEl, parentEl, newInputEl, inputEl) {}
        },
        onRemove: function(item, listEl, parentEl, newInputEl, inputEl) {
            if ('listingFileId' in item.data) {
                $.post('{{ path('app_listing_file_remove') }}', {
                    listingFileId: item.data.listingFileId
                });
            }

            return true;
        },
        files: {{ listingFilesForJavascript | default([]) | json_encode | raw }},
        captions: {
            button: function(options) { return '{{ 'trans.Browse' | trans }} ' + (options.limit == 1 ? '{{ 'trans.file' | trans }}' : '{{ 'trans.files' | trans }}'); },
            feedback: function(options) { return '{{ 'trans.Chose' | trans }} ' + (options.limit == 1 ? '{{ 'trans.file' | trans }}' : '{{ 'trans.files' | trans }}') + ' {{ 'trans.to upload' | trans }}'; },
            feedback2: function(options) { return options.length + ' ' + (options.length > 1 ? ' {{ 'trans.files were chosen' | trans }}' : ' {{ 'trans.file was chosen' | trans }}'); },
            confirm: '{{ 'trans.Confirm' | trans }}',
            cancel: '{{ 'trans.Cancel' | trans }}',
            name: '{{ 'trans.Name' | trans }}',
            type: '{{ 'trans.Type' | trans }}',
            size: '{{ 'trans.Size' | trans }}',
            dimensions: '{{ 'trans.Dimensions' | trans }}',
            duration: '{{ 'trans.Duration' | trans }}',
            crop: '{{ 'trans.Crop' | trans }}',
            rotate: '{{ 'trans.Rotate' | trans }}',
            sort: '{{ 'trans.Sort' | trans }}',
            download: '{{ 'trans.Download' | trans }}',
            remove: '{{ 'trans.Remove' | trans }}',
            drop: '{{ 'trans.Drop the files here to Upload' | trans }}',
            paste: '<div class="fileuploader-pending-loader"></div> {{ 'trans.Pasting a file, click here to cancel' | trans }}.',
            removeConfirmation: '{{ 'trans.Are you sure you want to remove this file?' | trans }}',
            errors: {
                filesLimit: 'Only ${limit} files are allowed to be uploaded.',
                filesType: 'Only ${extensions} files are allowed to be uploaded.',
                fileSize: '${name} is too large! Please choose a file up to ${fileMaxSize}MB.',
                filesSizeAll: 'Files that you chose are too large! Please upload files up to ${maxSize} MB.',
                fileName: 'File with the name ${name} is already selected.',
                folderUpload: 'You are not allowed to upload folders.'
            }
        }
    });
</script>
