{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.description) }}

<div class="form-group">
    {{ form_label(form.category) }}
    <div id="cascader-category-select" class="cascader-main collapse">
        <div class="row no-gutters">
            {% for levelId, level in formCategorySelectList %}
                <div class="col-lg-4 cascader-level cascader-level-{{ levelId }}" data-cascader-level="{{ levelId }}">
                    {% for categoryLevel in level %}
                        <div
                                class="cascader-branch-list cascader-branch-list-{{ categoryLevel.id }} collapse"
                                data-cascader-leaf="{{ categoryLevel.id }}"
                        >
                            <h5 class="cascader-branch-list-header">{{ categoryLevel.name }}</h5>
                            <div class="cascader-branch-list-elements">
                                {% for category in categoryLevel.children %}
                                    <div
                                            onclick="cascader.select({{ category.id }}, this)"
                                            class="cascader-branch cascader-click cascader-leaf-{{ category.id }}"
                                    >
                                        {{- category.name -}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    {{ form_widget(form.category) }}
</div>

{{ form_widget(form) }}

<button class="btn btn-primary">{{ button_label|default('trans.Save' | trans) }}</button>
{{ form_end(form) }}
