{{ form_start(form) }}
    {{ form_widget(form) }}

<div id="cascader-category-select" class="cascader collapse">
    <div class="row">
        {% for levelId, level in formCategorySelectList %}
            <div class="col-md-4 cascader-level" data-cascader-level="{{ levelId }}">
                {% for categoryLevel in level %}
                    <div class="cascader-branch-list cascader-branch-list-{{ categoryLevel.id }} collapse">
                        {% for category in categoryLevel.children %}
                            <div onclick="cascader.select({{ category.id }}, this)">{{ category.name }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<button class="btn btn-primary">{{ button_label|default('trans.Save' | trans) }}</button>
{{ form_end(form) }}
