{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Edit listing' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-5">
                {% include 'listing/user_navigation_card.html.twig' %}
            </div>

            <div class="col-md-8 col-lg-9">
                <a href="{{ path('app_listing_show', {'id': listing.id}) }}">{{ 'trans.Preview listing' | trans }}</a>

                <div class="float-md-right">
                    <a href="{{ path('app_user_listing_index') }}">{{ 'trans.back to list' | trans }}</a>

                    {% if listing.adminConfirmed %}
                        <a href="{{ path('app_user_feature_listing', {"id": listing.id}) }}" class="btn btn-dark">{{ 'trans.Feature this listing' | trans }}</a>
                    {% endif %}

                    {% if listing.adminConfirmed %}
                        <a href="{{ path('app_user_validity_extend', {'id': listing.id}) }}" class="btn btn-outline-success">{{ 'trans.Extend' | trans }}</a>
                    {% endif %}

                    {% if listing.userDeactivated %}
                        {{ include('listing/_activate_form.html.twig') }}
                    {% else %}
                        {{ include('listing/_deactivate_form.html.twig') }}
                    {% endif %}

                    {{ include('listing/_delete_form.html.twig') }}
                </div>

                <h2 class="mb-5">{{ 'trans.Edit listing' | trans }}</h2>

                {{ include('listing/_form.html.twig', {'button_label': 'trans.Update' | trans}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include 'listing/_custom_fields.html.twig' %}
    {% include 'listing/_file_upload.html.twig' %}
    {% include 'listing/_category_select.html.twig' %}

{% endblock %}
