{% extends 'base.html.twig' %}

{% block title %}Listing index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-5">
                {% include 'listing/user_navigation_card.html.twig' %}
            </div>

            <div class="col-md-8 col-lg-9">

                <a href="{{ path('app_listing_new') }}">{{ 'trans.Create new listing' | trans }}</a>

                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ 'trans.Title' | trans }}</th>
                        <th>{{ 'trans.Price' | trans }}</th>
                        <th>{{ 'trans.Actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listing in listings %}
                        <tr>
                            <td>
                                <div>
                                    <a href="{{ path('app_listing_show', {"id": listing.id}) }}">{{ listing.title }}</a>
                                </div>
                                {% if listing.adminConfirmed %}
                                    <div>
                                        <a href="{{ path('app_user_highlight_listing', {"id": listing.id}) }}">{{ 'trans.Feature this listing' | trans }}</a>
                                    </div>
                                {% endif %}
                                {% if not listing.adminConfirmed %}
                                    <div>
                                        {{ 'trans.Waiting for activation' | trans }}
                                    </div>
                                {% endif %}
                            </td>
                            <td>{{ listing.price }}</td>
                            <td>
                                <a href="{{ path('listing_edit', {'id': listing.id}) }}" class="btn btn-dark">{{ 'trans.Edit' | trans }}</a>

                                {% if listing.adminConfirmed %}
                                    <a
                                        href="{{ path('app_user_validity_extend', {'id': listing.id}) }}"
                                        class="btn btn-outline-success"
                                    >
                                        {{ 'trans.Extend' | trans }}
                                    </a>
                                {% endif %}

                                {% if listing.userDeactivated %}
                                    {{ include('listing/_activate_form.html.twig') }}
                                {% else %}
                                    {{ include('listing/_deactivate_form.html.twig') }}
                                {% endif %}

                                {{ include('listing/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
