{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Copy custom field options' | trans }}{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row mb-2">
        <div class="col-md-8">
            <h1>{{ 'trans.Copy options from other custom field' | trans }}</h1>
            <h5>{{ 'trans.to custom field' | trans }}:
                <strong class="text-break">
                    {{ customField.name }}
                    {% if customField.nameForAdmin %}
                        ( {{ customField.nameForAdmin }} )
                    {% endif %}
                </strong>
            </h5>
        </div>
        <div class="col-md-4 text-md-right">
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mr-3">{{ button_label|default('trans.Copy custom field options') | trans }}</button>
    {{ form_end(form) }}

</div>
{% endblock %}
