<form
        method="post"
        action="{{ path('app_admin_listing_file_remove', {'id': listingFile.id}) }}"
        onsubmit="return confirm('{{ 'trans.Remove file of' | trans }}: {{ listing.title }}?');"
        class="d-inline"
>
<input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('adminRemoveFile' ~ listingFile.id) }}">
    <button class="btn btn-danger btn-mini">{{ 'trans.Delete' | trans }}</button>
</form>
