{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Edit listing' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <a href="{{ path('app_admin_listing_edit_advanced', {'id': listing.id}) }}">
            {{- 'trans.Edit listing advanced settings' | trans -}}
        </a>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-primary">{{ button_label|default('trans.Save' | trans) }}</button>
        {{ form_end(form) }}

        <div class="card-deck">
            {% for listingFile in listing.listingFiles %}
                <div class="card-body" style="max-width: 10rem;">
                    <div><img class="container-img" src="{{ asset(listingFile.path) }}" alt="" style="max-height: 100px;"></div>
                    <div>
                        {{ include('admin/listing/_delete_file_form.html.twig') }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include 'listing/_custom_fields.html.twig' %}
{% endblock %}
