{% extends 'admin/base.html.twig' %}

{% import "admin/listing/_admin_macro.html.twig" as adminMacro %}

{% block title %}{{ 'trans.Search Engine' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">

        <form method="get">
            <input name="query" value="{{ app.request.get('query') }}" type="text" placeholder="{{ 'trans.keyword' | trans }}" />
            <button type="submit">{{ 'trans.Search' | trans }}</button>
        </form>

        <div class="container mt-5">
            <div class="table-responsive">
                <table class="table" id="listings">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{ 'trans.Title' | trans }}</th>
                        <th>{{ 'trans.Status' | trans }}</th>
                        <th>{{ 'trans.Actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listing in listings %}
                        <tr>
                            <td>
                                <div class="card-thumb">
                                    <a title="{{ listing.title }}" href="{{ path('app_listing_show', {id: listing.id, 'slug': listing.slug}) }}">
                                        <img class="rounded list-small-img" alt="{{ listing.title }}" src="{{ asset(listing.listingFiles.first.pathListSize | default('asset/img/blank.png')) }}">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a href="{{ path('app_listing_show', {"id": listing.id, 'slug': listing.slug}) }}">
                                        {{- listing.title -}}
                                    </a>
                                </div>
                                <div>
                                    {% if listing.featured %}
                                        <span class="badge badge-pill badge-warning">{{ 'trans.Featured' | trans }}</span>
                                    {% endif %}
                                    <span class="mr-2">
                                        {{ listing.category.parent.name }}
                                        ⇾
                                        <a href="{{ path('app_category', {'categorySlug': listing.category.slug}) }}">
                                            {{- listing.category.name -}}
                                        </a>
                                    </span>
                                    <span>
                                        <a href="{{ path('app_user_listings', {'user': listing.user.id}) }}">
                                            {{- 'trans.User Listings' | trans -}}
                                        </a>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <span class="{{ getListingStatusClass(listing) }}">{{ getListingStatus(listing) }}</span>
                            </td>
                            <td>
                                <a
                                        class="btn btn-primary"
                                        data-toggle="collapse"
                                        href="#collapse{{ listing.id }}"
                                        role="button"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                >
                                    {{- 'trans.info' | trans -}}
                                </a>

                                <a href="{{ path('app_admin_listing_edit', {'id': listing.id}) }}" class="btn btn-dark">
                                    {{- 'trans.Edit' | trans -}}
                                </a>

                                {% if adminShowActivate(listing) %}
                                    {{ include('admin/listing/_confirm_form.html.twig') }}
                                {% endif %}

                                {% if adminShowReject(listing) %}
                                    <a
                                            href="{{ path('app_admin_listing_reject', {'id': listing.id}) }}"
                                            target="_blank"
                                            class="btn btn-warning"
                                    >
                                        {{ 'trans.Reject' | trans }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="collapse" id="collapse{{ listing.id }}" data-parent="#listings">
                            <td colspan="99">
                                <div class="row">
                                    {{ adminMacro.listingInfo(listing) }}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="99">{{ 'trans.no records found' | trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if pager.getNbPages > 1 %}
                {{ pagination | raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}
