{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Search Engine' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">

        <form method="get">
            <input name="query" value="{{ app.request.get('query') }}" type="text" placeholder="{{ 'trans.keyword' | trans }}" />
            <button type="submit">{{ 'trans.Search' | trans }}</button>
        </form>

        <div class="container mt-5">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'trans.Title' | trans }}</th>
                    <th>{{ 'trans.Status' | trans }}</th>
                    <th>{{ 'trans.Actions' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for listing in listings %}
                    <tr>
                        <td>
                            <div>
                                <a href="{{ path('app_listing_show', {"id": listing.id, 'slug': listing.slug}) }}">{{ listing.title }}</a>
                            </div>
                            {% if listing.featured %}
                                <div>
                                    <span class="badge badge-pill badge-warning">{{ 'trans.Featured' | trans }}</span>
                                </div>
                            {% endif %}
                        </td>
                        <td>{{ getListingStatus(listing) }}</td>
                        <td>
                            <a href="{{ path('app_admin_listing_edit', {'id': listing.id}) }}" class="btn btn-dark">{{ 'trans.Edit' | trans }}</a>

                            {% if not listing.adminConfirmed %}
                                {{ include('admin/listing/_confirm_form.html.twig') }}
                            {% endif %}

                            <a href="{{ path('app_admin_listing_reject', {'id': listing.id}) }}" target="_blank" class="btn btn-warning">{{ 'trans.Reject' | trans }}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">{{ 'trans.no records found' | trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if pager.getNbPages > 1 %}
                {{ pagination | raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}
