<p>
    {{ 'trans.Email account change confirmation' | trans }}
</p>

{# @var user \App\Entity\User #}

<p>
    {{ 'trans.Change of email address to' | trans }}: {{ newEmail }}
</p>

<p>
    {{ 'trans.If you did not requested email change ignore this message, and do NOT click link bellow' | trans }}
</p>


<p>
    {{ 'trans.First, before confirming email change bellow. Please check if you received change email notification on new email address. This is neccessary to verify that you entered new address correctly. If you confirm change, without verification, you would lock yourself out of this account' | trans }}
</p>


<p>
    {{ 'trans.When you reveived change email information on new email address, please confirm it clicking link bellow' | trans }}
</p>

<p>
    <a href="{{ url('app_user_change_email_previous_email_confirmation', {'token': user.confirmationToken}) }}">{{ 'trans.I confirm change email to' | trans }}: {{ newEmail }}</a>

    <pre>{{ url('app_user_change_email_previous_email_confirmation', {'token': user.confirmationToken}) }}</pre>
</p>
