<h1>
    {{ 'trans.Email change notification' | trans }}
</h1>

{# @var user \App\Entity\User #}

<p>
    {{ 'trans.We received request to change your acount\'s email addrest to' | trans }}: <b>{{ newEmail }}</b> {{ 'trans.(this mailbox)' | trans }}
</p>

<p>
    {{ 'trans.From your previous email account' | trans }}: <b>{{ oldEmail }}</b>
</p>

<p>
    {{ 'trans.This email is just verification that new email address is correct' | trans }}
</p>
