<p>
    {{ 'trans.You have requested password change' | trans }}
</p>

{# @var user \App\Entity\User #}

<p>
    {{ 'trans.If you did not requested password change ignore this email, and do NOT click link bellow.' | trans }}
</p>

<p>
    {{ 'trans.If you have requested password change, please click link bellow to confirm change.' | trans }}
</p>

<p>
    <a href="{{ url('app_user_change_password_confirm', {'token': user.confirmationToken}) }}">{{ 'trans.I confirm password change' | trans }}</a>

    <pre>{{ url('app_user_change_password_confirm', {'token': user.confirmationToken}) }}</pre>
</p>
