<p>
    {{ 'trans.You have requested password remind' | trans }}
</p>

{# @var user \App\Entity\User #}

<p>
    {{ 'trans.If you did not requested password remind ignore this email, and do NOT click link bellow.' | trans }}
</p>

<p>
    {{ 'trans.If you have requested password remind, please click link bellow to confirm change.' | trans }}
</p>

<p>
    {{ 'trans.When you confirm remind of password, your password would be set to:' | trans }}
</p>

<pre>{{- user.plainPassword -}}</pre>

<p>
    <a href="{{ url('app_remind_password_confirm', {'token': user.confirmationToken}) }}">{{ 'trans.I confirm password remind' | trans }}</a>

    <pre>{{ url('app_remind_password_confirm', {'token': user.confirmationToken}) }}</pre>
</p>
