{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Change email' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-4 d-none d-md-block">
                {% include 'user/_part/user_navigation_card.html.twig' %}
            </div>

            <div class="col-md-8 col-lg-9">
                <div class="mb-2 text-break">
                    <a href="{{ path('app_user_my_account') }}">
                        {{- 'trans.My account' | trans -}}
                    </a>

                    {{- ' > ' -}}
                    <a href="{{ path('app_user_settings') }}">
                        {{- 'trans.Settings' | trans -}}
                    </a>

                    {{- ' > ' }} {{ 'trans.Change email' | trans }}
                </div>

                <h2>{{ 'trans.Change email' | trans }}</h2>

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button class="btn btn-primary">{{ 'trans.Change email' | trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
