{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Remind password' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <h4 class="card-header"><strong>{{ 'trans.Remind password' | trans }}</strong></h4>

                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <div class="form-group">
                            <button class="btn btn-primary btn-block">{{ 'trans.Remind password' | trans }}</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
