<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="pl"> <![endif]-->
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ 'trans.Classifieds' | trans }}{% endblock %}</title>
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="msapplication-TileColor" content="#ffffff">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('asset/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/style.css') }}">
    {% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
<!-- Top Header -->
<div class="container-fluid container-header ">
    <div class="container container-remove-padding">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ path('app_index') }}"  title={{ 'trans.Classifieds'|trans }}>
                <img src="{{ asset('asset/img/logo.png') }}" alt="{{ 'trans.Classifieds' | trans }}" width="240">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-around d-sm-none">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_index') }}">{{ 'trans.Home page' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_category_view_all') }}">{{ 'trans.Categories' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_last_added') }}">{{ 'trans.Last added' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="//www.jaslo4u.pl">Jaslo4u.pl</a>
                    </li>
                    {% if lowSecurityCheckIsAdminInPublic() %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-danger" href="{{ path('app_admin_index') }}">{{ 'trans.Admin panel' | trans }}</a>
                        </li>
                    {% endif %}
                </ul>

                <div class="col-md-8 container-remove-padding">
                    <form class="form-inline my-2 my-lg-0" method="get" action="{{ path('app_listing_list') }}">
                        <div class="col-md-8 container-remove-padding">
                            <label class="sr-only" for="keyword">{{ 'trans.keyword'|trans }}</label>
                            <div class="input-group mb-2 mr-md-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-search"></i></div>
                                </div>

                                <input type="text" class="form-control" name="query" placeholder="{{ 'trans.keyword'|trans }}" value="{{ app.request.get('query') | default }}">
                            </div>
                        </div>
                        <div class="col-md-4 container-remove-padding">
                            <button type="submit" class="btn btn-primary btn-block mb-2">{{ 'trans.Search' | trans }}</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-4 container-remove-padding">
                    <div class="text-right mt-md-2">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                {% if app.user %}
                                    <a href="{{ path('app_logout') }}">{{ 'trans.Logout' | trans }}</a>
                                {% else %}
                                    <a href="{{ path('app_login') }}">{{ 'trans.Sign in' | trans }}</a>
                                {% endif %}
                            </li>

                            <li class="list-inline-item">
                                <a href="{{ path('app_listing_new') }}" class="btn btn-primary">{{ 'trans.Get Listed Today' | trans }} <i class="fas fa-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-md-block">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav justify-content-around w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_index') }}">{{ 'trans.Home page' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_category_view_all') }}">{{ 'trans.Categories' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_last_added') }}">{{ 'trans.Last added' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="//www.jaslo4u.pl">Jaslo4u.pl</a>
                </li>
                {% if lowSecurityCheckIsAdminInPublic() %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-danger" href="{{ path('app_admin_index') }}">{{ 'trans.Admin panel' | trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock body %}

<!-- footer -->
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">© 2006-{{ "now" | date('Y') }}</small>
            </div>
            <div class="col-6 col-md">
                <h5>{{ 'trans.Quick links' | trans }}</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{{ path('app_index') }}">{{ 'trans.Home page' | trans }}</a></li>
                    <li><a class="text-muted" href="{{ path('app_listing_new') }}">{{ 'trans.Add listing' | trans }}</a></li>
                    <li><a class="text-muted" href="{{ path('app_last_added') }}">{{ 'trans.Last added' | trans }}</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>{{ 'trans.Advertisement' | trans }}</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">{{ 'trans.Advertisement' | trans }}</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>{{ 'trans.About' | trans }}</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#contact">{{ 'trans.Contact' | trans }}</a></li>
                    <li><a class="text-muted" href="#terms-and-conditions">{{ 'trans.Terms and conditions' | trans }}</a></li>
                    <li><a class="text-muted" href="#report-abuse">{{ 'trans.Report abuse' | trans }}</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<!-- css -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i">

{% block javascripts %}
    <script src="{{ asset('asset/jquery.js') }}"></script>
    <script src="{{ asset('asset/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <!-- CSRF -->
    <script type="text/javascript">
        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': 'b039a3c7a100e429e4115c7b06a18d2b',
                'X-AJAX-Setup': 1
            }
        });
    </script>
{% endblock %}
{% block js %}{% endblock %}

</body>
</html>
