{% extends 'base.html.twig' %}

{% block body %}

    {#<!-- Jumbotron -->#}
    {#<div class="jumbotron jumbotron-fluid">#}
    {#    <div class="container">#}
    {#        <h1 class="text-center mb-5">Buy and Sell Anything</h1>#}

    {#        <h3 class="text-center">text</h3>#}

    {#        <form action="/advanced-results" class="form-row justify-content-md-end" method="get">#}
    {#            <div class="form-row container-fluid">#}
    {#                <div class="col-md-5">#}
    {#                    <div class="input-group mb-2 mr-md-2">#}
    {#                        <input type="text" class="form-control form-control-lg" id="q" name="q" placeholder="Keyword">#}
    {#                    </div>#}
    {#                </div>#}

    {#                <div class="col-md-2">#}
    {#                    <button type="submit" class="btn btn-lg btn-primary btn-block mb-2">Search</button>#}
    {#                </div>#}
    {#            </div>#}
    {#        </form>#}
    {#    </div>#}
    {#</div>#}

    <br>

    <!-- Categories -->
    <div class="container mb-2">
        <div class="d-flex flex-row">
            <div class="flex-grow-1"><h2>Categories</h2></div>
            <div><a href="/categories" class="btn btn-light">View All</a></div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
            {% for category in categoryList %}
            <div class="col-sm-6 col-lg-3 text-center mb-4">
                <div class="card bg-light text-white">
                    <a href="{{ path('app_category', {"categoryId": category.id}) }}" title="{{ category.name }}" class="text-white">
                        <img class="card-img" src="{{ asset(category.picture | default('assets/imgs/blank.png')) }}" alt="">
                        <div class="card-img-overlay">
                            <h5 class="card-title down">{{ category.name }}</h5>
                            <p class="card-text d-none">View Category</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Featured Listings -->

    <!-- Latest Listings -->
    <div class="container mb-2">
        <div class="d-flex flex-row">
            <div class="flex-grow-1"><h2 class="">Latest Listings</h2></div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="card-columns">
            {% for listing in latestListingList %}
                <div class="card card-featured mb-4">
                    <div class="row p-2">
                        <div class="col-sm-6 text-center">
                            <a href="/listing/podkarpackie/jaso-1/cars/citroen-2005">
                                <img class="img-thumbnail" alt="" src="/assets/imgs/blank.png">
                            </a>
                        </div>

                        <div class="col-sm-6 d-flex flex-column">
                            <h4 class="pt-3 pt-sm-0"><a href="/listing/podkarpackie/jaso-1/cars/citroen-2005">{{ listing.title }}</a></h4>
                            <p>...</p>
                            <a href="/listing/podkarpackie/jaso-1/cars/citroen-2005" class="btn btn-sm btn-dark btn-block mt-auto">View Listing</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Near Listings -->

    <!-- Featured Cities -->
{% endblock body %}
