{% extends 'base.html.twig' %}

{% block titleOverride %}{{ settings.indexPageTitle }}{% endblock titleOverride %}

{% block body %}

    <br>

    <!-- Categories -->
    <div class="container mb-2">
        <div class="d-flex flex-row">
            <div class="flex-grow-1">
                <h2>{{ 'trans.Categories' | trans }}</h2>
            </div>
            <div class="d-sm-none">
                <a href="{{ path('app_category_view_all') }}" class="btn btn-light">
                    {{ 'trans.View all' | trans }}
                </a>
            </div>
            <div class="d-none d-sm-block">
                <a href="{{ path('app_category_view_all') }}" class="btn btn-light">
                    {{ 'trans.View all categories' | trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="container mb-0 mb-md-5 categories">
        <div class="row">
            {% for category in categoryList %}
            <div class="col-sm-6 col-lg-3 text-center mb-4">
                <div class="card bg-light text-white">
                    <a
                            href="{{ path('app_category', {'categorySlug': category.slug}) }}"
                            title="{{ category.name }}"
                            class="text-white"
                    >
                        <img
                                class="card-img"
                                src="{{ asset(category.picture | default('static/system/blank.png')) }}"
                                alt=""
                        >
                        <div class="card-img-overlay">
                            <h5 class="card-title down">{{ category.name }}</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-featured mb-4">
                    <div class="card-header">
                        <strong>{{ 'trans.Recommended Listings' | trans }}</strong>
                    </div>

                    <div class="card-body p-0">
                        {% for listing in recommendedListings %}
                            <a
                                    href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}"
                                    class="link-list-item d-flex"
                            >
                                {{ listing.title }}
                            </a>
                        {% endfor %}
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('app_last_added') }}" class="btn btn-sm btn-dark btn-block mt-auto">
                            {{ 'trans.View more' | trans }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="card card-featured mb-4">
                    <div class="card-header">
                        <strong>{{ 'trans.Latest Listings' | trans }}</strong>
                    </div>

                    <div class="card-body p-0">
                        {% for listing in latestListings %}
                            <a
                                    href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}"
                                    class="link-list-item d-flex"
                            >
                                {{ listing.title }}
                            </a>
                        {% endfor %}
                    </div>

                    <div class="card-footer">
                        <a href="{{ path('app_last_added') }}" class="btn btn-sm btn-dark btn-block mt-auto">
                            {{ 'trans.View more' | trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
