{% extends 'base.html.twig' %}

{% block body %}

    <br>

    <!-- Categories -->
    <div class="container mb-2">
        <div class="d-flex flex-row">
            <div class="flex-grow-1"><h2>{{ 'trans.Categories' | trans }}</h2></div>
            <div class="d-none d-sm-block"><a href="{{ path('app_category_view_all') }}" class="btn btn-light">{{ 'trans.View all' | trans }}</a></div>
        </div>
    </div>

    <div class="container mb-5 categories">
        <div class="row">
            {% for category in categoryList %}
            <div class="col-sm-6 col-lg-3 text-center mb-4">
                <div class="card bg-light text-white">
                    <a href="{{ path('app_category', {'categorySlug': category.slug}) }}" title="{{ category.name }}" class="text-white">
                        <img class="card-img" src="{{ asset(category.picture | default('asset/img/blank.png')) }}" alt="">
                        <div class="card-img-overlay">
                            <h5 class="card-title down">{{ category.name }}</h5>
                            <p class="card-text d-none">View Category</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Recommended Listings -->
    {% if recommendedListings is not empty %}
        <div class="container mb-2">
            <div class="d-flex flex-row">
                <div class="flex-grow-1"><h2 class="">{{ 'trans.Recommended Listings' | trans }}</h2></div>
            </div>
        </div>

        <div class="container mb-5">
            <div class="card-deck">
                {% for listing in recommendedListings %}
                    <div class="card card-featured mb-4">

                        <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}">
                            <img class="card-img-top" alt="" src="{{ asset(listing.listingFiles.first.path | default('asset/img/blank.png')) }}">
                        </a>

                        <div class="card-body">
                            <h5 class="card-title"><a href={{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}>{{ listing.title }}</a></h5>
                        </div>

                        <div class="card-footer">
                            <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}" class="btn btn-sm btn-dark btn-block mt-auto">
                                {{ 'trans.View Listing' | trans }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- Latest Listings -->
    {% if latestListings is not empty %}
        <div class="container mb-2">
            <div class="d-flex flex-row">
                <div class="flex-grow-1"><h2 class="">{{ 'trans.Latest Listings' | trans }}</h2></div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="card-deck">
                {% for listing in latestListings %}
                    <div class="card card-featured mb-4">

                        <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}">
                            <img class="card-img-top" alt="" src="{{ asset(listing.listingFiles.first.path | default('asset/img/blank.png')) }}">
                        </a>

                        <div class="card-body">
                            <h5 class="card-title"><a href={{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}>{{ listing.title }}</a></h5>
                        </div>

                        <div class="card-footer">
                            <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}" class="btn btn-sm btn-dark btn-block mt-auto">
                                {{ 'trans.View Listing' | trans }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock body %}
