<div class="listing-contact-data">
    {% if listing.phone is empty and listing.email is empty %}
        <button
                class="alert alert-danger"
        >
            {{ 'trans.No contact information found, please check listing description' | trans }}
        </button>
    {% endif %}

    {% if listing.phone is not empty and not displayAsExpired(listing)  %}
        <div class="mb-2 py-2">
            <div class="row">
                <div class="col-sm-4">
                    <span>{{ 'trans.Phone' | trans }}</span>
                    <button
                            onclick="copyTextToClipboard('{{ listing.phone }}')"
                            class="btn btn-sm btn-secondary float-right"
                    >
                        {{ 'trans.Copy' | trans }}
                    </button>
                </div>

                <div class="col-sm-8">
                    <a href="tel:{{ listing.phone }}">{{ listing.phone }}</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if listing.email is not empty and listing.emailShow and not displayAsExpired(listing)  %}
        <div class="mb-2 py-2">
            <div class="row">
                <div class="col-sm-4">
                    <span>{{ 'trans.Email' | trans }}</span>
                    <button
                            onclick="copyTextToClipboard('{{ listing.email }}')"
                            class="btn btn-sm btn-secondary float-right"
                    >
                        {{ 'trans.Copy' | trans }}
                    </button>
                </div>

                <div class="col-sm-8">
                    <a target="_blank" href="mailto:{{ listing.email }}">{{ listing.email }}</a>
                </div>
            </div>
        </div>
    {% endif %}

</div>
