{% extends 'base.html.twig' %}

{% block title %}{{ listing.title }}{% endblock %}

{% block body %}

    <div class="container mt-3 mb-3">
        <a href="//www.jaslo4u.pl">Jaslo4u.pl</a>
        > <a href="{{ path('app_index') }}">{{ 'trans.Classifieds' | trans }}</a>

        {% for category in categoryBreadcrumbs %}
            &gt; <a href="{{ path('app_category', {'categorySlug': category.slug}) }}">{{ category.name }}</a>
        {% endfor %}

        > {{ listing.title }}
    </div>

    <div class="container mt-3 listing-show">
        <div class="row">
            <div class="col-md-7">
                {% if displayAsExpired(listing) %}
                    <div class="alert alert-danger">
                        <h1>{{ 'trans.Listing has expired' | trans }}</h1>
                        <div>
                            {{ 'trans.See other active listings in category' | trans }}:
                            <a href="{{ path('app_category', {'categorySlug': listing.category.slug}) }}">
                                {{ listing.category.parent.name }}
                                ⇾
                                {{ listing.category.name }}
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="row mb-3">
                    <div class="col-sm-10">
                        <h1 class="user-text-wrap">{{ listing.title }}</h1>
                    </div>
                </div>

                {% if listing.listingFiles is not empty %}
                    <div class="mb-2">
                        <div class="zoom-wrapper">
                            <a
                                    href="javascript:"
                                    data-fancybox-trigger="file"
                                    class="fancybox"
                            >
                                <img
                                        src="{{ asset(listing.listingFiles.first.pathInNormalSize) }}"
                                        class="mx-auto listing-show-top-image"
                                        alt=""
                                />
                            </a>
                            <a
                                    dir="ltr"
                                    class="zoom"
                                    href="javascript:"
                                    data-fancybox-trigger="file"
                            >
                                <i dir="ltr" class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}

                {% if listing.price is not empty %}
                    <div class="my-1 d-md-none">
                        <h3 class="btn btn-dark btn-lg">
                            {{ 'trans.Price' | trans }}: {{ listing.price | money }}
                        </h3>

                        {% if listing.priceFor %}
                            <span>{{ ('trans.priceFor.'~listing.priceFor) | trans }}</span>
                        {% endif %}

                        {% if listing.priceNegotiable is not null %}
                            {% if listing.priceNegotiable %}
                                <span class="badge badge-success">
                                    {{ 'trans.to negotiate' | trans }}
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    {{ 'trans.is NOT negotiable' | trans }}
                                </span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}

                <!-- Tabs nav -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item flex-sm-fill text-sm-center">
                        <a
                                href="#details"
                                class="nav-link active"
                                aria-controls="details"
                                role="tab"
                                data-toggle="tab"
                                aria-selected="true"
                        >{{ 'trans.Ad Details' | trans }}</a>
                    </li>

                    {% if listing.listingFiles.count > 0 %}
                        <li class="nav-item flex-sm-fill text-sm-center">
                            <a
                                    href="#photos"
                                    class="nav-link"
                                    aria-controls="photos"
                                    role="tab"
                                    data-toggle="tab"
                            >{{ 'trans.Photos' | trans }} ({{ listing.listingFiles.count }})</a>
                        </li>
                    {% endif %}
                </ul>

                <!-- tabs -->
                <div class="tab-content p-md-3 rounded-bottom mb-2">
                    <!-- details tab -->
                    <div class="tab-pane fade show active" role="tabpanel" id="details">

                        <div class="zebra">
                            <!-- description -->
                            <div class="block">
                                <div class="m-2">
                                    {% for listingCustomFieldValue in listing.listingCustomFieldValues %}
                                        {# @var listingCustomFieldValue \App\Entity\ListingCustomFieldValue #}
                                        <div class="name-value-group mb-2 mr-1 mr-md-2">
                                            <div class="name">
                                                {{ listingCustomFieldValue.customField.name }}
                                            </div>
                                            {% if listingCustomFieldValue.customFieldOption is empty %}
                                                {% if listingCustomFieldValue.customField.type == constant('\App\\Entity\\CustomField::TYPE_INTEGER_RANGE') %}
                                                    <strong>{{ listingCustomFieldValue.value | thousandsSeparate }}</strong>
                                                {% else %}
                                                    <strong>{{ listingCustomFieldValue.value }}</strong>
                                                {% endif %}
                                            {% else %}
                                                <strong>{{ listingCustomFieldValue.customFieldOption.name }}</strong>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="user-text-wrap px-2 px-md-3 mb-3 mt-2">
                                    {{ listing.description | nl2br }}
                                </div>
                                <div class="px-2 px-sm-3 py-1 clearfix">
                                    <div class="float-md-right">
                                        {{ 'trans.Views' | trans }}: {{ listingShowDto.viewsCount+1 | thousandsSeparate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tab photos -->
                    <div id="photos" class="tab-pane fade clearfix" role="tabpanel">
                        {% for listingFile in listing.listingFiles %}
                            <div class="float-left img-thumbnail mr-2 mb-2" style="width: 120px">
                                <a
                                        href="{{ asset(listingFile.pathInNormalSize) }}"
                                        data-fancybox="fileInTab"
                                        class="fancybox"
                                >
                                    <div
                                            class="pt-100 container-img rounded"
                                            style="background-image:url('{{ asset(listingFile.pathInNormalSize) }}');"
                                    ></div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                </div>

                {% if listing.listingFiles is not empty %}
                    <div>
                        {% for listingFile in listing.listingFiles %}
                            <a
                                    href="{{ asset(listingFile.pathInNormalSize) }}"
                                    data-fancybox="file"
                                    class="fancybox"
                            >
                                <img
                                        class="mb-2"
                                        src="{{ asset(listingFile.pathInNormalSize) }}"
                                        alt="{{ listing.title }}"
                                />
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- listing id -->
                <div class="mb-2 d-none d-md-block">
                    {{ 'trans.Listing identifier' | trans }}: {{ listing.id }}
                </div>
                <!-- end tabs contents -->
            </div>

            <!-- Sidebar -->
            <div class="col-md-5">
                {% if isCurrentUserListing(listing) %}
                    <a
                            href="{{ path('app_listing_edit', {'id': listing.id}) }}"
                            class="btn btn-primary mb-2"
                    >{{ 'trans.Edit listing' | trans }}</a>
                {% endif %}

                {% if lowSecurityCheckIsAdminInPublic() %}
                    <a
                            href="{{ path('app_admin_listing_edit', {'id': listing.id}) }}"
                            class="btn btn-outline-danger mb-2"
                    >
                        {{ 'trans.Edit listing as Admin' | trans }}
                    </a>
                {% endif %}

                {% if listing.price is not empty %}
                    <div class="my-1">
                        <h3 class="btn btn-dark price btn-lg">
                            {{ 'trans.Price' | trans }}: {{ listing.price | money }}
                        </h3>

                        {% if listing.priceFor %}
                            <span>{{ ('trans.priceFor.'~listing.priceFor) | trans }}</span>
                        {% endif %}

                        {% if listing.priceNegotiable is not null %}
                            {% if listing.priceNegotiable %}
                                <span class="badge badge-success">
                                    {{ 'trans.to negotiate' | trans }}
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    {{ 'trans.is NOT negotiable' | trans }}
                                </span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}

                {# Informations #}
                <div class="card mb-3 w-100">
                    <div class="card-header">
                        <h5>{{ 'trans.Informations' | trans }}</h5>
                    </div>

                    <div class="card-body">
                        {% if displayAsExpired(listing) %}
                            <div class="btn btn-success w-100 disabled">
                                {{ 'trans.Listing has expired' | trans }}
                            </div>
                        {% else %}
                            <button
                                    id="showContactInformation"
                                    class="btn btn-success w-100"
                                    onclick="showContactInformation({{ listing.id }})"
                            >
                                {{ 'trans.Show contact information' | trans }}
                            </button>
                        {% endif %}

                        {% if listing.city is not empty and not displayAsExpired(listing) %}
                            <div class="mb-2 py-2">
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ 'trans.City' | trans }}
                                    </div>

                                    <div class="col-sm-8">
                                        {{ listing.city }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="mb-2 py-2">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ 'trans.Date added' | trans }}
                                </div>

                                <div class="col-sm-8">
                                    {{ listing.orderByDate | date }}
                                </div>
                            </div>
                        </div>

                        <div class="mb-2 py-2">
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ 'trans.Expiration date' | trans }}
                                </div>

                                <div class="col-sm-8">
                                    {{ listing.validUntilDate | date }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if not displayAsExpired(listing) %}
                        <div class="card-footer">
                            <a
                                    href="{{ path('app_user_listings', {"user": listing.user.id}) }}"
                                    class="btn btn-sm btn-dark btn-block mt-auto"
                            >
                                {{ 'trans.User listings' | trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>


                {% if not displayAsExpired(listing) %}
                    <!-- share listing -->
                    <div class="card mb-3 d-none d-md-block">
                        <div class="card-header">
                            <h5>{{ 'trans.Share This Listing' | trans }}</h5>
                        </div>

                        <div class="card-body">
                            <div
                                    class="mb-2"
                                    data-href="{{ url('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}"
                            >
                                <a
                                        target="_blank"
                                        href="https://www.facebook.com/sharer/sharer.php?u={{ url('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}"
                                        class="fb-xfbml-parse-ignore"
                                >
                                    {{ 'trans.Share on Facebook' | trans }}
                                </a>
                            </div>

                            <div class="mb-2">
                                <a
                                        href="https://twitter.com/intent/tweet?url={{ url('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}&text={{ listing.title }}"
                                >
                                    {{ 'trans.Share on Twitter' | trans }}
                                </a>
                            </div>

                            <button
                                    onclick="copyTextToClipboard('{{ url('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}')"
                                    class="btn btn-sm btn-secondary d-block mb-2"
                            >
                                {{ 'trans.Copy link to this listing' | trans }}
                            </button>
                        </div>
                    </div>
                {% endif %}

                <!-- listing id -->
                <div class="mb-2 d-md-none">
                    {{ 'trans.Listing identifier' | trans }}: {{ listing.id }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
    <script type="text/javascript">
        $('[data-fancybox="file"]').fancybox({
            buttons: [
                "zoom",
                "thumbs",
                "close"
            ],
            hash: false,
        });

        var showContactInformation = function (listingId) {
            $.post(
                Routing.generate('app_listing_contact_data', {}),
                {
                    listingId: listingId
                }
            ).done(function (response) {
                $('.listing-contact-data').remove();

                let $showContactInformation = $('#showContactInformation');
                $showContactInformation.before(response.html);
                $showContactInformation.remove();
            });
        };
    </script>
{% endblock %}
