{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-3 mb-3">
        <a href="//www.jaslo4u.pl">Jaslo4u.pl</a>
        > <a href="{{ path('app_index') }}">{{ 'trans.Classifieds' | trans }}</a>

        {% for category in categoryBreadcrumbs %}
            {% if loop.last %}
                &gt; {{ category.name }}
            {% else %}
                &gt; <a href="{{ path('app_category', {"categoryId": category.id}) }}">{{ category.name }}</a>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container mt-5">
        <div class="row">
            <!-- Sidebar & Advanced Filters -->
            <div class="col-md-3">
                {% if categoryList is not empty %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>{{ 'trans.Category' | trans }}</strong>
                        </div>
                        <div class="card-body">
                            {% for category in categoryList %}
                                <a href="{{ path('app_category', {"categoryId": category.id} | merge(queryParameters)) }}" title="" class="mb-1">{{ category.name }}</a><br>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="card mb-3">
                    <div class="card-header">
                        <strong>{{ 'trans.Refine Search' | trans }}</strong>
                    </div>
                    <div class="card-body">
                        <form method="get" id="" action="">
                            <div class="mb-3" id="li-field-7">
                                <div class="input-group mb-2 mr-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                                    </div>

                                    <input type="text" class="form-control" name="query" placeholder="{{ 'trans.keyword'|trans }}" value="{{ app.request.get('query') | default }}">
                                </div>
                            </div>

                            {% if app.request.get('user') is not empty %}
                                <div class="mb-3" id="li-field-7">
                                        <div class="custom-control custom-checkbox">
                                            <input
                                                    name="user"
                                                    value="{{ app.request.get('user') }}"
                                                    checked
                                                    type="checkbox"
                                                    id="option_user"
                                                    class="custom-control-input"
                                            >
                                            <label class="custom-control-label" for="option_user">{{ 'trans.User Listings' | trans }}</label>
                                        </div>
                                </div>
                            {% endif %}

                            {# @var customField \App\Entity\CustomField #}
                            {% for customField in customFieldList %}
                                {% if customField.type == constant('\App\\Entity\\CustomField::TYPE_SELECT') %}
                                    <div class="mb-3" id="li-field-7">
                                        <p><strong>{{ customField.name }}</strong></p>

                                        {% for customFieldOption in customField.customFieldOptions %}
                                            <div class="custom-control custom-checkbox">
                                                <input
                                                    name="form_custom_field[{{ customField.id }}][values][]"
                                                    value="{{ customFieldOption.value }}"
                                                    {% if customFieldOption.value in app.request.get('form_custom_field')[customField.id]['values'] | default([]) %}
                                                        {{- 'checked' -}}
                                                    {% endif %}
                                                    type="checkbox"
                                                    id="option_{{ customFieldOption.id }}"
                                                    class="custom-control-input"
                                                >
                                                <label class="custom-control-label" for="option_{{ customFieldOption.id }}">{{ customFieldOption.name }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if customField.type == constant('\App\\Entity\\CustomField::TYPE_INTEGER_RANGE') %}
                                    <label>{{ customField.name }}</label>
                                    <div class="form-row mb-3">
                                        <div class="col-6">
                                            <input
                                                name="form_custom_field[{{ customField.id }}][range][min]"
                                                value="{{ app.request.get('form_custom_field')[customField.id]['range']['min'] | default }}"
                                                type="text"
                                                class="form-control form-control-sm">
                                        </div>

                                        <div class="col-6">
                                            <input
                                                name="form_custom_field[{{ customField.id }}][range][max]"
                                                value="{{ app.request.get('form_custom_field')[customField.id]['range']['max'] | default }}"
                                                type="text"
                                                class="form-control form-control-sm"
                                            >
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <!-- price -->
                            <label>{{ 'trans.Price' | trans }}</label>
                            <div class="form-row mb-3">
                                <div class="col-6">
                                    <input type="text" id="min_price" class="form-control form-control-sm" name="min_price" value="{{ app.request.get('min_price') | default }}">
                                </div>

                                <div class="col-6">
                                    <input type="text" id="max_price" class="form-control form-control-sm" name="max_price" value="{{ app.request.get('max_price') | default }}">
                                </div>
                            </div>

                            <button class="btn btn-primary btn-sm">{{ 'trans.Filter' | trans }}</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Listings Col -->
            <div class="col-md-9 item-list">
                <!-- sort and display -->
                <ul class="nav justify-content-end mb-1">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-light dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort						</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="?sort=price-asc">Price Asc</a>
                                <a class="dropdown-item" href="?sort=price-desc">Price Desc</a>
                                <a class="dropdown-item" href="?sort=date-asc">Date Asc</a>
                                <a class="dropdown-item" href="?sort=date-desc">Date Desc</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <button id="grid-view" class="btn btn-sm btn-light mr-1"><i class="fas fa-th"></i></button>
                    </li>
                    <li class="nav-item">
                        <button id="list-view" class="btn btn-sm btn-light"><i class="fas fa-th-list"></i></button>
                    </li>
                </ul>

                <!-- the listings -->
                <div id="cards-wrapper" class="">
                    {% for listing in listingList %}
                        <div class="card mb-3 regular">
                            <div class="container-fluid">
                                <div class="row" data-listing-id="340">
                                    <div class="card-thumb col-12 col-md-3 py-3">
                                        <a title="{{ listing.title }}" href="{{ path('app_listing_show', {id: listing.id}) }}">
                                            <img class="rounded" alt="{{ listing.title }}" src="{{ asset(listing.listingFiles.first.path | default('asset/img/blank.png')) }}">
                                        </a>
                                    </div>

                                    <div class="card-text col-12 col-md-9 py-3">
                                        <h5 class="pt-3 pt-sm-0">
                                            <strong>
                                                <a href="{{ path('app_listing_show', {id: listing.id}) }}">
                                                    {{ listing.title }}
                                                </a>
                                            </strong>
                                        </h5>

                                        {% if listing.city is not empty %}
                                            <div class="address">
                                                <i class="fas fa-map-marker-alt text-danger"></i>
                                                {{ listing.city }}
                                            </div>
                                        {% endif %}

{#                                        <div class="tel">#}
{#                                            <a href="tel:714 952-2527" class="text-dark"><small><i class="fas fa-phone"></i> 714 952-2527</small></a>#}
{#                                        </div>#}

                                        <div class="mt-1"><span class="btn btn-dark btn-sm price">{{ 'trans.Price' | trans }}: {{ listing.price }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if pager.getNbPages > 1 %}
                    {{ pagination | raw }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock body %}
