{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <div class="container mt-2 mt-md-5">
        <div class="row">
            <div class="col-md-8 mb-3">
                <h2>{{ page.title }}</h2>

                {{ page.content | nl2br }}
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <h5 class="card-header">{{ 'trans.Relates pages' | trans }}</h5>

                    <div class="card-body">
                        {% for page in relatedPages %}
                            <div>
                                <a href="{{ path('app_page', {'slug': page.slug}) }}">{{ page.title }}</a>
                            </div>
                        {% endfor %}
                        <div>
                            <a href="{{ path('app_used_tech_serivces') }}">{{ 'trans.Used technologies and Services' | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
