{% extends 'admin/base.html.twig' %}

{% import "admin/_macro/_admin_macro.html.twig" as adminMacro %}

{% block title %}{{ 'trans.Edit listing' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>{{ 'trans.Edit listing' | trans }}:
            <a target="_blank" href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}">
                {{ listing.title }}
            </a>
        </h1>

        <a href="{{ path('app_admin_listing_edit_advanced', {'id': listing.id}) }}">
            {{- 'trans.Edit listing advanced settings' | trans -}}
        </a>

        <div class="float-right">
            <span class="{{ getListingStatusClass(listing) }}">{{ getListingStatus(listing) }}</span>

            {% if adminShowActivate(listing) %}
                {{ include('admin/listing/_action/_admin_activate_form.html.twig') }}
            {% endif %}

            {% if adminShowReject(listing) %}
                <a
                href="{{ path('app_admin_listing_reject', {'id': listing.id}) }}"
                target="_blank"
                class="btn btn-warning mb-1"
                >
                    {{ 'trans.Reject' | trans }}
                </a>
            {% endif %}
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-primary mb-4">{{ button_label|default('trans.Save' | trans) }}</button>
        {{ form_end(form) }}

        <div>
            {{ adminMacro.listingInfo(listing) }}
        </div>

        <div class="card-deck">
            {% for listingFile in listing.listingFiles %}
                <div class="card-body" style="max-width: 10rem;">
                    <div class="mb-2">
                        <img
                                class="img-cover-center"
                                src="{{ asset(listingFile.pathInListSize) }}"
                                alt=""
                                style="max-height: 100px;"
                        >
                    </div>
                    <div>
                        {{ include('admin/listing/_action/_delete_file_form.html.twig') }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include 'user/listing/_custom_fields.html.twig' %}
{% endblock %}
