{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Create new page' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ 'trans.Create new page' | trans }}</h1>

        {{ include('admin/page/_form.html.twig') }}

        <a href="{{ path('app_admin_page_index') }}">{{ 'trans.back to list' | trans }}</a>
    </div>
{% endblock %}
