{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h4><strong>{{ 'trans.Sign in' | trans }}</strong></h4>
                </div>

                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">{{ 'trans.Please sign in' | trans }}</h1>

                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="{{ 'trans.Email' | trans }}" required autofocus tabindex="1">
                        </div>

                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'trans.Password' | trans }}" required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                {{ 'trans.Sign in' | trans }}
                            </button>
                            <a href="{{ path('app_remind_password') }}">{{ 'trans.Forgot password?' | trans }}</a>
                        </div>
                    </form>

                    <hr>

{#                    <div class="row">#}
{#                        <div class="col-md-6 mb-3 mb-md-0">#}
{#                            <a href="/user/sign-in?provider=facebook" class="btn btn-secondary btn-block"><i class="fab fa-facebook-f"></i> Facebook</a>#}
{#                        </div>#}

{#                        <div class="col-md-6">#}
{#                            <a href="/user/sign-in?provider=twitter" class="btn btn-secondary btn-block"><i class="fab fa-twitter"></i> Twitter</a>#}
{#                        </div>#}
{#                    </div>#}
                </div>

                <div class="card-footer text-muted">
                    {{ 'trans.Need an account?' | trans }} <a href="{{ path('app_register') }}">{{ 'trans.Register' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
