<form
        method="post"
        action="{{ path('app_listing_activate', {'id': listing.id}) }}"
        onsubmit="return confirm('{{ 'trans.Activate' | trans }}: {{ listing.title }}?');"
        class="d-inline"
>
<input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="_token" value="{{ csrf_token('activate' ~ listing.id) }}">
    <button class="btn btn-success mb-1">{{ 'trans.Activate' | trans }}</button>
</form>
