{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Edit User' | trans }}{% endblock %}

{% block body %}

<div class="container mt-5">

    <div class="mb-4">
        <h1>{{ 'trans.Edit User' | trans }}: {{ user.email }}</h1>

        <a href="{{ path('admin_user_index') }}">{{ 'trans.back to list' | trans }}</a>

        <div class="float-right">
            <a
                    href="{{ path('app_admin_user_change_balance', {'id': user.id}) }}"
                    class="btn btn-primary"
            >
                {{ 'trans.Change user balance' | trans }}
            </a>

            <a href="{{ path('app_admin_listing_search', {'user': user.email}) }}" class="btn btn-secondary ml-1">
                {{ 'trans.User listings' | trans }}
            </a>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>{{ 'trans.Username' | trans }}</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>{{ 'trans.Email' | trans }}</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>{{ 'trans.Roles' | trans }}</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'trans.Enabled' | trans }}</th>
            <td>{{ (user.enabled ? 'trans.Yes' : 'trans.No') | trans }}</td>
        </tr>
        <tr>
            <th>{{ 'trans.Registration date' | trans }}</th>
            <td>{{ user.registrationDate ? user.registrationDate|date('Y-m-d H:i:s T') : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'trans.Last login' | trans }}</th>
            <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s T') : '' }}</td>
        </tr>
        </tbody>
    </table>

    {{ include('admin/user/_form.html.twig', {'button_label': 'trans.Update' | trans}) }}
</div>
{% endblock %}
