{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>User</h1>

        <div>
            <a href="{{ path('app_admin_user_change_balance', {'id': user.id}) }}" class="btn btn-primary">
                {{ 'trans.Change user balance' | trans }}
            </a>
        </div>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>RegistrationDate</th>
                <td>{{ user.registrationDate ? user.registrationDate|date('Y-m-d H:i:s T') : '' }}</td>
            </tr>
            <tr>
                <th>LastLogin</th>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s T') : '' }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('admin_user_index') }}">back to list</a>

        <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>

        {{ include('admin/user/_delete_form.html.twig') }}
    </div>
{% endblock %}
