{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Change user balance' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h3>
            {{ 'trans.Change balance of user' | trans }}:
            <a href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ user.username }}</a>
        </h3>

        <div>
            {{ 'trans.Current user balance' | trans }}:
            <strong>{{ currentBalance | moneyAsFloat }}</strong>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-primary">{{ 'trans.Change balance' | trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
