{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Payment' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'trans.Payment' | trans }}</h1>

    <table class="table table-responsive-sm">
        <tbody>
            <tr>
                <th>{{ 'trans.Payment type' | trans }}</th>
                <td>{{ ('trans.paymentType.'~payment.type) | trans }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Description' | trans }}</th>
                <td class="text-break">{{ payment.description }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Amount' | trans }}</th>
                <td>{{ payment.amount | moneyPrecise }} {{ payment.currency }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Date' | trans }}</th>
                <td>{{ payment.datetime ? payment.datetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Payment gateway - status' | trans }}</th>
                <td>{{ payment.gatewayStatus }}</td>
            </tr>
            <tr>
                <th>{{ 'trans.Balance updated?' | trans }}</th>
                <td>
                    <span class="{{ payment.balanceUpdated | boolGreenRedClass }}">{{ payment.balanceUpdated | boolText | trans }}</span>
                </td>
            </tr>
            <tr>
                <th>{{ 'trans.Canceled?' | trans }}</th>
                <td><span class="{{ payment.canceled | boolGreenRedClass }}">{{ payment.canceled | boolText | trans }}</span></td>
            </tr>
            <tr>
                <th>{{ 'trans.Payment gateway - transaction ID' | trans }}</th>
                <td><a href="https://www.paypal.com/activity/payment/{{ payment.gatewayTransactionId }}">{{ payment.gatewayTransactionId }}</a></td>
            </tr>
            <tr>
                <th>GatewayToken</th>
                <td>{{ payment.gatewayToken }}</td>
            </tr>
            <tr>
                <th>GatewayPaymentId</th>
                <td>{{ payment.gatewayPaymentId }}</td>
            </tr>
            {% if payment.paymentForFeaturedPackage %}
                <tr>
                    <th>{{ 'trans.Featured package' | trans }}</th>
                    <td>
                        <div class="text-break"><a href="{{ path('app_admin_featured_package_edit', {'id': payment.paymentForFeaturedPackage.featuredPackage.id}) }}">{{ payment.paymentForFeaturedPackage.featuredPackage.name }}</a></div>
                        <div class="text-muted text-break">{{ payment.paymentForFeaturedPackage.featuredPackage.adminName }}</div>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ 'trans.User' | trans }}</th>
                <td>
                    <a href="{{ path('app_admin_user_edit', {'id': payment.user.id}) }}" class="text-break">{{ payment.user.username }}</a>
                </td>
            </tr>
            <tr>
                <th>{{ 'trans.Listing' | trans }}</th>
                <td>
                    {% if payment.paymentForFeaturedPackage %}
                        <a href="{{ path('app_admin_listing_edit', {'id': payment.paymentForFeaturedPackage.listing.id}) }}" class="text-break">{{ payment.paymentForFeaturedPackage.listing.title }}</a>
                    {% else %}
                        {{ 'trans.none' | trans }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_payment_index') }}" class="btn btn-secondary">{{ 'trans.back to list' | trans }}</a>
{% endblock %}
