{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.description) }}

{%- if form.category is defined -%}
<!-- category -->
<div class="form-group">
    {{ form_label(form.category) }}
    <div id="js__cascader-category-select" class="cascader-main collapse">
        <div class="row no-gutters">
            {%- apply normalizeWhitespace -%}
            {% for levelId, level in formCategorySelectList %}
                <div class="col-lg-4 cascader-level cascader-level-{{ levelId }}" data-cascader-level="{{ levelId }}">
                    {% for categoryLevel in level %}
                        <div
                                class="cascader-branch-list cascader-branch-list-{{ categoryLevel.id }} collapse"
                                data-cascader-leaf="{{ categoryLevel.id }}"
                        >
                            <h5 class="cascader-branch-list-header text-break">{{ categoryLevel.name }}</h5>
                            <div class="cascader-branch-list-elements">
                                {% for category in categoryLevel.children %}
                                    <div
                                            onclick="cascader.select({{ category.id }}, this)"
                                            class="cascader-branch cascader-click cascader-leaf-{{ category.id }} text-break"
                                    >
                                        {{- category.name -}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
          {%- endapply -%}
        </div>
    </div>
    {{ form_widget(form.category) }}
    {{- form_help(form) -}}
</div>
{%- endif -%}

{%- if form.validityTimeDays is defined -%}
    {{ form_row(form.validityTimeDays) }}
{%- endif -%}

{{ form_row(form.phone) }}

<div class="form-row align-items-center">
    <div class="col-md-8">
        {{ form_row(form.email) }}
    </div>
    <div class="col-md-4 col-checkbox-pull-down">
        {{ form_row(form.emailShow) }}
    </div>
</div>

<div class="form-row">
    <div class="col-md-4">
        {{ form_row(form.price) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.priceFor) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.priceNegotiable) }}
    </div>
</div>

{{ form_row(form.city) }}

{{ form_widget(form) }}

<label>{{ 'trans.Pictures' | trans }}</label>
<input id="listing_file" type="file" multiple="multiple" name="files">

<button class="btn btn-primary" onclick="onListingSaveFormSubmit(this, event);">{{ button_label|default('trans.Save' | trans) }}</button>
{{ form_end(form) }}
