{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Feature listing' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-2 mt-md-4">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-5">
                {% include 'user/listing/_part/user_navigation_card.html.twig' %}
            </div>

            <div class="col-md-8 col-lg-9">
                <h3 class="mb-3">
                    {{ 'trans.Feature listing' | trans }}:
                    <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}">
                        {{ listing.title }}
                    </a>
                </h3>

                {% include 'form/_flash_above_form.html.twig' %}

                {% if listing.featuredActive %}
                    <div class="alert alert-success">
                        {{ 'trans.Featured until' | trans }}:
                        <strong>{{ listing.featuredUntilDate | date }}</strong>
                    </div>
                {% endif %}

                {% if userBalance > 0 %}
                    <div class="my-4">
                        {{ 'trans.Your balance is' | trans }}:
                        <strong class="badge badge-success">{{ userBalance | moneyPrecise }}</strong>
                        {{ 'trans.that you can use to feature listings' | trans }}
                    </div>
                {% endif %}

                {% if app.request.query.get('demoStarted') %}
                    <div class="alert alert-success" role="alert">
                        {{ 'trans.Listing has been featured for 30 minutes, to see how it looks click' | trans }}
                        <a href="{{ path('app_category', {'categorySlug': listing.category.slug}) }}#listing-{{ listing.id }}">{{ 'trans.HERE' | trans }}</a>
                    </div>
                {% endif %}

                {% if listing.status in [constant('\App\\Entity\\Listing::STATUS_ACTIVE'), constant('\App\\Entity\\Listing::STATUS_ACTIVE_FEATURED')] %}
                    <div class="row">
                        {% for package in packages %}
                            <div class="col-md-4">
                                <h4>{{ package.name }}</h4>

                                <div class="mb-2">
                                    {{ package.description | nl2br }}
                                </div>

                                <div>
                                    {{ include('user/listing/_action/_feature_paid_form.html.twig') }}
                                </div>
                            </div>
                        {% endfor %}


                        <div class="col-md-4">
                            <h4>{{ 'trans.Featured demonstration' | trans }}</h4>

                            <div>
                                {% if listing.featuredUntilDate is null %}
                                    {{ include('user/listing/_action/_feature_as_demo_form.html.twig') }}
                                {% else %}
                                    <span class="btn btn-secondary btn-sm disabled">{{ 'trans.Demonstration of featured has been used up' | trans }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-info mt-3">
                        <div>
                            {{ 'trans.Do you feature many listings?' | trans }}
                            {{ 'trans.Do you feature frequently?' | trans }}
                        </div>
                        <div>
                            {{ 'trans.Consider topping up your account and feature listings by one click, using your account balance' | trans }}
                        </div>

                        <a href="{{ path('app_user_balance_top_up') }}" class="btn btn-primary">
                            {{ 'trans.Top up account' | trans }}
                        </a>
                        <span>{{ 'trans.to feature listings by single click' | trans }}</span>
                    </div>
                {% else %}
                    <div class="alert alert-danger">
                        {{ 'trans.You can not feature listing that is deactivated. Current listings status' | trans }}:
                    </div>
                    <span class="{{ getListingStatusClass(listing) }}">{{ getListingStatus(listing) }}</span>
                {% endif %}

                <a href="{{ path('app_user_balance_history') }}">{{ 'trans.History of listings featuring' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
