{% extends 'base.html.twig' %}

{% import "user/_macro/_user_macro.html.twig" as userMacro %}

{# @var settings \App\Service\Setting\SettingsDto #}
{% set settings = settings() %}

{% block title %}{{ 'trans.My listings' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <nav class="nav nav-pills nav-justified mb-2">
            <a class="nav-item nav-link active" href="{{ path('app_user_listing_index') }}">
                <i class="fas fa-list-ul"></i>
                <span>{{ 'trans.Listings' | trans }}</span>
            </a>
            <a class="nav-item nav-link" href="{{ path('app_listing_new') }}">
                <i class="far fa-plus-square"></i>
                <span>{{ 'trans.Create Listing' | trans }}</span>
            </a>

            <form class="mt-2 mt-md-0 w-100-small" role="search">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="{{ 'trans.keyword' | trans }}" name="query" value="{{ app.request.get('query') }}">
                    <button type="submit" class="btn btn-primary ml-1">{{ 'trans.Search' | trans }}</button>
                </div>
            </form>
        </nav>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive-md">
                    <thead>
                    <tr>
                        <th></th>
                        <th style="min-width: 14rem;">{{ 'trans.Title' | trans }}</th>
                        <th>{{ 'trans.Last edit' | trans }}</th>
                        <th style="min-width: 10rem;">{{ 'trans.Status' | trans }}</th>
                        <th>
                            <a href="{{ path('app_listing_new') }}" class="btn btn-dark btn-sm float-right">
                                <i class="far fa-plus-square"></i>
                                <span>{{ 'trans.Create Listing' | trans }}</span>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listing in listings %}
                        <tr>
                            <td>
                                <div>
                                    <a title="{{ listing.title }}" href="{{ path('app_listing_show', {id: listing.id, 'slug': listing.slug, 'showPreviewForOwner': 1}) }}">
                                        <img class="rounded list-small-img" alt="{{ listing.title }}" src="{{ asset(listing.mainImageInListSize | default('static/system/blank.png')) }}">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a href="{{ path('app_listing_show', {"id": listing.id, 'slug': listing.slug, 'showPreviewForOwner': 1}) }}">{{ listing.title }}</a>
                                </div>
                                <div>
                                    <span class="mr-2">
                                        {{ listing.category.parent.name }}
                                        ⇾
                                        <a href="{{ path('app_category', {'categorySlug': listing.category.slug}) }}">
                                            {{- listing.category.name -}}
                                        </a>
                                    </span>
                                    {% if listing.featured %}
                                        <span class="badge badge-pill badge-warning">{{ 'trans.Featured' | trans }}</span>
                                    {% endif %}
                                </div>

                                {% if settings.paymentAllowed and listing.status in [constant('\App\\Entity\\Listing::STATUS_ACTIVE'), constant('\App\\Entity\\Listing::STATUS_ACTIVE_FEATURED')] %}
                                    <div>
                                        <a
                                                href="{{ path('app_user_feature_listing', {"id": listing.id}) }}"
                                                class="user-listings-feature-this-link"
                                        >
                                            {{ 'trans.Feature this listing' | trans }}
                                        </a>
                                    </div>
                                {% endif %}
                                {% if listing.status in [constant('\App\\Entity\\Listing::STATUS_ACTIVE'), constant('\App\\Entity\\Listing::STATUS_ACTIVE_FEATURED')] %}
                                <div>
                                    <a
                                            href="{{ path('app_user_feature_listing_by_sms', {"id": listing.id}) }}"
                                            class="user-listings-feature-this-link"
                                    >
                                        {{ 'trans.Feature this listing' | trans }}
                                    </a>
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {{ listing.lastEditDate | date('d.m.Y') }}
                            </td>
                            <td>
                                <div class="{{ getListingStatusClass(listing) }}">{{ getListingStatus(listing) }}</div>
                                {%- if listing.status == constant('\App\\Entity\\Listing::STATUS_ACTIVE') -%}
                                    <div>{{ 'trans.until' | trans }}: {{ listing.validUntilDate | date(dateFormatShort) }}</div>
                                {%- endif -%}
                                {% if listing.status in [constant('\App\\Entity\\Listing::STATUS_REJECTED')] and listing.rejectionReason is empty and settings.linkRejectionReason is not empty %}
                                    <a href="{{ path('app_page', {'slug': settings.linkRejectionReason}) }}" class="d-inline-block">
                                        {{ 'trans.more information' | trans }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if not listing.adminRemoved %}
                                    <a href="{{ path('app_listing_edit', {'id': listing.id}) }}" class="btn btn-dark mb-1">{{ 'trans.Edit' | trans }}</a>
                                {% endif %}

                                {{ userMacro.listingButtons(listing) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">{{ 'trans.no records found' | trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% include 'base/_pagination.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
