{% extends 'base.html.twig' %}

{# @var settings \App\Service\Setting\SettingsDto #}
{% set settings = settings() %}

{% block title %}{{ 'trans.Extend validity' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-2 mt-md-4">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-4">
                {% include 'user/_part/user_navigation_card.html.twig' %}
            </div>

            <div class="col-md-8 col-lg-9">
                <div class="mb-4">
                    <h3 class="mb-1">{{ 'trans.Extend listing' | trans }}:
                        <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}" target="_blank" class="text-break">
                            {{- listing.title -}}
                        </a>
                    </h3>

                    {% if listing.userDeactivated %}
                        <div class="alert alert-info">
                            {{ 'trans.Listing is currently deactivated, extending will activate it and therefore show it to the public on page' | trans }}
                        </div>
                    {% endif %}

                    {% if listing.status in [constant('\App\\Entity\\Listing::STATUS_PENDING')] %}
                        <div class="alert alert-info">
                            {{ 'trans.Listing awaits activation, you can extend listing duration, but listing would only appear to the public after acceptation' | trans }}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-4">
                    {{ 'trans.Listing currently valid until' | trans }}:
                    <strong>{{ listing.validUntilDate | date }}</strong>
                </div>

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button class="btn btn-primary">{{ 'trans.Extend validity' | trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
