{% extends 'base.html.twig' %}

{# @var settings \App\Service\Setting\SettingsDto #}
{% set settings = settings() %}

{% block title %}
    {%- if app.request.get('_route') == 'app_category' -%}
        {{- listingListDto.category.name -}}
    {%- endif -%}
    {%- if app.request.get('_route') == 'app_last_added' -%}
        {{- 'trans.Last added' | trans -}}
    {%- endif -%}
    {%- if app.request.get('_route') == 'app_listing_search' -%}
        {{- 'trans.Search Engine' | trans -}}
    {%- endif -%}
    {%- if app.request.get('_route') == 'app_public_listings_of_user' -%}
        {{- 'trans.Listings of user' | trans -}}
    {%- endif -%}
{% endblock %}

{% block body %}
    <div class="container mt-3 mb-3 text-break">
        {%- if settings.masterSiteLinkShow ~%}
            <a href="{{ settings.masterSiteUrl }}">{{ settings.masterSiteAnchorText }}</a>
            {{- ' > ' -}}
        {%- endif ~%}
        <a href="{{ path('app_index') }}">{{ 'trans.Classifieds' | trans }}</a>

        {%- for category in categoryBreadcrumbs ~%}
            {{- ' > ' -}} <a href="{{ path('app_category', {'categorySlug': category.slug}) }}">{{ category.name }}</a>
        {%- endfor ~%}
        {%- if app.request.get('_route') == 'app_last_added' ~%}
            {{- ' > ' }} {{ 'trans.Last added' | trans }}
        {%- endif ~%}
        {%- if app.request.get('_route') == 'app_listing_search' ~%}
            {{- ' > ' }} {{ 'trans.Search Engine' | trans }}
        {%- endif ~%}
        {%- if app.request.get('_route') == 'app_public_listings_of_user' ~%}
            {{- ' > ' }} {{ 'trans.Listings of user' | trans }}
        {%- endif ~%}

        {%- if listingListDto.filterByUser ~%}
            {{- ' > ' -}}
            <a class="font-weight-bold" href="{{ path('app_public_listings_of_user', {'user': listingListDto.filterByUser.id}) }}">
                {{- listingListDto.filterByUser | displayUserName -}}
            </a>
        {%- endif ~%}
    </div>

    <div class="container mt-md-3">
        <div class="row">
            <div class="col-12 d-md-none">
                <div {{- ' ' -}}
                        class="btn btn-secondary btn-sm mb-2 w-100 cursor-pointer" {{- ' ' -}}
                        data-toggle="collapse" {{- ' ' -}}
                        data-target="#filters" {{- ' ' -}}
                >
                    {{- 'trans.Show filters' | trans -}}
                </div>
            </div>

            <!-- filters -->
            <div class="col-md-3 d-none-soft d-md-block collapse d-print-none" id="filters">
                {#- select category -#}
                {%- if categoryList is not empty ~%}
                    <div {{- ' ' -}}
                            class="btn btn-dark mb-2 cursor-pointer js__removeOnClick" {{- ' ' -}}
                            data-toggle="collapse" {{- ' ' -}}
                            data-target=".show-category-select" {{- ' ' -}}
                    >
                        {{- 'trans.Select category' | trans -}}
                    </div>
                    <div class="card mb-3 show-category-select collapse">
                        <div class="card-header">
                            <strong>{{ 'trans.Category' | trans }}</strong>
                        </div>
                        <div>
                            {%- for category in categoryList ~%}
                                <a {{- ' ' -}}
                                        href="{{ path('app_category', {'categorySlug': category.slug} | merge(queryParameters)) }}" {{- ' ' -}}
                                        class="link-list-item category-link {% if listingListDto.category and category.slug == listingListDto.category.slug  %}active{% endif %}" {{- ' ' -}}
                                >
                                    {{- category.name -}}
                                </a>
                            {%- endfor ~%}
                        </div>
                    </div>
                {% endif %}

                {% include 'listing_list/listing_list_filters.html.twig' %}
            </div>
            <!-- filters end -->

            <!-- subcategories -->
            <div class="col-md-9">
                {%- if category and category.hasChildren() and pager.currentPage == 1 ~%}
                    <div class="mb-2 d-print-none">
                        <span class="align-top d-inline-block pb-2 pb-lg-1">
                            {{- 'trans.Subcategories' | trans -}}
                            {{- ':&nbsp;' | raw -}}
                        </span>
                        {%- for category in categoryList ~%}
                            <a {{- ' ' -}}
                                    href="{{ path('app_category', {'categorySlug': category.slug} | merge(queryParameters)) }}" {{- ' ' -}}
                                    class="{% if loop.index > 3 and loop.length > 4 %}collapse{% endif %} w-100-small py-lg-0 show-more-subcategories" {{- ' ' -}}
                            >
                                {{- category.name -}}
                            </a>
                        {%- endfor -%}
                        {% if categoryList | length > 4 ~%}
                            <div {{- ' ' -}}
                                    class="w-100-small text-left btn btn-link d-inline-block d-lg-none px-0 pt-1 align-top cursor-pointer js__removeOnClick" {{- ' ' -}}
                                    data-toggle="collapse" {{- ' ' -}}
                                    data-target=".show-more-subcategories" {{- ' ' -}}
                            >
                                {{- 'trans.show more' | trans -}}
                            </div>
                        {%- endif ~%}
                    </div>
                {%- endif %}

                {%- if listingListDto.filterByUser ~%}
                    <div class="mb-2">
                        <h4>{{- 'trans.Listings of user' | trans }}: {{ listingListDto.filterByUser | displayUserName -}}</h4>
                    </div>
                {%- endif ~%}

                <!-- listing list -->
                <div class="listing-list">
                    {%- for listing in listingList ~%}
                        <div id="listing-{{ listing.id }}" class="card listing-list-item clickable-div {% if listing.featured %}listing-recommended{% endif %}">
                            <a class="clickable-div-link" href="{{ path('app_listing_show', {id: listing.id, 'slug': listing.slug}) }}" title="{{ listing.title }}"></a>
                            <div class="container-fluid">
                                <div class="row py-md-1">
                                    <div class="col-12 col-md-4 p-0 {% if listing.mainImage is empty %}d-none-soft{% endif %} d-md-block">
                                        <a {{- ' ' -}}
                                                class="d-block text-center" {{- ' ' -}}
                                                href="{{ path('app_listing_show', {id: listing.id, 'slug': listing.slug}) }}" {{- ' ' -}}
                                                title="{{ listing.title }}" {{- ' ' -}}
                                        >
                                            <img {{- ' ' -}}
                                                    class="listing-list-img {% if listing.mainImageInListSize is empty %}listing-list-img-blank{% endif %}" {{- ' ' -}}
                                                    src="{{ asset(listing.mainImageInListSize | default('static/system/blank.png')) }}" {{- ' ' -}}
                                                    alt="{{ listing.title }}" {{- ' ' -}}
                                            >
                                        </a>
                                    </div>
                                    <div class="card-text col-12 col-md-8 pb-3 pl-md-4">
                                        <h5> {{- '' -}}
                                            <strong> {{- '' -}}
                                                <a {{- ' ' -}}
                                                        href="{{ path('app_listing_show', {id: listing.id, 'slug': listing.slug}) }}"  {{- ' ' -}}
                                                        class="use-visited-color d-block pt-2 w-100" {{- ' ' -}}
                                                >
                                                    {{- listing.title -}}
                                                </a> {{- '' -}}
                                            </strong> {{- '' -}}
                                        </h5>

                                        <div>
                                            {%- if listing.city is not empty ~%}
                                                <span class="mr-1"> {{- '' -}}
                                                    <i class="svg svg-location"></i>
                                                    {{- '&nbsp;' | raw -}}
                                                    {{- listing.city -}}
                                                </span>
                                            {%- endif ~%}
                                            <span class="mr-1 text-nowrap">{{- '' -}}
                                                <i class="svg svg-calendar text-black-50"></i>
                                                {{- ' ' -}}
                                                {{- listing.orderByDate | date -}}
                                            </span>
                                            {%- if listing.featured ~%}
                                                <span class="badge badge-pill badge-warning mr-2">{{- '' -}}
                                                    {{- 'trans.Featured' | trans -}}
                                                </span>
                                            {%- endif ~%}
                                        </div>

                                        {%- if listing.price is not empty ~%}
                                            <div class="mt-1"> {{- '' -}}
                                                <span class="btn btn-dark btn-sm price mr-2">
                                                    {{- 'trans.Price' | trans }}: {{ listing.price | money -}}
                                                </span>

                                                {%- if listing.priceFor -%}
                                                    <span class="mr-2"> {{- '' -}}
                                                        {{- ('trans.priceFor.'~listing.priceFor) | trans -}}
                                                    </span>
                                                {%- endif -%}
                                            </div>
                                        {%- endif ~%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%- else ~%}
                        <div class="alert alert-info w-100">
                            {{- 'trans.No classified ads matching criteria were found' | trans -}}
                        </div>
                    {%- endfor ~%}
                </div>
                <!-- listing list end -->

                {% include 'base/_pagination.html.twig' %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
    {{ encore_entry_link_tags('listing_list') }}
    {{ encore_entry_script_tags('listing_list') }}
{% endblock %}

