{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Settings' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-4">
                {% include 'user/listing/_part/user_navigation_card.html.twig' %}
            </div>

            <div class="col-md-8 col-lg-9">
                <h2>{{ 'trans.Settings' | trans }}</h2>

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button class="btn btn-primary">{{ 'trans.Save' | trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
