{% extends 'base.html.twig' %}

{% block title %}{{ 'trans.Settings' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-4 d-none d-md-block">
                {% include 'user/_part/user_navigation_card.html.twig' %}
            </div>

            <div class="col-md-8 col-lg-9">
                <div class="mb-2">
                    <a href="{{ path('app_user_change_password') }}" class="btn btn-secondary">
                        <i class="svg svg-lock mr-1"></i>
                        <span>{{ 'trans.Change Password' | trans }}</span>
                    </a>

                    <a href="{{ path('app_user_change_email') }}" class="btn btn-secondary">
                        <i class="svg svg-envelope mr-1"></i>
                        <span>{{ 'trans.Change Email' | trans }}</span>
                    </a>

                    <a href="{{ path('app_logout_confirm') }}" class="btn btn-secondary">
                        <span>{{ 'trans.Logout' | trans }}</span>
                    </a>
                </div>

                <h2>{{ 'trans.Settings for user' | trans }}: {{ user.username | default (user.email) }}</h2>

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button class="btn btn-primary">{{ 'trans.Save' | trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
