<form
        method="post"
        action="{{ path('app_admin_custom_field_delete', {'id': custom_field.id}) }}"
        onsubmit="return confirm('{{ 'trans.Delete custom field' | trans }}: {{ custom_field.name }}?');"
        class="d-inline"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ custom_field.id) }}">
    <button class="btn btn-danger">{{ 'trans.Delete completely, from all categories' | trans }}</button>
</form>
