{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Edit custom field' | trans }}{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row mb-2">
        <div class="col-md-6">
            <h1>{{ 'trans.Edit custom field' | trans }}</h1>
        </div>
        <div class="col-md-6 text-md-right">
            <a href="{{ path('app_admin_custom_field_index') }}">{{ 'trans.back to list' | trans }}</a>
            {{ include('admin/custom_field/_delete_form.html.twig') }}
        </div>
    </div>

    {{ include('admin/custom_field/_form.html.twig', {'button_label': 'trans.Update' | trans}) }}
</div>

    {% if custom_field.type == constant('\App\\Entity\\CustomField::TYPE_SELECT') %}
        <div class="container mt-3">
            <div class="row mb-2">
                <div class="col-md-6">
                    <h1>{{ 'trans.Options' | trans }}</h1>
                </div>
                <div class="col-md-6 text-md-right">
                    <button class="btn btn-success saveOrder">{{ 'trans.Save order' | trans }}</button>

                    <a href="{{ path('app_admin_custom_field_add_option', {id: custom_field.id}) }}" class="btn btn-primary">{{ 'trans.Add option' | trans }}</a>
                </div>
            </div>

            <div class="list-group sortable">
                {% for customFieldOption in custom_field.customFieldOptions %}
                    <div class="list-group-item"  data-id="{{ customFieldOption.id }}">
                        <i class="fas fa-arrows-alt sortableHandle"></i>
                        {{ customFieldOption.name }}

                        <a href="{{ path('app_admin_custom_field_edit_option', {'id': customFieldOption.id}) }}" class="btn btn-dark">{{ 'trans.Edit' | trans }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

    <!-- CSRF -->
    <script type="text/javascript">
        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': '{{ csrf_token('adminCustomFieldOptionsSaveSort') }}',
            }
        });
    </script>
    <script>
        $('.sortable').sortable({
            handle: '.sortableHandle'
        });

        $('.saveOrder').click(function () {
            var orderedIdList = $('.sortable').sortable('widget').toArray();

            $.ajax(Routing.generate('app_admin_custom_field_options_save_order', []), {
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({
                        orderedIdList: orderedIdList
                    })
                }
            );
        });
    </script>
{% endblock %}
