<form
        method="post"
        action="{{ path('app_admin_listing_file_remove', {'id': listingFile.id}) }}"
        data-confirm-message="{{ 'trans.Remove file of' | trans }}: {{ listing.title }}?"
        class="d-inline js__confirm"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('csrf_adminRemoveListingFile' ~ listingFile.id) }}">
    <button class="btn btn-danger">{{ 'trans.Remove' | trans }}</button>
</form>
