{% use "bootstrap_4_layout.html.twig" %}

{% block file_simple_widget -%}
    <{{ element|default('div') }} class="file-simple">
    {%- set type = type|default('file') -%}
    {{- block('form_widget_simple') -}}
    </{{ element|default('div') }}>
{% endblock %}

{%- block form_start -%}
    {{ parent() }}

    {% for message in app.flashes(constant('\App\\Service\\FlashBag\\FlashService::SUCCESS_ABOVE_FORM')) %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes(constant('\App\\Service\\FlashBag\\FlashService::ERROR_ABOVE_FORM')) %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{%- endblock form_start -%}
