{% use "bootstrap_4_layout.html.twig" %}

{% block file_simple_widget -%}
    <{{ element|default('div') }} class="file-simple">
    {%- set type = type|default('file') -%}
    {{- block('form_widget_simple') -}}
    </{{ element|default('div') }}>
{% endblock %}

{%- block form_start -%}
    {{ parent() }}

    {% include 'form/_flash_above_form.html.twig' %}
{%- endblock form_start -%}

{% block form_label -%}
    {{ parent() }}
    {% if required and (label is not same as(false)) and (errors|length < 1) -%}
        <span class="badge badge-primary">{{ 'trans.required' | trans }}</span>
    {% endif %}
{%- endblock form_label %}
