{% use "bootstrap_4_layout.html.twig" %}

{% block file_simple_widget -%}
    <{{ element|default('div') }} class="file-simple">
    {%- set type = type|default('file') -%}
    {{- block('form_widget_simple') -}}
    </{{ element|default('div') }}>
{% endblock %}

{%- block form_start -%}
    {{ parent() }}

    {% include 'form/_flash_above_form.html.twig' %}
{%- endblock form_start -%}

{% block form_label -%}
    {{ parent() }}
    {% if required and (label is not same as(false)) and (errors|length < 1) -%}
        <span class="badge badge-primary">{{ 'trans.required' | trans }}</span>
    {% endif %}
{%- endblock form_label %}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('checkbox-custom')) -%}
    {{ parent() }}
{%- endblock checkbox_widget %}

{% block checkbox_radio_label -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('checkbox-custom')) -%}
    {{ parent() }}
{%- endblock checkbox_radio_label %}

