{% extends 'admin/base.html.twig' %}

{% import "admin/_macro/_admin_macro.html.twig" as adminMacro %}

{% block title %}{{ 'trans.Search Engine' | trans }}{% endblock %}

{% block body %}
    <div class="mt-2 container-fluid">
        <div>
            <form method="get" class="mt-2 mt-md-0" role="search">
                <div class="row">

                    <div class="col-md-4 mb-2">
                        <label for="adminActivated">{{ 'trans.Activated by Admin?' | trans }}</label>
                        <select name="adminActivated" class="form-control" id="adminActivated">
                            <option value=""></option>
                            <option {{ optionAttr('adminActivated', 0) }} >{{ 'trans.Not activated' | trans }}</option>
                            <option {{ optionAttr('adminActivated', 1) }} >{{ 'trans.Activated' | trans }}</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-2">
                        <label for="adminRejected">{{ 'trans.Rejected by Admin?' | trans }}</label>
                        <select name="adminRejected" class="form-control" id="adminRejected">
                            <option value=""></option>
                            <option {{ optionAttr('adminRejected', 0) }} >{{ 'trans.No' | trans }}</option>
                            <option {{ optionAttr('adminRejected', 1) }} >{{ 'trans.Yes' | trans }}</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-2">
                        <label for="adminRemoved">{{ 'trans.Removed by Admin?' | trans }}</label>
                        <select name="adminRemoved" class="form-control" id="adminRemoved">
                            <option value=""></option>
                            <option {{ optionAttr('adminRemoved', 0) }} >{{ 'trans.No' | trans }}</option>
                            <option {{ optionAttr('adminRemoved', 1) }} >{{ 'trans.Yes' | trans }}</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-2">
                        <label for="userDeactivated">{{ 'trans.Deactivated by User?' | trans }}</label>
                        <select name="userDeactivated" class="form-control" id="userDeactivated">
                            <option value=""></option>
                            <option {{ optionAttr('userDeactivated', 0) }} >{{ 'trans.No' | trans }}</option>
                            <option {{ optionAttr('userDeactivated', 1) }} >{{ 'trans.Yes' | trans }}</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-2">
                        <label for="userRemoved">{{ 'trans.Removed by User?' | trans }}</label>
                        <select name="userRemoved" class="form-control" id="userRemoved">
                            <option value=""></option>
                            <option {{ optionAttr('userRemoved', 0) }} >{{ 'trans.No' | trans }}</option>
                            <option {{ optionAttr('userRemoved', 1) }} >{{ 'trans.Yes' | trans }}</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-2">
                        <label for="featured">{{ 'trans.Featured listing?' | trans }}</label>
                        <select name="featured" class="form-control" id="featured">
                            <option value=""></option>
                            <option {{ optionAttr('featured', 0) }} >{{ 'trans.No' | trans }}</option>
                            <option {{ optionAttr('featured', 1) }} >{{ 'trans.Yes' | trans }}</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-2">
                        <label for="user">{{ 'trans.User' | trans }}</label>
                        <input
                                type="text"
                                name="user"
                                id="user"
                                placeholder="user*  |  user5@gmail.com  |  user?@gmail.com"
                                class="form-control"
                                value="{{ app.request.get('user') }}"
                        >
                    </div>

                    <div class="col-md-4 mb-2">
                        <label for="category">{{ 'trans.Category' | trans }}</label>
                        <select name="category" class="form-control" id="category">
                            {%- apply normalizeWhitespace -%}
                            {%- for categoryId, categoryName in categories -%}
                                <option {{ optionAttr('category', categoryId) }} value="{{ categoryId }}">{{ categoryName }}</option>
                            {%- endfor -%}
                            {%- endapply  -%}
                        </select>
                    </div>

                    <div class="col-md-4 mb-2">
                        <label for="query">{{ 'trans.Search' | trans }}</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-search"></i></div>
                            </div>
                            <input
                                    type="text"
                                    name="query"
                                    id="query"
                                    value="{{ app.request.get('query') }}"
                                    class="form-control"
                                    placeholder="Merc*   |   Audi A?   |   Clio"
                            />
                        </div>
                    </div>

                    <div class="col-md-4 mb-2">
                        <button type="submit" class="btn btn-primary w-100 h-100">{{ 'trans.Search' | trans }}</button>
                    </div>

                </div>
            </form>
        </div>

        <div class="mt-3">
            <table class="table table-responsive-sm" id="listings">
                <thead>
                <tr>
                    <th></th>
                    <th style="min-width: 20rem;">{{ 'trans.Title' | trans }}</th>
                    <th style="min-width: 8rem;">{{ 'trans.Status' | trans }}</th>
                    <th style="min-width: 8rem;">{{ 'trans.Valid until' | trans }}</th>
                    <th>{{ 'trans.Actions' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {%- for listing in listings -%}
                    <tr>
                        <!-- img -->
                        <td>
                            <div>
                                <a title="{{ listing.title }}" href="{{ path('app_listing_show', {id: listing.id, 'slug': listing.slug}) }}">
                                    <img class="rounded list-small-img" alt="{{ listing.title }}" src="{{ asset(listing.mainImageInListSize | default('static/system/blank.png')) }}">
                                </a>
                            </div>
                        </td>

                        <!-- title -->
                        <td>
                            <div>
                                <a href="{{ path('app_listing_show', {"id": listing.id, 'slug': listing.slug}) }}" class="text-break">
                                    {{- listing.title -}}
                                </a>
                            </div>

                            <div>
                                {%- if listing.featured -%}
                                    <span class="badge badge-pill badge-warning">{{ 'trans.Featured' | trans }}</span>
                                    {{ ' ' }}
                                {%- endif -%}
                                <span class="mr-2 text-break">
                                    {{- listing.category.parent.name -}}
                                    {{ ' ⇾ ' }}
                                    <a href="{{ path('app_category', {'categorySlug': listing.category.slug}) }}">
                                        {{- listing.category.name -}}
                                    </a>
                                </span>
                            </div>

                            <div>
                                <span>
                                    <a href="{{ path('app_admin_listing_search', {'user': listing.user.email}) }}">
                                        {{- 'trans.User listings' | trans -}}
                                    </a>
                                </span>
                                <a
                                        class="btn btn-secondary btn-sm"
                                        data-toggle="collapse"
                                        href="#collapse{{ listing.id }}"
                                        role="button"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                >
                                    {{- 'trans.more information' | trans -}}
                                </a>
                            </div>
                        </td>

                        <!-- status -->
                        <td>
                            <span class="{{ getListingStatusClass(listing) }}">{{ getListingStatus(listing) }}</span>
                        </td>

                        <!-- date -->
                        <td>
                            <div class="{{ listing.validUntilDate | isExpired | displayTextWarning }}">
                                {{- listing.validUntilDate | date -}}
                            </div>
                        </td>

                        <!-- action -->
                        <td>

                            <a href="{{ path('app_admin_listing_edit', {'id': listing.id}) }}" class="btn btn-dark mb-1">
                                {{- 'trans.Edit' | trans -}}
                            </a>

                            {%- if adminShowActivate(listing) -%}
                                {{ include('admin/listing/_action/_admin_activate_form.html.twig') }}
                            {%- endif -%}
                            {{ ' ' }}
                            {%- if adminShowReject(listing) -%}
                                <a
                                        href="{{ path('app_admin_listing_reject', {'id': listing.id}) }}"
                                        target="_blank"
                                        class="btn btn-warning mb-1"
                                >
                                    {{ 'trans.Reject' | trans }}
                                </a>
                            {%- endif -%}
                        </td>
                    </tr>

                    <!-- more info row -->
                    <tr class="collapse" id="collapse{{ listing.id }}" data-parent="#listings">
                        <td colspan="99">
                            <div class="row">
                                {{- adminMacro.listingInfo(listing) -}}
                            </div>
                        </td>
                    </tr>
                {%- else -%}
                    <tr>
                        <td colspan="99">{{ 'trans.no records found' | trans }}</td>
                    </tr>
                {%- endfor -%}
                </tbody>
            </table>

            {%- include 'base/_pagination.html.twig' -%}

            {%- if listings is not empty -%}
                <div>
                    <a href="{{ path('app_admin_listing_execute_on_filtered', app.request.query.all) }}" class="btn btn-danger">
                        {{- 'trans.Execute action on filtered listings' | trans -}}
                    </a>
                </div>
            {%- endif -%}

        </div>
    </div>
{% endblock %}
