{% extends 'admin/base.html.twig' %}

{% import "admin/_macro/_admin_macro.html.twig" as adminMacro %}

{% block title %}{{ 'trans.Activation' | trans }}{% endblock %}

{% block body %}
    <div class="mt-2 container-fluid">
        <table class="table table-responsive-sm" id="listings">
            <thead>
            <tr>
                <th style="min-width: 2rem;" class="d-none-soft listingSelectionHidden">
                    <button class="btn btn-secondary" onclick="selectAll('.listingSelectionCheckbox')">*</button>
                </th>
                <th>
                    <button class="btn btn-secondary btn-sm" onclick="enableSelection(this)">
                        {{ 'trans.Action on selected' | trans }}
                    </button>
                </th>
                <th style="min-width: 20rem;">{{ 'trans.Title' | trans }}</th>
                <th style="min-width: 10rem;">{{ 'trans.Last edit' | trans }}</th>
                <th>{{ 'trans.Actions' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for listing in listings %}
                <tr onclick="toggleCheckbox('#checkbox_{{ listing.id }}')">
                    <td class="d-none-soft listingSelectionHidden">
                        <label class="d-block">
                            <input
                                    type="checkbox"
                                    id="checkbox_{{ listing.id }}"
                                    value="{{ listing.id }}"
                                    class="form-control listingSelectionCheckbox"
                                    onclick="toggleCheckbox('#checkbox_{{ listing.id }}')"
                            />
                        </label>
                    </td>
                    <td>
                        <div>
                            <a title="{{ listing.title }}" href="{{ path('app_listing_show', {id: listing.id, 'slug': listing.slug}) }}">
                                <img class="rounded list-small-img" alt="{{ listing.title }}" src="{{ asset(listing.mainImageInListSize | default('static/system/blank.png')) }}">
                            </a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a href="{{ path('app_listing_show', {"id": listing.id, 'slug': listing.slug}) }}" class="text-break">
                                {{- listing.title -}}
                            </a>
                        </div>

                        <div>
                            {% if listing.featured %}
                                <span class="badge badge-pill badge-warning">{{ 'trans.Featured' | trans }}</span>
                            {% endif %}
                            <span class="mr-2 text-break">
                                {{ listing.category.parent.name }}
                                ⇾
                                <a href="{{ path('app_category', {'categorySlug': listing.category.slug}) }}">
                                    {{- listing.category.name -}}
                                </a>
                            </span>
                        </div>

                        <div>
                            <span>
                                <a href="{{ path('app_admin_listing_search', {'user': listing.user.email}) }}">
                                    {{- 'trans.User listings' | trans -}}
                                </a>
                            </span>
                            <a
                                    class="btn btn-secondary btn-sm"
                                    data-toggle="collapse"
                                    href="#collapse{{ listing.id }}"
                                    role="button"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                            >
                                {{- 'trans.more information' | trans -}}
                            </a>
                        </div>

                        {% if listing.rejectionReason is not empty %}
                            <div>
                                <span class="text-warning-color">
                                    {{ 'trans.Previous rejection' | trans }}: {{ listing.rejectionReason }}
                                </span>
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ listing.lastEditDate | date }}</td>
                    <td>
                        <a href="{{ path('app_admin_listing_edit', {'id': listing.id}) }}" class="btn btn-dark mb-1">
                            {{- 'trans.Edit' | trans -}}
                        </a>

                        {{ include('admin/listing/_action/_admin_activate_form.html.twig') }}

                        <a
                                href="{{ path('app_admin_listing_reject', {'id': listing.id}) }}"
                                target="_blank"
                                class="btn btn-warning mb-1"
                        >
                            {{ 'trans.Reject' | trans }}
                        </a>                    </td>
                </tr>
                <tr class="collapse" id="collapse{{ listing.id }}" data-parent="#listings">
                    <td colspan="99">
                        <div class="row">
                            {{ adminMacro.listingInfo(listing) }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="99">{{ 'trans.no records found' | trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="mb-2 d-none-soft listingSelectionHidden">
            <form action="{{ path('app_admin_listing_activate_action_on_selected') }}" method="post" class="listingSelectionForm">
                <button
                        type="submit"
                        class="btn btn-secondary"
                        onclick="return confirm('{{ 'trans.Activate selected?' | trans }}') && $('.listingSelectionActionHiddenInput').val(this.value)"
                        value="{{ constant('\App\\Controller\\Admin\\ListingActivateController::ACTIVATE_ACTION') }}"
                >
                    {{ 'trans.Activate' | trans }}
                </button>

                <button
                        type="submit"
                        class="btn btn-secondary"
                        onclick="return confirm('{{ 'trans.Reject selected?' | trans }}') && $('.listingSelectionActionHiddenInput').val(this.value)"
                        value="{{ constant('\App\\Controller\\Admin\\ListingActivateController::REJECT_ACTION') }}"
                >
                    {{ 'trans.Reject' | trans }}
                </button>

                <span>{{ 'trans.selected' | trans }}</span>

                <input type="hidden" name="action" value="" class="listingSelectionActionHiddenInput">
                <input type="hidden" name="selected" value="" class="listingSelectionSelectedHiddenInput">
                <input type="hidden" name="_token" value="{{ csrf_token('activationActionForSelected') }}">
            </form>
        </div>

        {% include 'base/_pagination.html.twig' %}

    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('asset/component/admin/listing/listing-activate.js') }}"></script>
{% endblock %}
