{{ form_start(form) }}
    {{ form_widget(form) }}

    <div>
        <h1>{{ 'trans.Categories' | trans }}</h1>

        <div class="mb-2">
            {% for categorySelection in categorySelectionList %}
                {% set category = categorySelection.category %}
                <div class="custom-control custom-checkbox" style="margin-left: {{ (category.lvl-1) * 2 }}rem">
                    <input
                            type="checkbox"
                            id="category_{{ category.id }}"
                            name="selectedCategories[]"
                            value="{{ category.id }}"
                            {% if categorySelection.selected %}checked{% endif %}
                            class="custom-control-input"
                    >
                    <label for="category_{{ category.id }}" class="custom-control-label">
                        {{ category.name }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('trans.Save' | trans) }}</button>
{{ form_end(form) }}
