<form
        method="post"
        action="{{ path('app_admin_custom_field_option_delete', {'id': customFieldOption.id}) }}"
        onsubmit="return confirm('{{ 'trans.Delete custom field option' | trans }}: {{ customFieldOption.name }}?');"
        class="d-inline"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customFieldOption.id) }}">
    <button class="btn btn-danger">{{ 'trans.Delete' | trans }}</button>
</form>
