{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Option for custom field' | trans }}{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row mb-2">
        <div class="col-md-8">
            <h1>{{ 'trans.Option for custom field' | trans }}</h1>
            <h5>{{ 'trans.for custom field' | trans }}: <strong>{{ customFieldOption.customField.name }}</strong></h5>
        </div>
        <div class="col-md-4 text-md-right">
            <a href="{{ path('app_admin_custom_field_edit', {'id': customFieldOption.customField.id}) }}">{{ 'trans.back to list' | trans }}</a>

            {% if customFieldOption.id %}
                {{ include('admin/custom_field/option/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('trans.Save') | trans }}</button>
    {{ form_end(form) }}

</div>
{% endblock %}
