{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Execute action on filtered listings' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>{{ 'trans.Execute action on filtered listings' | trans }}</h1>

        <div class="alert alert-warning">
            <h3 class="text-danger">{{ 'trans.IMPORTANT!' | trans }}</h3>

            <div>{{ 'trans.It is recommended that before running this action, you create restolable backup of database' | trans }}</div>
            <div>{{ 'trans.Also it is recommended to run this action on test environment, that is copy of live service, before running it on live service' | trans }}</div>
            <div>{{ 'trans.There is no way of undoing changes made by this action, except of restoring backup' | trans }}</div>
            <div>{{ 'trans.Make sure you execute action on correctly filtered listings' | trans }}</div>
        </div>

        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-primary mb-4">{{ button_label|default('trans.Save' | trans) }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
