{% if pager.haveToPaginate %}
    <ul class="pagination">
        <li>
            <select
                    class="paginationMaxPerPage form-control d-inline-block"
                    style="width: 5rem"
                    onchange="self.location=this.options[this.selectedIndex].value"
            >
                <option
                        {% if app.request.get('perPage') == 10 %}selected{% endif %}
                        value="{{ path(app.request.get('_route'), app.request.query | merge({'perPage': 10}) | merge({'page': 1})) }}"
                >
                    10
                </option>

                <option
                        {% if app.request.get('perPage') == 50 %}selected{% endif %}
                        value="{{ path(app.request.get('_route'), app.request.query | merge({'perPage': 50}) | merge({'page': 1})) }}"
                >
                    50
                </option>

                <option
                        {% if app.request.get('perPage') == 100 %}selected{% endif %}
                        value="{{ path(app.request.get('_route'), app.request.query | merge({'perPage': 100}) | merge({'page': 1})) }}"
                >
                    100
                </option>
            </select>

            <span class="mx-2">{{ 'trans.per page' | trans }}</span>
        </li>
        <li class="page-item prev {% if not pager.hasPreviousPage %}disabled{% endif %}">
            {% if pager.hasPreviousPage %}
                <a class="page-link" href="{{ path(app.request.get('_route'), app.request.query | merge({'page': pager.previousPage})) }}" rel="prev">← {{ 'trans.Previous' | trans }}</a>
            {% else %}
                <span class="page-link">← {{ 'trans.Previous' | trans }}</span>
            {% endif %}
        </li>
        {% if pager.currentPage == 1 %}
            <li class="page-item active"><span class="page-link">{{ pager.currentPage }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ path(app.request.get('_route'), app.request.query | merge({'page': 1})) }}">1</a></li>
        {% endif %}

        {% if pager.currentPage > 5 and pager.nbPages > 8 %}
            <li class="page-item disabled"><span class="page-link">…</span></li>
        {% endif %}

        {% for page in (max(pager.currentPage-3+(min(pager.nbPages-(pager.currentPage+3), 0)), 2))..(min(pager.currentPage+3-(min(pager.currentPage-4, 0)), pager.nbPages)) %}
            {% if page == pager.currentPage %}
                <li class="page-item active"><span class="page-link">{{ pager.currentPage }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ path(app.request.get('_route'), app.request.query | merge({'page': page})) }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if pager.currentPage < pager.nbPages-4 and pager.nbPages > 8 %}
            <li class="page-item disabled"><span class="page-link">…</span></li>
        {% endif %}

        {% if pager.currentPage < pager.nbPages-3 and pager.nbPages > 7 %}
            <li class="page-item"><a class="page-link" href="{{ path(app.request.get('_route'), app.request.query | merge({'page': pager.nbPages})) }}">{{ pager.nbPages }}</a></li>
        {% endif %}

        <li class="page-item next">
            {% if pager.hasNextPage %}
                <a class="page-link" href="{{ path(app.request.get('_route'), app.request.query | merge({'page': pager.nextPage})) }}" rel="next">{{ 'trans.Next' | trans }} →</a>
            {% else %}
                <span class="page-link">{{ 'trans.Next' | trans }} →</span>
            {% endif %}
        </li>
    </ul>
{% endif %}
