
{# @var settings \App\Service\Setting\SettingsDto #}
{%- set settings = settings() -%}

<div class="card">
    <div class="card-header">{{ 'trans.User Dashboard' | trans }}</div>

    <div class="text-dark">
        <a href="{{ path('app_user_listing_index') }}" class="link-list-item text-dark">
            <i class="fas fa-list-ul"></i>
            <span>{{ 'trans.Listings' | trans }}</span>
        </a>
        <a href="{{ path('app_listing_new') }}" class="link-list-item text-dark">
            <i class="far fa-plus-square"></i>
            <span>{{ 'trans.Create Listing' | trans }}</span>
        </a>
        <a href="{{ path('app_user_change_password') }}" class="link-list-item text-dark">
            <i class="fas fa-lock"></i>
            <span>{{ 'trans.Change Password' | trans }}</span>
        </a>
        <a href="{{ path('app_user_change_email') }}" class="link-list-item text-dark">
            <i class="fas fa-envelope"></i>
            <span>{{ 'trans.Change Email' | trans }}</span>
        </a>
        {% if settings.paymentAllowed %}
            <a href="{{ path('app_user_balance_top_up') }}" class="link-list-item text-dark">
                <i class="fas fa-money-check-alt"></i>
                <span>{{ 'trans.Top up account' | trans }}</span>
            </a>
        {% endif %}
        {% if settings.paymentAllowed %}
            <a href="{{ path('app_user_invoice_list') }}" class="link-list-item text-dark">
                <i class="fas fa-envelope"></i>
                <span>{{ 'trans.Invoices' | trans }}</span>
            </a>
        {% endif %}
        <a href="{{ path('app_logout') }}" class="link-list-item text-dark">
            <i class="fas fa-sign-out-alt"></i>
            <span>{{ 'trans.Logout' | trans }}</span>
        </a>
    </div>
</div>
