{# @var user \App\Entity\User #}

<p>
    <strong>{{ 'trans.Account credentials' | trans }}</strong>:
</p>

<div>
    <strong>{{ 'trans.Login' | trans }}</strong>:
</div>
<pre>{{- user.username -}}</pre>

<div>
    <strong>{{ 'trans.Password' | trans }}</strong>:
</div>
<pre>{{- user.plainPassword -}}</pre>


<p>
    {{ 'trans.Confirm registration by clicking link bellow' | trans }}
</p>

<div>
    <a href="{{ url('app_register_confirm', {'token': token}) }}">{{ 'trans.I confirm registration' | trans }}</a>

    <p>
        {{ 'trans.If the link above does not work, try to copy the link below to your browser' | trans }}:
    </p>

    <pre>{{ url('app_register_confirm', {'token': token}) }}</pre>
</div>
