{# @var settings \App\Service\Setting\SettingsDto #}
<div class="mb-2">
    <a href="{{ path('app_admin_settings') }}" class="btn btn-secondary mb-1">
        {{- 'trans.Settings' | trans -}}
    </a>
    <a href="{{ path('app_admin_settings_system') }}" class="btn btn-secondary mb-1">
        {{- 'trans.System setting' | trans -}}
    </a>
    <a href="{{ path('app_admin_settings_payment_invoice') }}" class="btn btn-secondary mb-1">
        {{- 'trans.Payment / Invoice Settings' | trans -}}
    </a>
    <a href="{{ path('app_admin_settings_login') }}" class="btn btn-secondary mb-1">
        {{- 'trans.Login Settings' | trans -}}
    </a>
    <a href="{{ path('app_admin_settings_customization') }}" class="btn btn-secondary mb-1">
        {{- 'trans.Customization Settings' | trans -}}
    </a>

    <a href="{{ path('app_admin_logo_upload') }}" class="btn btn-secondary mb-1">
        {{- 'trans.Webpage Logo' | trans -}}
    </a>

    {%- if not settings.licenseValid ~%}
        <a href="{{ path('app_admin_settings_license') }}" class="btn btn-secondary mb-1">
            {{- 'trans.License' | trans -}}
        </a>
    {%- endif ~%}
</div>

{%- if not settings.licenseValid ~%}
    <div class="alert alert-danger">
        {{ 'trans.License for 2MAX.io PHP Classified Ads is not valid' | trans }}.
        {{ 'trans.If you have valid license you can' | trans }}
        {{- ' ' -}}
        <a href="{{ path('app_admin_settings_license') }}">{{ 'trans.enter valid license it here' | trans }}</a>
    </div>
{%- endif ~%}
