<div class="mb-2">
    <a href="{{ path('app_admin_settings') }}" class="btn btn-secondary mb-1">
        {{- 'trans.Settings' | trans -}}
    </a>
    <a href="{{ path('app_admin_settings_system') }}" class="btn btn-secondary mb-1">
        {{- 'trans.System setting' | trans -}}
    </a>
    <a href="{{ path('app_admin_settings_payment_invoice') }}" class="btn btn-secondary mb-1">
        {{- 'trans.Payment / Invoice Settings' | trans -}}
    </a>
    <a href="{{ path('app_admin_settings_login') }}" class="btn btn-secondary mb-1">
        {{- 'trans.Login Settings' | trans -}}
    </a>
    <a href="{{ path('app_admin_settings_customization') }}" class="btn btn-secondary mb-1">
        {{- 'trans.Customization Settings' | trans -}}
    </a>

    <a href="{{ path('app_admin_logo_upload') }}" class="btn btn-secondary mb-1">
        {{- 'trans.Webpage Logo' | trans -}}
    </a>
</div>
