{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Upgrade' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ 'trans.Upgrade' | trans }}</h1>

        {% if toUpgrade %}
            <div class="alert alert-info">{{ 'trans.New version available, you can upgrade now' | trans }}</div>
        {% endif %}

        <table class="table table-responsive-sm">
            <tr>
                <td>{{ 'trans.Newest version' | trans }}</td>
                <td>{{ version.version }}</td>
                <td>{{ version.date }}</td>
            </tr>
            <tr>
                <td>{{ 'trans.Current version' | trans }}</td>
                <td>{{ currentVersion.version }}</td>
                <td>{{ currentVersion.date }}</td>
            </tr>
        </table>

        {% if toUpgrade %}
            <div class="alert alert-warning">{{ 'trans.It is recommended to create a backup before this operation' | trans }}</div>

            <a
                    href="{{ path('app_admin_upgrade_execute') }}"
                    class="btn btn-primary"
                    onclick="return confirm('{{ 'trans.Perform upgrade?' | trans }} {{ 'trans.It is recommended to create a backup before this operation' | trans }}')"
            >{{ 'trans.Execute upgrade' | trans }}</a>
        {% endif %}
    </div>
{% endblock %}
