{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Upgrade' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ 'trans.Upgrade' | trans }}</h1>

        {% if canUpgrade %}
            <div class="alert alert-info">{{ 'trans.New version available, you can upgrade now' | trans }}</div>
        {% endif %}

        {% if latestVersion is empty %}
            <div class="alert alert-danger">{{ 'trans.Failed to get latest version. Try again later.' | trans }}</div>
        {% endif %}

        <table class="table table-responsive-sm">
            {% if latestVersion is not empty %}
            <tr>
                <td>{{ 'trans.Latest version' | trans }}</td>
                <td>{{ latestVersion.version }}</td>
                <td>{{ latestVersion.date }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>{{ 'trans.Installed version' | trans }}</td>
                <td>{{ installedVersion.version }}</td>
                <td>{{ installedVersion.date }}</td>
            </tr>
        </table>

        {% if canUpgrade %}
            <div class="alert alert-warning">{{ 'trans.It is recommended to create a backup before this operation' | trans }}</div>

            <a
                    href="{{ path('app_admin_upgrade_execute') }}"
                    class="btn btn-primary"
                    onclick="return confirm('{{ 'trans.Perform upgrade?' | trans }} {{ 'trans.It is recommended to create a backup before this operation' | trans }}')"
            >{{ 'trans.Execute upgrade' | trans }}</a>
        {% endif %}
    </div>
{% endblock %}
