{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Settings' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        {% include 'admin/settings/_partial/_settings_menu.html.twig' %}

        <h1>{{ 'trans.Settings' | trans }}</h1>

        {{ form_start(form) }}

        <h2>{{ 'trans.Listings' | trans }}</h2>
        {{ form_row(form.requireListingAdminActivation) }}

        <h2>{{ 'trans.Pagination' | trans }}</h2>
        {{ form_row(form.itemsPerPage) }}

        <h2>{{ 'trans.Allowed characters' | trans }}</h2>
        {{ form_row(form.allowedCharactersEnabled) }}
        {{ form_row(form.allowedCharacters) }}
        {{ form_row(form.wordsToRemoveFromTitle) }}

        <h2>{{ 'trans.Map' | trans }}</h2>
        {{ form_row(form.mapEnabled) }}
        {{ form_row(form.mapDefaultLatitude) }}
        {{ form_row(form.mapDefaultLongitude) }}
        {{ form_row(form.mapDefaultZoom) }}
        {{ form_row(form.mapDefaultZoomSingleListing) }}

        <h2>{{ 'trans.Other' | trans }}</h2>
        {{ form_row(form.messageSystemEnabled) }}
        {{ form_row(form.defaultAdvertisementZoneId) }}

        {{ form_rest(form) }}

        <button class="btn btn-primary">{{ button_label | default('trans.Save' | trans) }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
