{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Settings' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>{{ 'trans.Page settings' | trans }}</h1>

        <div class="mb-2">
            <a href="{{ path('app_admin_logo_upload') }}" class="btn btn-secondary">{{ 'trans.Upload logo' | trans }}</a>
            <a href="{{ path('app_admin_settings_payment_invoice') }}" class="btn btn-secondary">{{ 'trans.Payment / Invoice Settings' | trans }}</a>
        </div>

        {{ form_start(form) }}

        <h2>{{ 'trans.Listings' | trans }}</h2>
        {{ form_row(form.requireListingAdminActivation) }}
        {{ form_row(form.wordsToRemoveFromTitle) }}
        {{ form_row(form.allowedCharactersEnabled) }}
        {{ form_row(form.allowedCharacters) }}

        <h2>{{ 'trans.Pagination' | trans }}</h2>
        {{ form_row(form.itemsPerPageMax) }}

        <h2>{{ 'trans.Customization' | trans }}</h2>
        {{ form_row(form.customCss) }}
        {{ form_row(form.customJavascriptInHead) }}
        {{ form_row(form.customJavascriptBottom) }}

        <h2>{{ 'trans.Subpages' | trans }}</h2>
        {{ form_row(form.linkTermsConditions) }}
        {{ form_row(form.linkPrivacyPolicy) }}
        {{ form_row(form.linkRejectionReason) }}
        {{ form_row(form.linkContact) }}
        {{ form_row(form.linkAdvertisement) }}

        <h2>{{ 'trans.SEO and Metadata Settings' | trans }}</h2>
        {{ form_row(form.indexPageTitle) }}
        {{ form_row(form.pageTitleSuffix) }}
        {{ form_row(form.footerSiteCopyright) }}
        {{ form_row(form.metaDescription) }}
        {{ form_row(form.metaKeywords) }}
        {{ form_row(form.rssTitle) }}
        {{ form_row(form.rssDescription) }}

        <h2>{{ 'trans.Link to master site' | trans }}</h2>
        {{ form_row(form.masterSiteLinkShow) }}
        {{ form_row(form.masterSiteUrl) }}
        {{ form_row(form.masterSiteAnchorText) }}

        <h2>{{ 'trans.Email' | trans }}</h2>
        {{ form_row(form.emailFromAddress) }}
        {{ form_row(form.emailFromName) }}
        {{ form_row(form.emailReplyTo) }}

        <h2>{{ 'trans.Localization' | trans }}</h2>
        {{ form_row(form.languageTwoLetters) }}
        {{ form_row(form.currency) }}

        <h2>{{ 'trans.Social login' | trans }}</h2>
        <h4>{{ 'trans.Google' | trans }}</h4>
        {{ form_row(form.googleSignInEnabled) }}
        {{ form_row(form.googleSignInClientId) }}
        {{ form_row(form.googleSignInClientSecret) }}

        <h4>{{ 'trans.Facebook' | trans }}</h4>
        {{ form_row(form.facebookSignInEnabled) }}
        {{ form_row(form.facebookSignInAppId) }}
        {{ form_row(form.facebookSignInAppSecret) }}

        <h2>{{ 'trans.Other' | trans }}</h2>
        {{ form_rest(form) }}

        <button class="btn btn-primary">{{ button_label|default('trans.Save' | trans) }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
