<form
        method="post"
        action="{{ path('app_admin_upgrade_run') }}"
        data-confirm-message="{{ 'trans.Perform upgrade?' | trans }} {{ 'trans.It is recommended to create a backup before this operation' | trans }}"
        class="d-inline js__confirm"
>
    <input type="hidden" name="_token" value="{{ csrf_token('csrf_adminExecuteUpgrade') }}">
    <button class="btn btn-primary">{{ 'trans.Execute upgrade' | trans }}</button>
</form>
