{% macro listingInfo(listing) %}
    {# @var settings \App\Service\Setting\SettingsDto #}
    {%- set settings = settings() -%}
    {# @var listing \App\Entity\Listing #}

    <div class="col-md-4">
        {% if listing.adminLastActivationDate %}
            {{ 'trans.Admin last activation' | trans }}:{{ ' ' }}{{- listing.adminLastActivationDate | date -}}
        {% else %}
            <span class="{% if settings.requireListingAdminActivation %}text-warning-color{% endif %}">
                {{ 'trans.Admin last activation' | trans }}:{{ ' ' }}{{- 'trans.none' | trans -}}
            </span>
        {% endif %}
    </div>
    <div class="col-md-4">
        {{ 'trans.Featured until' | trans }}:
        {% if listing.featured and listing.featuredUntilDate %}
            <span class="{{ listing.featuredUntilDate | isExpired | displayTextWarning }}">
                {{ listing.featuredUntilDate | date }}
            </span>
        {% else %}
            {{ 'trans.none' | trans }}
        {% endif %}
    </div>
    <div class="col-md-4">
        {{ 'trans.Last edit' | trans }}: {{ listing.lastEditDate | date }}
    </div>
    <div class="col-md-4">
        {{ 'trans.Creation date' | trans }}: {{ listing.firstCreatedDate | date }}
    </div>
    <div class="col-md-4 {{ listing.validUntilDate | isExpired | displayTextWarning }}">
        {{ 'trans.Valid until' | trans }}: {{ listing.validUntilDate | date }}
    </div>
    <div class="col-md-4 ">
        {{ 'trans.Last raising' | trans }}: {{ listing.orderByDate | date }}
    </div>
    <div class="col-md-4 {{ (not listing.adminActivated) | displayTextWarning }}">
        {{ 'trans.Activated by Admin?' | trans }} {{ listing.adminActivated | boolText | trans }}
    </div>
    <div class="col-md-4 {{ listing.adminRemoved | displayTextWarning }}">
        {{ 'trans.Removed by Admin?' | trans }} {{ listing.adminRemoved | boolText | trans }}
    </div>
    <div class="col-md-4 {{ listing.userRemoved | displayTextWarning }}">
        {{ 'trans.Removed by User?' | trans }} {{ listing.userRemoved | boolText | trans }}
    </div>
    <div class="col-md-4 {{ listing.userDeactivated | displayTextWarning }}">
        {{ 'trans.Deactivated by User?' | trans }} {{ listing.userDeactivated | boolText | trans }}
    </div>
    <div class="col-md-4 {{ listing.adminRejected | displayTextWarning }}">
        {{ 'trans.Rejected by Admin?' | trans }} {{ listing.adminRejected | boolText | trans }}
    </div>
    <div class="col-md-4 {{ (listing.rejectionReason is not empty) | displayTextWarning }}">
        {{ 'trans.Previous rejection' | trans }}: {{ listing.rejectionReason | defaultTrans('trans.none') }}
    </div>
{% endmacro %}
