<!doctype html>
<html lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ 'trans.Invoice' | trans }}: {{ invoice.invoiceNumber }}</title>
    {# @var settings \App\Service\Setting\SettingsDto #}
    {%- set settings = settings() -%}

    <style>
        *{ font-family: "DejaVu Sans Mono", monospace; font-size: 12px;}

        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td{
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        .footer {
            font-size: 50%;
            color: gray;
        }

        .logo {
            font-size: 10px;
            width: 150px;
        }

        table {
            padding: 0;
            border-spacing: 0;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
<div class="invoice-box">
    <table>
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            {{ 'trans.Invoice number' | trans }}: <strong>{{ invoice.invoiceNumber }}</strong><br>
                            {{ 'trans.Invoice date' | trans }}: {{ invoice.invoiceDate | date(dateFormatYmd) }}<br>
                        </td>
                        <td class="title">
                            <img class="logo" src="data:image/png;base64,{{ logoImageBase64 }}" alt="{{ app.request.host }}">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            <div>{{ 'trans.Seller' | trans }}:</div>
                            <div>{{ invoice.sellerCompanyName }}</div>
                            <div>{{ 'trans.Tax ID' | trans }}: {{ invoice.sellerTaxNumber }}</div>
                            <div>{{ invoice.sellerStreet }} {{ invoice.sellerBuildingNumber }} / {{ invoice.sellerUnitNumber }}</div>
                            <div>{{ invoice.sellerZipCode }} {{ invoice.sellerCity }}</div>
                            <div>{{ 'trans.Email' | trans }}: {{ invoice.sellerEmail }}</div>
                        </td>

                        <td>
                            <div>{{ 'trans.Invoiced to' | trans }}:</div>
                            {%- if invoice.individualClientName ~%}
                                <div>{{ invoice.individualClientName }}</div>
                            {%- endif ~%}
                            {%- if invoice.companyName ~%}
                                <div>{{ invoice.companyName }}</div>
                            {%- endif ~%}
                            {%- if invoice.clientTaxNumber ~%}
                                <div>{{ 'trans.Tax ID' | trans }}: {{ invoice.clientTaxNumber }}</div>
                            {%- endif ~%}
                            {%- if invoice.street and invoice.buildingNumber and invoice.unitNumber ~%}
                                <div>{{ invoice.street }}, {{ invoice.buildingNumber }} / {{ invoice.unitNumber }}</div>
                            {%- elseif invoice.street and invoice.buildingNumber ~%}
                                <div>{{ invoice.street }}, {{ invoice.buildingNumber }}</div>
                            {%- elseif invoice.buildingNumber ~%}
                                <div>{{ invoice.buildingNumber }}</div>
                            {%- endif ~%}
                            {%- if invoice.zipCode and invoice.city ~%}
                                <div>{{ invoice.zipCode }}, {{ invoice.city }}</div>
                            {%- elseif invoice.zipCode ~%}
                                <div>{{ invoice.zipCode }}</div>
                            {%- elseif invoice.city ~%}
                                {{ invoice.city }}
                            {%- endif ~%}
                            <div>{{ 'trans.Email' | trans }}: {{ invoice.emailForInvoice }}</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>
                {{ 'trans.Description' | trans }}
            </td>
            <td>
                {{ 'trans.Price' | trans }}
            </td>
        </tr>

        <tr class="item">
            <td>
                {{ settings.invoiceSoldItemDescription }}
            </td>
            <td>
                {{ invoice.totalMoney}} {{ invoice.currency }}
            </td>
        </tr>

        <tr class="total">
            <td></td>
            <td>
                {{ 'trans.Total' | trans }}: {{ invoice.totalMoney}} {{ invoice.currency }}
            </td>
        </tr>
    </table>

    <div class="footer">
        <div>
            Invoice Number: {{ invoice.invoiceNumber }},
            Internal ID: {{ invoice.id }},
            {% if invoice.payment %}
                <div>
                    Internal Payment ID: {{ invoice.payment.id }},
                    Payment Gateway ID: {{ invoice.payment.gatewayPaymentId }},
                </div>
            {% endif %}
        </div>
        <div>
            {{ invoice.sellerCompanyName }},
            {{ 'trans.Tax ID' | trans }}: {{ invoice.sellerTaxNumber }},
            {{ invoice.sellerStreet }} {{ invoice.sellerBuildingNumber }} / {{ invoice.sellerUnitNumber }},
            {{ invoice.sellerZipCode }} {{ invoice.sellerCity }}
        </div>
    </div>
</div>
</body>
</html>
