<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    {# @var settings \App\Service\Setting\SettingsDto #}
    {% set settings = settings() %}
    <meta charset="utf-8">
    <title>{% block title %}{{ 'trans.Admin' | trans }} - {{ 'trans.Classifieds' | trans }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="msapplication-TileColor" content="#DD080C">
    <meta name="theme-color" content="#DD080C">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('asset/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/style.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/admin.css') }}">
    {% endblock %}
</head>
<body>

<div class="container-fluid d-lg-none">
    <div class="container container-remove-padding">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ path('app_admin_index') }}" title="{{ settings.indexPageTitle }}">
                <img src="{{ asset('static/system/logo.png') }}" alt="{{ settings.indexPageTitle }}" width="200">
            </a>

            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#adminSidebar"
                    aria-expanded="false"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        {% if app.user %}
            <nav class="col-lg-3 col-xl-2 d-none-soft d-lg-block bg-light sidebar" id="adminSidebar">
                <div class="sidebar-sticky">

                    <div id="logo" class="sm-text-center mb-3 d-none d-lg-block">
                        <a
                                href="{{ path('app_admin_index') }}"
                                title="{{ 'trans.Classifieds'|trans }}"
                                class="d-block"
                                style="max-width: 215px;"
                        >
                            <img src="{{ asset('static/system/logo.png') }}" alt="{{ 'trans.Classifieds' | trans }}">
                        </a>
                    </div>

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_index') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                {{ 'trans.Admin Dashboard' | trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_listing_activate_list') }}">
                                <svg class="feather" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" focusable="false" width="0.88em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 448 512"><path d="M400 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm0 400H48V80h352v352zm-35.864-241.724L191.547 361.48c-4.705 4.667-12.303 4.637-16.97-.068l-90.781-91.516c-4.667-4.705-4.637-12.303.069-16.971l22.719-22.536c4.705-4.667 12.303-4.637 16.97.069l59.792 60.277 141.352-140.216c4.705-4.667 12.303-4.637 16.97.068l22.536 22.718c4.667 4.706 4.637 12.304-.068 16.971z" fill="currentColor"/></svg>
                                {{ 'trans.Activate' | trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_listing_search') }}">
                                <svg class="feather" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z" fill="currentColor"/></svg>
                                {{ 'trans.Search listings' | trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_user_index') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                {{ 'trans.Users' | trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_page_index') }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                                {{ 'trans.Subpages' | trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_category') }}">
                                <svg class="feather" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="0.77em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 551 717"><path d="M83 0L28 56h496L469 0H83zm468 276H0V83h551v193zm-165-55v-55H166v55h27v-28h165v28h28zm165 276H0V304h551v193zm-165-55v-56H166v56h27v-28h165v28h28zm165 275H0V525h551v192zm-165-55v-55H166v55h27v-28h165v28h28z" fill="currentColor"/></svg>
                                {{ 'trans.Categories' | trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_custom_field_index') }}">
                                <svg class="feather" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zM6 6h5v5H6V6zm4.5 13a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5zm3-6l3-5 3 5h-6z" fill="currentColor"/></svg>
                                {{ 'trans.Custom fields' | trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_featured_package_index') }}">
                                <svg class="feather"  stroke="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M16 2l4 10h10l-8 7 3 11-9-7-9 7 3-11-8-7h10z"/></g></svg>                                {{ 'trans.Featured packages' | trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_settings') }}">
                                <svg class="feather" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M13 2v4l-2 1-3-3-4 4 3 3-1 2H2v6h4l1 2-3 3 4 4 3-3 2 1v4h6v-4l2-1 3 3 4-4-3-3 1-2h4v-6h-4l-1-2 3-3-4-4-3 3-2-1V2z"/><circle cx="16" cy="16" r="4"/></g></svg>
                                {{ 'trans.Settings' | trans }}
                            </a>
                        </li>
                    </ul>

                    <!-- external links -->
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>{{ 'trans.External links' | trans }}</span>
                        {#                    <a class="d-flex align-items-center text-muted" href="#">#}
                        {#                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>#}
                        {#                    </a>#}
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="btn btn-secondary w-100" href="{{ path('app_index') }}">
                                {{ 'trans.Public classifieds' | trans }}
                            </a>
                        </li>
                        {% if settings.masterSiteLinkShow %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ settings.masterSiteUrl }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                    {{ settings.masterSiteAnchorText }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="sidebar-bottom">
                        <a href="{{ path('app_logout') }}" class="btn btn-dark w-100">
                            {{ 'trans.Logout' | trans }}
                        </a>
                    </div>
                </div>
            </nav>
        {% endif %}

        <main role="main" class="col-lg-9 col-xl-10 px-2">

            {% block body %}{% endblock body %}

            <!-- footer -->
            <footer class="pt-2 mt-1 mt-md-2 mb-2 pt-md-4 border-top">
                <small class="d-block mb-3 text-muted">© 2006-{{ "now" | date('Y') }}</small>
            </footer>

        </main>
    </div>
</div>

<!-- css -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i">

{% block javascripts %}
    <script src="{{ asset('asset/jquery.js') }}"></script>
    <script src="{{ asset('asset/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ path('bazinga_jstranslation_js') }}"></script>
    <script src="{{ asset('asset/lib/sortable_js/Sortable.min.js') }}"></script>
    <script src="{{ asset('asset/lib/sortable_js/jquery-sortable.js') }}"></script>
{% endblock %}
{% block js %}{% endblock %}

</body>
</html>
