<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="pl"> <![endif]-->
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ 'trans.Admin' | trans }} - {{ 'trans.Classifieds' | trans }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/favicon/favicon-144.png">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('asset/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/style.css') }}">
    {% endblock %}
</head>
<body class="tpl-listing">
<!-- Top Header -->
<div class="container-fluid container-header">
    <div class="container p-3">
        <div class="row vmargin">
            <div id="website_logo" class="col-lg-3 tpad sm-text-center">
                <a href="{{ path('app_index') }}" title={{ 'trans.Classifieds'|trans }}>
                    <img src="{{ asset('asset/img/logo.png') }}" alt="Classifieds Plus" width="240">
                </a>
            </div>

            <div class="col-md-4">
                <label class="sr-only" for="keyword">Keyword</label>
                <div class="input-group mb-2 mr-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                    </div>

                    <form method="get" action="{{ path('app_listing_list') }}">
                        <input type="text" class="form-control" name="query" placeholder="{{ 'trans.keyword'|trans }}" value="{{ app.request.get('query') | default }}">
                    </form>
                </div>
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block mb-2">{{ 'trans.Search' | trans }}</button>
            </div>

            <div id="header-controls" class="col-lg-3 text-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        {% if app.user %}
                            <a href="{{ path('app_logout') }}">{{ 'trans.Logout' | trans }}</a>
                        {% else %}
                            <a href="{{ path('app_login') }}">{{ 'trans.Sign in' | trans }}</a>
                        {% endif %}
                    </li>

                    <li class="list-inline-item">
                        <a href="{{ path('app_listing_new') }}" class="btn btn-primary">{{ 'trans.Get Listed Today' | trans }} <i class="fas fa-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav justify-content-around w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_admin_index') }}">{{ 'trans.Admin panel' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_listing_confirm_list') }}">{{ 'trans.Activate' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_listing_search') }}">{{ 'trans.Search' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_index') }}">{{ 'trans.Public classifieds' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="//www.jaslo4u.pl">Jaslo4u.pl</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock body %}

<!-- footer -->
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">© 2006-{{ "now" | date('Y') }}</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Extremely Fast</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Credits</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Pexels</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<!-- css -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i">

{% block javascripts %}
    <script src="{{ asset('asset/jquery.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
{% block js %}{% endblock %}

</body>
</html>
