{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Admin panel' | trans }}{% endblock %}

{% block body %}
<div class="mt-3 mb-2">
    <h1>{{ 'trans.Admin Dashboard' | trans }}</h1>

    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ 'trans.Pending for activation' | trans }}</span>
            <div class="count">
                {{ adminStats.toActivateCount | thousandsSeparate }}
                <a href="{{ path('app_admin_listing_activate_list') }}" class="btn btn-primary">
                    {{ 'trans.Activate' | trans }}
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ 'trans.Added last 12' | trans }}</span>
            <div class="count">{{ adminStats.addedLastHours(12) | thousandsSeparate }}</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ 'trans.Added last 24' | trans }}</span>
            <div class="count">{{ adminStats.addedLastHours(24) | thousandsSeparate }}</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ 'trans.Added last 7 days' | trans }}</span>
            <div class="count">{{ adminStats.addedLastHours(24*7) | thousandsSeparate }}</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ 'trans.Added last 30 days' | trans }}</span>
            <div class="count">{{ adminStats.addedLastHours(24*30) | thousandsSeparate }}</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ 'trans.Added last year' | trans }}</span>
            <div class="count">{{ adminStats.addedLastHours(24*365) | thousandsSeparate }}</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ 'trans.Active listings count' | trans }}</span>
            <div class="count">{{ adminStats.activeListingsCount | thousandsSeparate }}</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ 'trans.All listings count' | trans }}</span>
            <div class="count">{{ adminStats.allListingsCount | thousandsSeparate }}</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ 'trans.Users count' | trans }}</span>
            <div class="count">{{ adminStats.userCount | thousandsSeparate }}</div>
        </div>
        <div class="col-md-4 col-sm-8 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ 'trans.Listings views' | trans }}</span>
            <div class="count">{{ adminStats.listingViewsCount | thousandsSeparate }}</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> {{ 'trans.Featured listings' | trans }}</span>
            <div class="count">{{ adminStats.featuredListingsCount | thousandsSeparate }}</div>
        </div>
    </div>
</div>

    <div class="mb-2">
        {% for problem in healthCheckService.problems  %}
            <div class="alert alert-danger">{{ problem }}</div>
        {% endfor %}
    </div>
{% endblock %}
