{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Categories' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row mb-2">
            <div class="col-md-6">
                <h1>{{ 'trans.Categories' | trans }}</h1>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="{{ path('app_admin_category_new') }}" class="btn btn-primary">{{ 'trans.Add category' | trans }}</a>
            </div>
        </div>

        <button class="btn btn-primary w-100 mb-2 saveOrder">{{ 'trans.Save order of categories' | trans }}</button>

        <div class="list-group col nested-sortable mb-2" data-sortable-group="root">
            {# @var category1 \App\Entity\Category #}
            {% for category1 in categoryList %}
                <div class="list-group-item nested-1" data-id="{{ category1.id }}">
                    <div>
                        <div class="d-inline-block mb-3">{{ category1.name }}</div>
                        <a href="{{ path('app_admin_category_edit', {'id': category1.id}) }}" class="btn btn-dark">{{ 'trans.Edit' | trans }}</a>
                        <a href="{{ path('app_admin_category_new', {'parentCategory': category1.id}) }}" class="btn btn-success">{{ 'trans.Add subcategory' | trans }}</a>
                    </div>

                    <div class="list-group nested-sortable"  data-sortable-group="parent_{{ category1.id }}">
                    {% for category2 in category1.children  %}
                        <div class="list-group-item nested-2" data-id="{{ category2.id }}">
                            {{ category2.name }}
                            <a href="{{ path('app_admin_category_edit', {'id': category2.id}) }}" class="btn btn-dark">{{ 'trans.Edit' | trans }}</a>
                            <a href="{{ path('app_admin_category_new', {'parentCategory': category2.id}) }}" class="btn btn-success">{{ 'trans.Add subcategory' | trans }}</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <button class="btn btn-primary w-100 mb-2 saveOrder">{{ 'trans.Save order of categories' | trans }}</button>
    </div>

{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

    <!-- CSRF -->
    <script type="text/javascript">
        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': '{{ csrf_token('adminCategorySaveSort') }}',
            }
        });
    </script>
    <script>
        $('.nested-sortable').each(function (i, el) {
            $(el).sortable({
                group: $(el).data('sortable-group'),
            });
        });

        $('.saveOrder').click(function () {
            var orderedIdList = [];
            $('.nested-sortable').each(function (i, el) {
                console.log($(el).sortable('widget').toArray());
                orderedIdList = orderedIdList.concat($(el).sortable('widget').toArray());
            });

            $.ajax(Routing.generate('app_admin_category_save_order', []), {
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({
                        orderedIdList: orderedIdList
                    })
                }
            );
        });
    </script>
{% endblock %}
