{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Categories' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row mb-2">
            <div class="col-md-6">
                <h1>{{ 'trans.Categories' | trans }}</h1>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="{{ path('app_admin_category_new') }}" class="btn btn-primary">{{ 'trans.Add category' | trans }}</a>
            </div>
        </div>

        <div class="list-group col nested-sortable mb-2">
            {# @var category1 \App\Entity\Category #}
            {% for category1 in categoryList %}
                <div class="list-group-item nested-1">
                    <div>
                        <div class="d-inline-block mb-3">{{ category1.name }}</div>
                        <a href="{{ path('app_admin_category_edit', {'id': category1.id}) }}" class="btn btn-primary">{{ 'trans.Edit' | trans }}</a>
                        <a href="{{ path('app_admin_category_new', {'parentCategory': category1.id}) }}" class="btn btn-success">{{ 'trans.Add subcategory' | trans }}</a>
                    </div>

                    <div class="list-group nested-sortable">
                    {% for category2 in category1.children  %}
                        <div class="list-group-item nested-2">
                            {{ category2.name }}
                            <a href="{{ path('app_admin_category_edit', {'id': category2.id}) }}" class="btn btn-primary">{{ 'trans.Edit' | trans }}</a>
                            <a href="{{ path('app_admin_category_new', {'parentCategory': category2.id}) }}" class="btn btn-success">{{ 'trans.Add subcategory' | trans }}</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>




        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id="nestedDemo" class="list-group col nested-sortable">
            <div class="list-group-item nested-1">Item 1.1
                <div class="list-group nested-sortable">
                    <div class="list-group-item nested-2">Item 2.1</div>
                    <div class="list-group-item nested-2">Item 2.2
                        <div class="list-group nested-sortable">
                            <div class="list-group-item nested-3">Item 3.1</div>
                            <div class="list-group-item nested-3">Item 3.2</div>
                            <div class="list-group-item nested-3">Item 3.3</div>
                            <div class="list-group-item nested-3">Item 3.4</div>
                        </div>
                    </div>
                    <div class="list-group-item nested-2">Item 2.3</div>
                    <div class="list-group-item nested-2">Item 2.4</div>
                </div>
            </div>
            <div class="list-group-item nested-1">Item 1.2</div>
            <div class="list-group-item nested-1">Item 1.3</div>
            <div class="list-group-item nested-1">Item 1.4
                <div class="list-group nested-sortable">
                    <div class="list-group-item nested-2">Item 2.1</div>
                    <div class="list-group-item nested-2">Item 2.2</div>
                    <div class="list-group-item nested-2">Item 2.3</div>
                    <div class="list-group-item nested-2">Item 2.4</div>
                </div>
            </div>
            <div class="list-group-item nested-1">Item 1.5</div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>

    <script>

        $('.nested-sortable').each(function (i, el) {
            $(el).sortable({
                group: 'nested',
            });
        });

        var nestedSortables = [].slice.call(document.querySelectorAll('.nested-sortable'));

        // for (var i = 0; i < nestedSortables.length; i++) {
        //     new Sortable(nestedSortables[i], {
        //         group: 'nested',
        //         animation: 150,
        //         fallbackOnBody: true,
        //         swapThreshold: 0.65
        //     });
        // }
    </script>
{% endblock %}
