{% extends 'admin/base.html.twig' %}
{% import _self as macros %}

{% block title %}{{ 'trans.Categories' | trans }}{% endblock %}

{% macro categoryLevel(parentCategory) %}
    {% import _self as macros %}
    {# @var parentCategory \App\Entity\Category #}
    <div class="list-group-item nested-1" data-id="{{ parentCategory.id }}">
        <div>
            <i class="fas fa-arrows-alt sortableHandle"></i>
            <div class="d-inline-block mb-3">{{ parentCategory.name }}</div>
            <div class="ml-md-5 d-md-inline-block">
                <a
                        href="{{ path('app_admin_category_edit', {'id': parentCategory.id}) }}"
                        class="btn btn-dark mb-1"
                >{{ 'trans.Edit' | trans }}</a>
                <a
                        href="{{ path('app_admin_category_new', {'parentCategory': parentCategory.id}) }}"
                        class="btn btn-success mb-1"
                >{{ 'trans.Add subcategory' | trans }}</a>
            </div>
        </div>

        {% for category in parentCategory.children  %}
            <div class="list-group nested-sortable"  data-sortable-group="parent_{{ parentCategory.id }}">
                    {{ macros.categoryLevel(category) }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% block body %}
    <div class="container mt-3">
        <div class="row mb-2">
            <div class="col-md-6">
                <h1>{{ 'trans.Categories' | trans }}</h1>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="{{ path('app_admin_category_new') }}" class="btn btn-primary">{{ 'trans.Add category' | trans }}</a>
            </div>
        </div>

        <button class="btn btn-primary w-100 mb-2 saveOrder">{{ 'trans.Save order of categories' | trans }}</button>

        <div class="list-group col nested-sortable mb-2" data-sortable-group="root">
            {# @var category1 \App\Entity\Category #}
            {% for category in categoryList %}
                {{ macros.categoryLevel(category) }}
            {% endfor %}
        </div>

        <button class="btn btn-primary w-100 mb-2 saveOrder">{{ 'trans.Save order of categories' | trans }}</button>
    </div>

{% endblock %}

{% block js %}
    <!-- CSRF -->
    <script type="text/javascript">
        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': '{{ csrf_token('adminCategorySaveSort') }}',
            }
        });
    </script>
    <script>
        $('.nested-sortable').each(function (i, el) {
            $(el).sortable({
                group: $(el).data('sortable-group'),
                handle: '.sortableHandle'
            });
        });

        $('.saveOrder').click(function () {
            var orderedIdList = [];
            $('.nested-sortable').each(function (i, el) {
                console.log($(el).sortable('widget').toArray());
                orderedIdList = orderedIdList.concat($(el).sortable('widget').toArray());
            });

            $.ajax(Routing.generate('app_admin_category_save_order', []), {
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({
                        orderedIdList: orderedIdList
                    })
                }
            );
        });
    </script>
{% endblock %}
