{% extends 'base.html.twig' %}

{# @var settings \App\Service\Setting\SettingsDto #}
{% set settings = settings() %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <div class="container mt-3 mb-3 text-break">
        {% if settings.masterSiteLinkShow %}
            <a href="{{ settings.masterSiteUrl }}">{{ settings.masterSiteAnchorText }}</a>
            {{- ' > ' -}}
        {% endif %}

        <a href="{{ path('app_index') }}">{{ 'trans.Classifieds' | trans }}</a>

        {%- for category in categoryBreadcrumbs -%}
            {{- ' > ' -}} <a href="{{ path('app_category', {'categorySlug': category.slug}) }}">{{ category.name }}</a>
        {%- endfor -%}

        {% if app.request.get('_route') == 'app_listing_search' %}
            {{- ' > ' }} {{ 'trans.Search Engine' | trans }}
        {% endif %}
        {% if app.request.get('_route') == 'app_last_added' %}
            {{- ' > ' }} {{ 'trans.Last added' | trans }}
        {% endif %}
        {% if app.request.get('_route') == 'app_public_listings_of_user' %}
            {{- ' > ' }} {{ 'trans.Listings of user' | trans }}
        {% endif %}

        {% if app.request.get('_route') == 'app_public_listings_of_user' %}
            {{- ' > ' -}}
            <a class="font-weight-bold" href="{{ path('app_public_listings_of_user', {"user": listingListDto.filterByUser.id}) }}">
                {{ listingListDto.filterByUser | displayUserName }}
            </a>
        {% endif %}
    </div>

    <div class="container mt-md-3">
        <div class="row">
            <div class="col-12 d-md-none">
                <div
                        class="btn btn-secondary btn-sm mb-2 w-100 cursor-pointer"
                        data-toggle="collapse"
                        data-target="#filters"
                >
                    {{- 'trans.Show filters' | trans -}}
                </div>
            </div>

            <!-- filters -->
            <div class="col-md-3 d-none-soft d-md-block collapse d-print-none" id="filters">
                {% if categoryList is not empty %}
                    <div class="btn btn-dark mb-2 cursor-pointer" data-toggle="collapse" data-target=".show-category-select" onclick="$(this).remove()">
                        {{- 'trans.Select category' | trans -}}
                    </div>
                    <div class="card mb-3 show-category-select collapse">
                        <div class="card-header">
                            <strong>{{ 'trans.Category' | trans }}</strong>
                        </div>
                        <div>
                            {%- apply normalizeWhitespace -%}
                            {%- for category in categoryList -%}
                                <a
                                        href="{{ path('app_category', {'categorySlug': category.slug} | merge(queryParameters)) }}"
                                        class="link-list-item category-link {% if listingListDto.category and category.slug == listingListDto.category.slug  %}active{% endif %}"
                                >{{- category.name -}}</a>
                            {%- endfor -%}
                            {%- endapply -%}
                        </div>
                    </div>
                {% endif %}

                <div class="card mb-3">
                    <div class="card-header">
                        <strong>{{ 'trans.Filters' | trans }}</strong>
                        <a href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')) }}" class="float-right">
                            {{- 'trans.clear filters' | trans -}}
                        </a>
                    </div>
                    <div class="card-body">
                        <form method="get">
                            <div class="mb-3">
                                <div class="input-group mb-2 mr-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-search"></i></div>
                                    </div>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="query"
                                            placeholder="{{ 'trans.keyword'|trans }}"
                                            value="{{ app.request.get('query') | default }}"
                                    >
                                </div>
                            </div>

                            {%- if app.request.get('user') is not empty -%}
                                <div class="mb-3">
                                        <div class="custom-control custom-checkbox">
                                            {%- apply normalizeWhitespace -%}
                                            <input
                                                    name="user"
                                                    value="{{ app.request.get('user') }}"
                                                    checked
                                                    type="checkbox"
                                                    id="option_user"
                                                    class="custom-control-input"
                                            >
                                            {%- endapply -%}
                                            <label class="custom-control-label" for="option_user">{{ 'trans.User listings' | trans }}</label>
                                        </div>
                                </div>
                            {%- endif -%}

                            <!-- price -->
                            <label>{{ 'trans.Amount or price' | trans }}</label>
                            <div class="form-row mb-3">
                                <div class="col-6">
                                    {%- apply normalizeWhitespace -%}
                                    <input
                                            type="number"
                                            id="min_price"
                                            class="form-control"
                                            name="min_price"
                                            value="{{ app.request.get('min_price') | default }}"
                                            placeholder="{{ 'trans.min' | trans }}"
                                    >
                                    {%- endapply -%}
                                </div>

                                <div class="col-6">
                                    {%- apply normalizeWhitespace -%}
                                    <input
                                            type="number"
                                            id="max_price"
                                            class="form-control"
                                            name="max_price"
                                            value="{{ app.request.get('max_price') | default }}"
                                            placeholder="{{ 'trans.max' | trans }}"
                                    >
                                    {%- endapply -%}
                                </div>
                            </div>

                            {# @var customField \App\Entity\CustomField #}
                            {%- apply spaceless -%}
                            {%- for customField in customFieldList -%}

                                {%- if customField.type == constant('\App\\Entity\\CustomField::SELECT_AS_CHECKBOXES') and customField.customFieldOptions is not empty -%}
                                    <div class="mb-3">
                                        <label class="text-break">{{ customField.name }}</label>
                                        {%- for customFieldOption in customField.customFieldOptions -%}
                                            {%- set checked = customFieldOption.value in app.request.get('customField')[customField.id]['values'] | default([]) -%}
                                            <div class="custom-control custom-checkbox {% if loop.index > 5 and not checked %}collapse{% endif %} show-more-custom-field-{{ customField.id }}">
                                                {%- apply normalizeWhitespace -%}
                                                <input
                                                    name="customField[{{ customField.id }}][values][]"
                                                    value="{{ customFieldOption.value }}"
                                                    {% if checked %}{{- ' checked ' -}}{% endif %}
                                                    type="checkbox"
                                                    id="option_{{ customFieldOption.id }}"
                                                    class="custom-control-input"
                                                >
                                                <label
                                                        class="custom-control-label text-break"
                                                        for="option_{{ customFieldOption.id }}"
                                                >
                                                    {{- customFieldOption.name -}}
                                                </label>
                                                {%- endapply -%}
                                            </div>
                                        {%- endfor -%}
                                        {%- if customField.customFieldOptions.count > 5 -%}
                                            <div class="btn btn-link px-0 pt-2 pt-lg-1 cursor-pointer" data-toggle="collapse" data-target=".show-more-custom-field-{{ customField.id }}" onclick="$(this).remove()">{{ 'trans.show more' | trans }}</div>
                                        {%- endif -%}
                                    </div>
                                {% endif %}

                                {%- if customField.type == constant('\App\\Entity\\CustomField::SELECT_SINGLE') and customField.customFieldOptions is not empty -%}
                                    <div class="mb-3">
                                        <label class="text-break">{{ customField.name }}</label>
                                        <div>
                                            <select name="customField[{{ customField.id }}][values][]" class="custom-select">
                                                <option value="">{{ 'trans.Select' | trans }}</option>
                                                {%- for customFieldOption in customField.customFieldOptions -%}
                                                    {%- apply normalizeWhitespace -%}
                                                    <option
                                                            value="{{ customFieldOption.value }}"
                                                            {% if customFieldOption.value in app.request.get('customField')[customField.id]['values'] | default([]) %}
                                                                {{- 'selected' -}}
                                                            {% endif %}
                                                    >
                                                        {{- customFieldOption.name -}}
                                                    </option>
                                                    {%- endapply -%}
                                                {%- endfor -%}
                                            </select>
                                        </div>
                                    </div>
                                {%- endif -%}

                                {%- if customField.type == constant('\App\\Entity\\CustomField::CHECKBOX_MULTIPLE') and customField.customFieldOptions is not empty -%}
                                    <div class="mb-3">
                                        <label class="text-break">{{ customField.name }}</label>
                                        {%- for customFieldOption in customField.customFieldOptions -%}
                                            {%- set checked = customFieldOption.value in app.request.get('customField')[customField.id]['values'] | default([]) -%}
                                            <div class="custom-control custom-checkbox {% if loop.index > 5 and not checked %}collapse{% endif %} show-more-custom-field-{{ customField.id }}">
                                                {%- apply normalizeWhitespace -%}
                                                <input
                                                    name="customField[{{ customField.id }}][values][]"
                                                    value="{{ customFieldOption.value }}"
                                                    {% if checked %}{{- ' checked ' -}}{% endif %}
                                                    type="checkbox"
                                                    id="option_{{ customFieldOption.id }}"
                                                    class="custom-control-input"
                                                >
                                                <label
                                                        class="custom-control-label"
                                                        for="option_{{ customFieldOption.id }}"
                                                >
                                                    {{- customFieldOption.name -}}
                                                </label>
                                                {%- endapply -%}
                                            </div>
                                        {%- endfor -%}
                                        {%- if customField.customFieldOptions.count > 5 -%}
                                            <div class="btn btn-link px-0 pt-2 pt-lg-1 cursor-pointer" data-toggle="collapse" data-target=".show-more-custom-field-{{ customField.id }}" onclick="$(this).remove()">{{ 'trans.show more' | trans }}</div>
                                        {%- endif -%}
                                    </div>
                                {% endif %}

                                {% if customField.type in [
                                        constant('\App\\Entity\\CustomField::INTEGER_RANGE'),
                                    ]
                                %}
                                    <label class="text-break">{{ customField.name }} {%- if customField.unit is not empty %} [{{ customField.unit }}]{% endif -%}</label>
                                    <div class="form-row mb-3">
                                        <div class="col-6">
                                            {%- apply normalizeWhitespace -%}
                                            <input
                                                name="customField[{{ customField.id }}][range][min]"
                                                value="{{ app.request.get('customField')[customField.id]['range']['min'] | default }}"
                                                type="number"
                                                placeholder="{{ 'trans.min' | trans }}"
                                                class="form-control">
                                            {%- endapply -%}
                                        </div>

                                        <div class="col-6">
                                            {%- apply normalizeWhitespace -%}
                                            <input
                                                name="customField[{{ customField.id }}][range][max]"
                                                value="{{ app.request.get('customField')[customField.id]['range']['max'] | default }}"
                                                type="number"
                                                placeholder="{{ 'trans.max' | trans }}"
                                                class="form-control"
                                            >
                                            {%- endapply -%}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if customField.type in [
                                        constant('\App\\Entity\\CustomField::YEAR_RANGE'),
                                    ]
                                %}
                                    <label class="text-break">{{ customField.name }}</label>
                                    <div class="form-row mb-3">
                                        <div class="col-6">
                                            {%- apply normalizeWhitespace -%}
                                            <select
                                                name="customField[{{ customField.id }}][range][min]"
                                                class="form-control"
                                            >
                                                <option value=''>{{ 'trans.min' | trans }}</option>

                                                {%- set startYear = date().format('Y') -%}
                                                {%- for year in startYear..1980 -%}
                                                    <option
                                                            value="{{- year -}}"
                                                            {% if year == app.request.get('customField')[customField.id]['range']['min'] | default %}selected{% endif %}
                                                    >
                                                        {{- year -}}
                                                    </option>
                                                {%- endfor -%}
                                            </select>
                                            {%- endapply -%}
                                        </div>

                                        <div class="col-6">
                                            {%- apply normalizeWhitespace -%}
                                            <select
                                                name="customField[{{ customField.id }}][range][max]"
                                                class="form-control"
                                            >
                                                <option value=''>{{ 'trans.max' | trans }}</option>

                                                {%- set startYear = date().format('Y') -%}
                                                {%- for year in startYear..1980 -%}
                                                    <option
                                                            value="{{- year -}}"
                                                            {% if year == app.request.get('customField')[customField.id]['range']['max'] | default %}selected{% endif %}
                                                    >
                                                        {{ year }}
                                                    </option>
                                                {%- endfor -%}
                                            </select>
                                            {%- endapply -%}
                                        </div>
                                    </div>
                                {%- endif -%}
                            {%- endfor -%}
                            {%- endapply -%}

                            <button class="btn btn-primary w-100">{{ 'trans.Filter' | trans }}</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- filters end -->

            <!-- listing list -->
            <div class="col-md-9">
                {% if category and category.hasChildren() and pager.currentPage == 1 %}
                    <div class="mb-2 d-print-none">
                        <span class="align-top d-inline-block pb-2 pb-lg-1">{{ 'trans.Subcategories' | trans }}:&nbsp;</span>
                        {%- apply normalizeWhitespace -%}
                            {%- for category in categoryList -%}
                                <a
                                        href="{{ path('app_category', {'categorySlug': category.slug} | merge(queryParameters)) }}"
                                        class="{% if loop.index > 3 and loop.length > 4 %}collapse{% endif %} w-100-small d-inline-block-soft d-lg-inline-block pt-1 pb-2 py-lg-0 pr-3 align-top text-truncate show-more-subcategories"
                                >{{- category.name -}}</a>
                            {%- endfor -%}
                            {% if categoryList | length > 4 %}
                                <div
                                        class="w-100-small text-left btn btn-link d-inline-block d-lg-none px-0 pt-1 align-top cursor-pointer"
                                        data-toggle="collapse"
                                        data-target=".show-more-subcategories"
                                        onclick="$(this).remove()"
                                >
                                    {{- 'trans.show more' | trans -}}
                                </div>
                            {% endif %}
                        {%- endapply -%}
                    </div>
                {% endif %}

                {% if listingListDto.filterByUser %}
                    <div class="mb-2">
                        <h4>{{- 'trans.Listings of user' | trans }}: {{ listingListDto.filterByUser | displayUserName -}}</h4>
                    </div>
                {% endif %}

                <!-- listing -->
                <div class="listing-list">
                    {%- apply spaceless -%}
                    {%- for listing in listingList -%}
                        <div id="listing-{{ listing.id }}" class="clickableDiv card listing-list-item cursor-pointer mb-2 {% if listing.featured %}listing-recommended{% endif %}">
                            <a class="clickableDivLink" title="{{ listing.title }}" href="{{ path('app_listing_show', {id: listing.id, 'slug': listing.slug}) }}"></a>
                            <div class="container-fluid">
                                <div class="row py-md-1">
                                    <div class="col-12 col-md-4 p-0 px-md-1 {% if listing.mainImage is empty %}d-none-soft{% endif %} d-md-block">
                                        <a class="d-block text-center" title="{{ listing.title }}" href="{{ path('app_listing_show', {id: listing.id, 'slug': listing.slug}) }}">
                                            <img class="listing-list-img {% if listing.mainImageInListSize is empty %}listing-list-img-blank{% endif %}" alt="{{ listing.title }}" src="{{ asset(listing.mainImageInListSize | default('static/system/blank.png')) }}">
                                        </a>
                                    </div>

                                    <div class="card-text col-12 col-md-8 pb-3">
                                        <h5>
                                            <strong>
                                                <a href="{{ path('app_listing_show', {id: listing.id, 'slug': listing.slug}) }}" class="listingListLink use-visited-color d-block pt-2 w-100">
                                                    {{- listing.title -}}
                                                </a>
                                            </strong>
                                        </h5>

                                        <div>
                                            {% if listing.city is not empty %}
                                                <span class="mr-1">
                                                    <i class="fas fa-map-marker-alt text-danger d-inline"></i>&nbsp;{{ listing.city }}
                                                </span>
                                            {% endif %}
                                            <span class="mr-1 text-nowrap">
                                                <i class="fas fa-calendar text-black-50"></i> {{ listing.orderByDate | date }}
                                            </span>
                                            {%- if listing.featured -%}
                                                <span class="badge badge-pill badge-warning mr-2">{{ 'trans.Featured' | trans }}</span>
                                            {%- endif -%}
                                        </div>

                                        {% if listing.price is not empty %}
                                            <div class="mt-1">
                                                <span class="btn btn-dark btn-sm price mr-2">
                                                    {{ 'trans.Price' | trans }}: {{ listing.price | money }}
                                                </span>

                                                {% if listing.priceFor %}
                                                    <span class="mr-2">{{ ('trans.priceFor.'~listing.priceFor) | trans }}</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-info w-100">
                            {{- 'trans.No classified ads matching criteria were found' | trans -}}
                        </div>
                    {%- endfor -%}
                    {%- endapply -%}
                </div>

                {% include 'base/_pagination.html.twig' %}
            </div>
        </div>
    </div>
{% endblock body %}
