{% extends 'base.html.twig' %}

{# @var settings \App\Service\Setting\SettingsDto #}
{% set settings = settings() %}

{% block title %}{{ listing.title }}{% endblock %}

{% block body %}

    <div class="container mt-3 mb-3 text-break">
        {% if settings.masterSiteLinkShow %}
            <a href="{{ settings.masterSiteUrl }}">{{ settings.masterSiteAnchorText }}</a>
            >
        {% endif %}

        <a href="{{ path('app_index') }}">{{ 'trans.Classifieds' | trans }}</a>

        {% for category in categoryBreadcrumbs %}
            &gt; <a href="{{ path('app_category', {'categorySlug': category.slug}) }}">{{ category.name }}</a>
        {% endfor %}
    </div>

    <div class="container mt-3 listing-show">
        <div class="row">
            <div class="col-md-7">
                {% if userOrAdmin(listing) and listing.status not in [constant('\App\\Entity\\Listing::STATUS_ACTIVE'), constant('\App\\Entity\\Listing::STATUS_ACTIVE_FEATURED')] %}
                    {% if app.request.get('showPreviewForOwner', false) %}
                        <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}" class="btn btn-primary w-100 mb-2">
                            {{- 'trans.Show as visible to public' | trans -}}
                        </a>
                    {% else %}
                        <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug, 'showPreviewForOwner': 1}) }}" class="btn btn-primary w-100 mb-2">
                            {{- 'trans.Click to preview how listing would look after activation' | trans -}}
                        </a>
                    {% endif %}
                {% endif %}

                {% if displayAsExpired(listing) %}
                    <div class="alert alert-danger">
                        <h1>{{ 'trans.Listing has expired' | trans }}</h1>
                        <div>
                            {{ 'trans.See other active listings in category' | trans }}:
                            <a href="{{ path('app_category', {'categorySlug': listing.category.slug}) }}">
                                {{ listing.category.parent.name }}
                                ⇾
                                {{ listing.category.name }}
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="row mb-3">
                    <div class="col-sm-10">
                        <h1 class="text-break">{{ listing.title }}</h1>
                    </div>
                </div>

                {% if isCurrentUserListing(listing) %}
                    <a href="{{ path('app_listing_edit', {'id': listing.id}) }}" class="btn btn-primary mb-2 mr-1 d-md-none">
                        {{- 'trans.Edit listing' | trans -}}
                    </a>
                {% endif %}

                {% if lowSecurityCheckIsAdminInPublic() %}
                    <a href="{{ path('app_admin_listing_edit', {'id': listing.id}) }}" class="btn btn-outline-danger mb-2 mr-1 d-md-none">
                        {{- 'trans.Edit listing as Admin' | trans -}}
                    </a>
                {% endif %}

                {% if userOrAdmin(listing) %}
                    <span class="{{ getListingStatusClass(listing) }} text-nowrap d-md-none">{{ getListingStatus(listing) }}</span>
                {% endif %}

                {% if listing.listingFiles is not empty %}
                    <div class="mb-2 text-center">
                        <div class="zoom-wrapper">
                            <a
                                    href="javascript:"
                                    data-fancybox-trigger="file"
                                    class="fancybox"
                            >
                                <img
                                        src="{{ asset(listing.mainImageNoCache.pathInNormalSize) }}"
                                        class="listing-show-top-image"
                                        alt=""
                                />
                            </a>
                            <a
                                    dir="ltr"
                                    class="zoom"
                                    href="javascript:"
                                    data-fancybox-trigger="file"
                            >
                                <i dir="ltr" class="fa fa-search-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="mt-2 mb-1">
                    {% for listingCustomFieldValue in listing.listingCustomFieldValues %}
                        {# @var listingCustomFieldValue \App\Entity\ListingCustomFieldValue #}
                        <div class="name-value-group mb-2 mr-1 mr-md-2">
                            <div class="name text-break">
                                {{ listingCustomFieldValue.customField.name }}
                            </div>
                            {% if listingCustomFieldValue.customFieldOption is empty %}
                                {% if listingCustomFieldValue.customField.type == constant('\App\\Entity\\CustomField::INTEGER_RANGE') %}
                                    <strong class="text-break">{{ listingCustomFieldValue.value | thousandsSeparate }} {{ listingCustomFieldValue.customField.unit | default }}</strong>
                                {% else %}
                                    <strong class="text-break">{{ listingCustomFieldValue.value }}</strong>
                                {% endif %}
                            {% else %}
                                <strong class="text-break">{{ listingCustomFieldValue.customFieldOption.name }}</strong>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                {% if listing.price is not empty %}
                    <div class="my-1 d-md-none">
                        <h3 class="btn btn-dark btn-lg">
                            {{ 'trans.Price' | trans }}: {{ listing.price | money }}
                        </h3>

                        {% if listing.priceFor %}
                            <span>{{ ('trans.priceFor.'~listing.priceFor) | trans }}</span>
                        {% endif %}

                        {% if listing.priceNegotiable is not null %}
                            {% if listing.priceNegotiable %}
                                <span class="badge badge-success">
                                    {{ 'trans.negotiable' | trans }}
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    {{ 'trans.NOT negotiable' | trans }}
                                </span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}

                <!-- description -->
                <div class="listing-show-description border-radius-1 mb-2 p-1 px-md-2 py-md-3">
                    <div class="listing-show-description-content text-break px-2 px-md-3 py-2">
                        {{ listing.description | nl2br }}
                    </div>
                </div>

                {% if listing.listingFiles is not empty %}
                    <div class="text-center">
                        {% for listingFile in listing.listingFiles.slice(1) %}
                            <a
                                    href="javascript:"
                                    data-fancybox-trigger="file"
                                    data-fancybox-index="{{ loop.index }}"
                                    class="fancybox"
                            >
                                <img
                                        class="mb-2"
                                        src="{{ asset(listingFile.pathInNormalSize) }}"
                                        alt="{{ listing.title }}"
                                />
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- listing id -->
                <div class="mb-2 d-none d-md-block">
                    {{ 'trans.Listing identifier' | trans }}: {{ listing.id }}

                    <div class="float-md-right">
                        {{ 'trans.Views' | trans }}: {{ (listingShowDto.viewsCount+1) | thousandsSeparate }}
                    </div>
                </div>
                <!-- end main content -->
            </div>

            <!-- Sidebar -->
            <div class="col-md-5">

                <div class="d-none-soft d-md-block mb-2">
                    {% if isCurrentUserListing(listing) %}
                        <a href="{{ path('app_listing_edit', {'id': listing.id}) }}" class="btn btn-primary mb-2 mr-1">
                            {{- 'trans.Edit listing' | trans -}}
                        </a>
                    {% endif %}

                    {% if lowSecurityCheckIsAdminInPublic() %}
                        <a href="{{ path('app_admin_listing_edit', {'id': listing.id}) }}" class="btn btn-outline-danger mb-2 mr-1">
                            {{ 'trans.Edit listing as Admin' | trans }}
                        </a>
                    {% endif %}

                    {% if userOrAdmin(listing) %}
                        <span class="{{ getListingStatusClass(listing) }} text-nowrap">{{ getListingStatus(listing) }}</span>
                    {% endif %}

                    {% if listing.price is not empty %}
                        <div class="my-1">
                            <h3 class="btn btn-dark btn-lg">
                                {{ 'trans.Price' | trans }}: {{ listing.price | money }}
                            </h3>

                            {% if listing.priceFor %}
                                <span>{{ ('trans.priceFor.'~listing.priceFor) | trans }}</span>
                            {% endif %}

                            {% if listing.priceNegotiable is not null %}
                                {% if listing.priceNegotiable %}
                                    <span class="badge badge-success">
                                    {{ 'trans.negotiable' | trans }}
                                </span>
                                {% else %}
                                    <span class="badge badge-danger">
                                    {{ 'trans.NOT negotiable' | trans }}
                                </span>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                <!-- info -->
                <div class="card mb-3 w-100">
                    <h5 class="card-header">{{ 'trans.Informations' | trans }}</h5>

                    <div class="card-body">
                        {% if displayAsExpired(listing) %}
                            <div class="btn btn-outline-secondary w-100 disabled">
                                {{ 'trans.Listing has expired' | trans }}
                            </div>
                        {% else %}
                            <button
                                    class="btn btn-success w-100 mb-3 showContactInformation"
                                    onclick="showContactInformation({{ listing.id }})"
                            >
                                {{ 'trans.Show contact information' | trans }}
                            </button>
                        {% endif %}

                        {% if listing.city is not empty and not displayAsExpired(listing) %}
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-sm-4 col-md-5">
                                        {{ 'trans.City' | trans }}
                                    </div>

                                    <div class="col-sm-8 col-md-7">
                                        {{ listing.city }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-sm-4 col-md-5">
                                    {{ 'trans.Date added' | trans }}
                                </div>

                                <div class="col-sm-8 col-md-7">
                                    {{ listing.firstCreatedDate | date(dateFormatShort) }}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row">
                                <div class="col-sm-4 col-md-5">
                                    {{ 'trans.Expiration date' | trans }}
                                </div>

                                <div class="col-sm-8 col-md-7">
                                    {{ listing.validUntilDate | date(dateFormatShort) }}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 d-none d-md-block">
                            <div class="row">
                                <div class="col-sm-4 col-md-5">
                                    {{ 'trans.Views' | trans }}
                                </div>

                                <div class="col-sm-8 col-md-7">
                                    {{ (listingShowDto.viewsCount+1) | thousandsSeparate }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if not displayAsExpired(listing) %}
                        <div class="card-footer">
                            <a
                                    href="{{ path('app_user_listings', {"user": listing.user.id}) }}"
                                    class="btn btn-sm btn-dark btn-block mt-auto"
                            >
                                {{ 'trans.User listings' | trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>

                <!-- photos side -->
                {% if listing.listingFiles.count > 0 %}
                    <div class="card mb-3 d-none d-md-block">
                        <h5 class="card-header">{{ 'trans.Photos' | trans }}</h5>

                        <div class="card-body">
                            {% for listingFile in listing.listingFiles %}
                                <div class="img-thumbnail d-inline-block mr-2 mb-2 listing-show-side-photo">
                                    <a
                                            href="{{ asset(listingFile.pathInNormalSize) }}"
                                            data-fancybox="file"
                                            class="fancybox"
                                    >
                                        <div
                                                class="pt-100 img-cover-center rounded"
                                                style="background-image:url('{{ asset(listingFile.pathInNormalSize) }}');"
                                        ></div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <!-- share listing -->
                {% if not displayAsExpired(listing) %}
                    <div class="card mb-3 d-none d-md-block">
                        <h5 class="card-header">{{ 'trans.Share This Listing' | trans }}</h5>

                        <div class="card-body">
                            <div class="mb-2" data-href="{{ url('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ url('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}">
                                    {{- 'trans.Share on Facebook' | trans -}}
                                </a>
                            </div>

                            <div class="mb-2">
                                <a href="https://twitter.com/intent/tweet?url={{ url('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}&text={{ listing.title | url_encode }}">
                                    {{- 'trans.Share on Twitter' | trans -}}
                                </a>
                            </div>

                            <button onclick="copyTextToClipboard('{{ url('app_listing_show', {'id': listing.id, 'slug': listing.slug}) }}')" class="btn btn-sm btn-secondary d-block mb-2">
                                {{- 'trans.Copy link to this listing' | trans -}}
                            </button>
                        </div>
                    </div>
                {% endif %}

                <!-- listing id -->
                <div class="mb-2 px-1 d-md-none">
                    <div>
                        {{ 'trans.Listing identifier' | trans }}: {{ listing.id }}
                    </div>
                    <div>
                        {{ 'trans.Views' | trans }}: {{ (listingShowDto.viewsCount+1) | thousandsSeparate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
    <script>
        var showPreviewForOwner = "{{ app.request.query.get('showPreviewForOwner', '') }}";

        $('[data-fancybox="file"]').fancybox({
            buttons: [
                "zoom",
                "thumbs",
                "close"
            ],
            hash: false,
        });

        function showContactInformation(listingId) {
            var params = {};
            if (showPreviewForOwner !== '') {
                params.showPreviewForOwner = 1;
            }

            $.post(
                Routing.generate('app_listing_contact_data', params),
                {
                    listingId: listingId
                }
            ).done(function (response) {
                $('.listing-contact-data').remove();

                var $showContactInformation = $('.showContactInformation');
                $showContactInformation.before(response.html);
                $showContactInformation.remove();
            });
        }

        var $topImage = $('.listing-show-top-image');
        if ($topImage.width() < 300 || $topImage.height() < 300) {
            $topImage.parents('.zoom-wrapper').find('.zoom').remove();
        }
    </script>
{% endblock %}
