{% extends 'base.html.twig' %}

{# @var settings \App\Service\Setting\SettingsDto #}
{% set settings = settings() %}

{% block title -%}
    {{- listing.category.parent.name }}
    ⇾
    {{ listing.category.name -}}
{%- endblock %}

{% block body %}

    <div class="container mt-3 mb-3 text-break">
        {% if settings.masterSiteLinkShow %}
            <a href="{{ settings.masterSiteUrl }}">{{ settings.masterSiteAnchorText }}</a>
            >
        {% endif %}

        <a href="{{ path('app_index') }}">{{ 'trans.Classifieds' | trans }}</a>

        {% for category in categoryBreadcrumbs %}
            &gt; <a href="{{ path('app_category', {'categorySlug': category.slug}) }}">{{ category.name }}</a>
        {% endfor %}
    </div>

    <div class="container mt-3 listing-show">
        <div class="row">
            <div class="col-md-7">
                {% if userOrAdmin(listing) %}
                    <a href="{{ path('app_listing_show', {'id': listing.id, 'slug': listing.slug, 'showPreviewForOwner': 1}) }}" class="btn btn-primary w-100 mb-2">
                        <div>{{- 'trans.Current status' | trans -}}: <span class="{{ getListingStatusClass(listing) }}">{{ getListingStatus(listing) }}</span>.</div>
                        <div>{{- 'trans.Live view, click to preview how listing would look after activation' | trans -}}</div>
                    </a>
                {% endif %}
                <div class="alert alert-danger">
                    {% if listing.status in [constant('\App\\Entity\\Listing::STATUS_PENDING')] %}
                        <h1>{{ 'trans.Listing awaits activation' | trans }}</h1>
                    {% endif %}

                    {% if listing.status in [constant('\App\\Entity\\Listing::STATUS_REJECTED')] %}
                        <h1>{{ 'trans.Listing has been rejected' | trans }}</h1>
                    {% endif %}

                    {% if listing.status in [constant('\App\\Entity\\Listing::STATUS_DEACTIVATED')] %}
                        <h1>{{ 'trans.Deactivated by user' | trans }}</h1>
                    {% endif %}

                    {% if listing.status in [constant('\App\\Entity\\Listing::STATUS_ADMIN_REMOVED'), constant('\App\\Entity\\Listing::STATUS_USER_REMOVED')] %}
                        <h1>{{ 'trans.Listing has been deleted' | trans }}</h1>
                    {% endif %}

                    {% if listing.status in [constant('\App\\Entity\\Listing::STATUS_EXPIRED')] %}
                        <h1>{{ 'trans.Listing has expired' | trans }}</h1>
                    {% endif %}
                    <div>
                        {{ 'trans.See other active listings in category' | trans }}:
                        <a href="{{ path('app_category', {'categorySlug': listing.category.slug}) }}">
                            {{ listing.category.parent.name }}
                            ⇾
                            {{ listing.category.name }}
                        </a>
                    </div>
                </div>

                <div class="mb-2 d-none d-md-block">
                    {{ 'trans.Listing identifier' | trans }}: {{ listing.id }}
                </div>
                <!-- end main content -->
            </div>

            <!-- Sidebar -->
            <div class="col-md-5">
                <div class="d-none-soft d-md-block">
                    {% if isCurrentUserListing(listing) %}
                        <a href="{{ path('app_listing_edit', {'id': listing.id}) }}" class="btn btn-primary mb-2 mr-1">
                            {{- 'trans.Edit listing' | trans -}}
                        </a>
                    {% endif %}

                    {% if lowSecurityCheckIsAdminInPublic() %}
                        <a href="{{ path('app_admin_listing_edit', {'id': listing.id}) }}" class="btn btn-outline-danger mb-2 mr-1">
                            {{ 'trans.Edit listing as Admin' | trans }}
                        </a>
                    {% endif %}

                    {% if userOrAdmin(listing) %}
                        <span class="{{ getListingStatusClass(listing) }} text-nowrap">{{ getListingStatus(listing) }}</span>
                    {% endif %}

                    {% if lowSecurityCheckIsAdminInPublic() %}
                        <div>
                            {%- if adminShowActivate(listing) -%}
                                <form
                                        method="post"
                                        action="{{ path('app_admin_listing_activate', {'id': listing.id, 'redirectToNextWaiting': 1}) }}"
                                        onsubmit="return confirm('{{ 'trans.Activate' | trans }}: {{ listing.title }}?');"
                                        class="d-inline"
                                >
                                    <input type="hidden" name="_method" value="PATCH">
                                    <input type="hidden" name="_token" value="{{ csrf_token('adminActivate' ~ listing.id) }}">
                                    <button class="btn btn-success mb-1">{{ 'trans.Activate' | trans }}</button>
                                </form>
                            {% endif %}

                            {% if adminShowReject(listing) %}
                                <a
                                        href="{{ path('app_admin_listing_reject', {'id': listing.id}) }}"
                                        target="_blank"
                                        class="btn btn-warning mb-1"
                                >
                                    {{ 'trans.Reject' | trans }}
                                </a>
                            {% endif %}

                            <form
                                    method="post"
                                    action="{{ path('app_admin_listing_action_redirect_next_waiting_activation') }}"
                                    class="d-inline"
                            >
                                <input type="hidden" name="_method" value="PATCH">
                                <input type="hidden" name="_token" value="{{ csrf_token('adminRedirectNextWaitingActivation') }}">
                                <button class="btn btn-outline-dark mb-1">{{ 'trans.Go to next waiting' | trans }}</button>
                            </form>
                        </div>
                    {% endif %}
                </div>

                <!-- info -->
                <div class="card mb-3 w-100">
                    <div class="card-body">
                        <div class="mb-2 py-2">
                            <div class="row">
                                <div class="col-sm-4 col-md-5">
                                    {{ 'trans.Date added' | trans }}
                                </div>

                                <div class="col-sm-8 col-md-7">
                                    {{ listing.firstCreatedDate | date(dateFormatShort) }}
                                </div>
                            </div>
                        </div>

                        <div class="mb-2 py-2">
                            <div class="row">
                                <div class="col-sm-4 col-md-5">
                                    {{ 'trans.Expiration date' | trans }}
                                </div>

                                <div class="col-sm-8 col-md-7">
                                    {{ listing.validUntilDate | date(dateFormatShort) }}
                                </div>
                            </div>
                        </div>

                        <div class="mb-2 py-2">
                            <div class="row">
                                <div class="col-sm-4 col-md-5">
                                    {{- 'trans.Listing identifier' | trans -}}
                                </div>

                                <div class="col-sm-8 col-md-7">
                                    {{- listing.id -}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
