<div class="listing-contact-data-wrapper js__listingContactData">
    {%- if listing.phone is empty and listing.email is empty ~%}
        <button class="alert alert-danger mb-3">
            {{- 'trans.No contact information found, please check listing description' | trans -}}
        </button>
    {%- endif ~%}

    {%- if listing.phone is not empty and not displayAsExpired(listing) ~%}
        <div class="row mb-3">
            <div class="col-sm-4 col-md-5">
                <span>{{ 'trans.Phone' | trans }}</span>
                <button
                        class="js__copyToClipboard btn btn-sm btn-secondary float-right"
                        data-clipboard-value="{{ listing.phone }}"
                >
                    {{- 'trans.Copy' | trans -}}
                </button>
            </div>
            <div class="col-sm-8 col-md-7">
                <a href="tel:{{ listing.phone }}">{{ listing.phone | phone }}</a>
            </div>
        </div>
    {%- endif ~%}

    {%- if listing.email is not empty and listing.emailShow and not displayAsExpired(listing) ~%}
        <div class="row mb-3">
            <div class="col-sm-4 col-md-5">
                <span>{{ 'trans.Email' | trans }}</span>
                <button
                        class="js__copyToClipboard btn btn-sm btn-secondary float-right"
                        data-clipboard-value="{{ listing.email }}"
                >
                    {{- 'trans.Copy' | trans -}}
                </button>
            </div>
            <div class="col-sm-8 col-md-7">
                <a target="_blank" href="mailto:{{ listing.email }}">{{ listing.email }}</a>
            </div>
        </div>
    {%- endif ~%}
</div>
