{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <div class="container mt-3 mt-md-4">
        <div class="row">
            <div class="col-md-8 mb-3 mb-2">
                <h2 class="text-break">{{ page.title }}</h2>

                <div class="text-break">
                    {{ page.content | nl2br | linkifyDoFollow }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <h5 class="card-header">{{ 'trans.Related pages' | trans }}</h5>

                    <div class="card-body">
                        {% for page in relatedPages %}
                            <div>
                                <a href="{{ path('app_page', {'slug': page.slug}) }}">{{ page.title }}</a>
                            </div>
                        {% endfor %}
                        <div>
                            <a href="{{ path('app_credits') }}">{{ 'trans.Credits' | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
