<form
        method="post"
        action="{{ path('app_admin_featured_package_delete', {'id': featuredPackage.id}) }}"
        data-confirm-message="{{ 'trans.Delete featured package' | trans }}: {{ featuredPackage.name }}, {{ featuredPackage.adminName }}"
        class="d-inline js__confirm"
>
<input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('csrf_deleteFeaturedPackage' ~ featuredPackage.id) }}">
    <button class="btn btn-danger">{{ 'trans.Delete' | trans }}</button>
</form>
