{{ form_start(form) }}
{{ form_widget(form) }}

    <div>
        <h1>{{ 'trans.Categories' | trans }}</h1>

        <div class="mb-2">
            <div class="row">
                <div class="col-md-4 mb-3">
                    {% for categorySelection in categorySelectionList %}
                        {# @var category \App\Entity\Category  #}
                        {% set category = categorySelection.category %}
                        {% if category.lvl == 1 and not loop.first %}
                            </div><div class="col-md-4 mb-3">
                        {% endif %}
                        <div class="custom-control custom-checkbox" style="margin-left: {{ (category.lvl-1) * 2 }}rem">
                            {% if category.lvl > 1 %}
                                <input
                                        type="checkbox"
                                        id="category_{{ category.id }}"
                                        name="selectedCategories[]"
                                        value="{{ category.id }}"
                                        {% if categorySelection.selected %}checked{% endif %}
                                        class="custom-control-input"
                                >
                                <label for="category_{{ category.id }}" class="custom-control-label">
                                    {{- category.name -}}
                                </label>
                            {% else %}
                                <div class="pl-2 font-weight-bold text-break">{{- category.name -}}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('trans.Save' | trans) }}</button>
{{ form_end(form) }}
