{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Edit custom field' | trans }}{% endblock %}

{% block body %}
<div class="container mt-3">
    <div class="row mb-2">
        <div class="col-md-8">
            <h1>{{ 'trans.Edit custom field' | trans }}</h1>
        </div>
        <div class="col-md-4 text-md-right">
            <a href="{{ path('app_admin_custom_field_index') }}">{{ 'trans.back to list' | trans }}</a>
            {{ include('admin/custom_field/_delete_form.html.twig') }}
        </div>
    </div>

    {{ include('admin/custom_field/_form.html.twig', {'button_label': 'trans.Update' | trans}) }}
</div>

    {% if custom_field.type in [
        constant('\App\\Entity\\CustomField::TYPE_SELECT'),
        constant('\App\\Entity\\CustomField::TYPE_SELECT_SINGLE'),
        constant('\App\\Entity\\CustomField::TYPE_CHECKBOX_MULTIPLE'),
    ]
    %}
        <div class="container mt-3">
            <div class="row mb-2">
                <div class="col-md-6">
                    <h1>{{ 'trans.Options' | trans }}</h1>
                </div>
                <div class="col-md-6 text-md-right">
                    <button class="btn btn-success saveOrder mb-1">{{ 'trans.Save order' | trans }}</button>

                    <a href="{{ path('app_admin_custom_field_option_add', {id: custom_field.id}) }}" class="btn btn-primary mb-1">{{ 'trans.Add option' | trans }}</a>
                </div>
            </div>

            <div class="list-group sortable mb-2">
                {% for customFieldOption in custom_field.customFieldOptions %}
                    <div class="list-group-item sortAlphabeticallyElement"  data-id="{{ customFieldOption.id }}" data-name="{{ customFieldOption.name }}">
                        <i class="fas fa-arrows-alt sortableHandle"></i>
                        {{ customFieldOption.name }}

                        <div class="float-right">
                            <a
                                    href="{{ path('app_admin_custom_field_option_edit', {'id': customFieldOption.id}) }}"
                                    class="btn btn-dark ml-2 ml-md-5 mb-1"
                            >{{ 'trans.Edit' | trans }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="mb-2">
                <button class="btn btn-secondary sortAlphabetically">{{ 'trans.Sort Alphabetically' | trans }}</button>
                <a href="{{ path('app_admin_custom_field_option_copy', {'id': custom_field.id}) }}" class="btn btn-secondary">{{ 'trans.Copy options from other custom field' | trans }}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <!-- CSRF -->
    <script type="text/javascript">
        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': '{{ csrf_token('adminCustomFieldOptionsSaveSort') }}',
            }
        });
    </script>
    <script>
        $('.sortable').sortable({
            handle: '.sortableHandle'
        });

        $('.saveOrder').click(function () {
            let orderedIdList = $('.sortable').sortable('widget').toArray();

            $.ajax(Routing.generate('app_admin_custom_field_options_save_order', []), {
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({
                        orderedIdList: orderedIdList
                    })
                }
            );
        });

        $('.sortAlphabetically').click(function () {
            let sortElementList = [];
            $('.sortAlphabeticallyElement').each(function (k, el) {
                sortElementList.push({
                    id: $(el).data('id'),
                    name: $(el).data('name'),
                });
            });
            sortElementList.sort((a, b) => (a.name > b.name) ? 1 : -1);

            let sort = sortElementList.map(function (el) {
                return el.id;
            });
            $('.sortable').sortable('widget').sort(sort);
        });
    </script>
{% endblock %}
