{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.Custom fields' | trans }}{% endblock %}

{% block body %}
<div class="mt-3">
    <div class="row no-gutters mb-2">
        <div class="col-md-6">
            <h1>{{ 'trans.Custom fields' | trans }}</h1>
        </div>
        <div class="col-md-6 text-md-right">
            <button class="btn btn-success saveOrder mb-1">{{ 'trans.Save order' | trans }}</button>

            <a href="{{ path('app_admin_custom_field_new') }}" class="btn btn-primary mb-1">{{ 'trans.Add custom field' | trans }}</a>
        </div>
    </div>

    <table class="table table-responsive-sm">
        <thead>
        <tr>
            <th style="width: 2rem;"></th>
            <th style="min-width: 8rem;">{{ 'trans.Name' | trans }}</th>
            <th style="min-width: 8rem;">{{ 'trans.Type' | trans }}</th>
            <th>{{ 'trans.Required?' | trans }}</th>
            <th>{{ 'trans.Searchable?' | trans }}</th>
            <th>{{ 'trans.Unit' | trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="sortable">
        {% for custom_field in custom_fields %}
            <tr data-id="{{ custom_field.id }}">
                <td><i class="fas fa-arrows-alt sortableHandle"></i></td>
                <td>
                    <div class="text-break">{{ custom_field.name }}</div>
                    {% if custom_field.nameForAdmin %}
                        <div class="text-muted text-break">{{ custom_field.nameForAdmin }}</div>
                    {% endif %}
                </td>
                <td>{{ ('trans.customFieldType.'~custom_field.type) | trans }}</td>
                <td>
                    <span class="{{ custom_field.required | boolGreenRedClass }}">
                        {{ custom_field.required | boolText | trans }}
                    </span>
                </td>
                <td>
                    <span class="{{ custom_field.searchable | boolGreenRedClass }}">
                        {{ custom_field.searchable | boolText | trans }}
                    </span>
                </td>
                <td class="text-break">{{ custom_field.unit }}</td>
                <td>
                    <a href="{{ path('app_admin_custom_field_edit', {'id': custom_field.id}) }}" class="btn btn-dark">
                        {{ 'trans.Edit' | trans }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99">{{ 'trans.no records found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
    <script src="{{ asset('asset/page/admin/custom-field.js') }}"></script>
{% endblock %}
