{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'trans.System setting' | trans }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        {% include 'admin/settings/_partial/_settings_menu.html.twig' %}

        <h1>{{ 'trans.System setting' | trans }}</h1>

        {{ form_start(form) }}

        <h2>{{ 'trans.Localization' | trans }}</h2>
        {{ form_row(form.languageIso) }}
        {{ form_row(form.countryIso) }}
        {{ form_row(form.timezone) }}
        {{ form_row(form.dateFormat) }}
        {{ form_row(form.dateFormatShort) }}
        {{ form_row(form.thousandSeparator) }}
        {{ form_row(form.decimalSeparator) }}

        <h2>{{ 'trans.Delete expired listings files' | trans }}</h2>
        {{ form_row(form.deleteExpiredListingFilesEnabled) }}
        {{ form_row(form.deleteExpiredListingFilesOlderThanDays) }}

        <h2>{{ 'trans.Email' | trans }}</h2>
        {{ form_row(form.emailFromAddress) }}
        {{ form_row(form.emailFromName) }}
        {{ form_row(form.emailReplyTo) }}

        <button class="btn btn-primary">{{ button_label | default('trans.Save' | trans) }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
